﻿@font-face
{
    font-family: Roboto-Black;
    src: url(./fonts/Roboto-Black.ttf);
}
@font-face
{
    font-family: Roboto-Bold;
    src: url(./fonts/roboto.bold.ttf);
}
@font-face
{
    font-family: Roboto-Regular;
    src: url(./fonts/roboto.regular.ttf);
}
@font-face
{
    font-family: Roboto-Medium;
    src: url(./fonts/Roboto-Medium.ttf);
}
.heading
{
    font-size: 28px;
}
.sub-heading
{
    font-size: 14px;
}
.content-heading
{
    font-size: 16px;
}
.common-heading
{
    color: #a7226c;
    font-family: Roboto-Bold;
}
.link
{
    cursor: pointer;
}
.textalign
{
    text-align: center;
}
.caps
{
    text-transform: uppercase;
}
.loc-loading
{
    position: absolute;
    top: 8px;
    right: 40px;
}
.image
{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: .7;
}
.images
{
    background-color: rgba(0,0,0,.87);
}
/*.image {
  width: 100%;
  background-size: contain;   
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
}*/
.image-content
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    width:100%;
    text-transform: uppercase;
}
.image-content span
{
    display: block;
    padding: 7.5px;
    margin: 0 0 10px;
    line-height: 1.2;
    color: white;
    word-break: break-all;
    word-wrap: break-word;
    background-color: transparent !important;
    border: 0px;
    border-radius: 0px;
}
.mobile-content
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: AvenirNext-bold;
}
.main-text
{
    font-size: 45px;
    color: #951A5A;
}
.mobile-main-text
{
    font-size: 25px;
    color: #951A5A;
}
.sub-text
{
    font-size: 24px;
    color: #951A5A;
}
.mobile-sub-text
{
    font-size: 12px;
    color: #951A5A;
}
.information
{
    background-color: #fff;
    overflow: auto;
    position: relative;
    overflow-y: auto;
}

.personalinfo
{
    margin-top: 20px;
}
.signup-button
{
    width: 100%;
    padding: 15px;
    font-size: 18px;
}


.padding0
{
    padding: 0px 0px 0px 0px;
}
.padding-l0
{
    padding-left: 0px;
}
.padding-r0
{
    padding-right: 0px;
}
.padding-t0
{
    padding-top: 0px;
}
.padding-b0
{
    padding-bottom: 0px;
}
.margin0
{
    margin: 0px 0px 0px 0px;
}
.margin-l0
{
    margin-left: 0px;
}
.margin-r0
{
    margin-right: 0px;
}
.margin-t0
{
    margin-top: 0px;
}
.margin-b0
{
    margin-bottom: 0px;
}
.fix-bottom
{
    margin-bottom: 15px; /*margin-top: 8px;*/
}
.fix-top
{
    margin-top: 10px;
}
.submitbtn
{
    width: 100%;
    padding: 15px;
    font-size: 22px;
    background-color: #a7226c;
    color: #fff;
    font-weight: unset;
}
.information::-webkit-scrollbar
{
    width: 0.5em;
}

.information::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.ms
{
    background-color: #a7226c;
    font-family: Roboto-bold;
    color: white;
    font-size: 17px;
    text-align: center;
}
.mb
{
    font-size: 32px;
}
.smallmobile
{
    color: white;
    font-family: Roboto-Bold;
    font-size: 15px;
}
.information::-webkit-scrollbar-thumb
{
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
::ng-deep .mat-form-field-ripple
{
    background-color: #951A5A !important;
}
::ng-deep .mat-form-field-underline
{
    background-color: #951A5A !important;
}
.rightsec
{
    /*border: 1px solid #ddd;*/
    box-shadow: 0px 0px 15px #ddd;
}
.logopadding
{
    padding-bottom: 11px;
    padding-left: 189px;
}
.word
{
    text-align: center;
    padding-top: 22px;
}

.center-align
{
    position: relative; /* taken out of the normal flow of the document */
    top: 50%; /* moved down by 50% of the screen height */
    transform: translateY(-50%); /* moved back up (Y axis) by half of its height to achieve the perfect center */
    width: 100%; /* needs to be defined to keep the default block behavior */
    text-align-last: center;
    -moz-text-align-last: center;
    margin: 0; /* again, for perfect center */
    text-align: justify;
}

.text-main-content
{
    font-family: Roboto-Black;
    /*font-size: 60px;*/
    color: #FFFFFF;
    letter-spacing: 0.94px;
    text-align: center;
    line-height: 70px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.20);
    font-size: 4vw;
}
.text-sub-content
{
    font-family: Roboto-Bold;
    /*font-size: 21px;*/
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 26px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.20);
    font-size: 1.5vw;
}
.checkbox-warning-filled [type="checkbox"][class*='filled-in']:checked + label:after
{
    border-color: #FF8800;
    background-color: #FF8800;
}
.login-top
{
    background: #A7226C;
    border-radius: 4px 4px 0 0;
    padding: 20px;
    color: #fff;
}
.login-heading
{
    font-family: Roboto-Black;
    font-size: 34px;
    color: #FFFFFF;
    letter-spacing: 0;
    font-weight: bold;
}
.login-subheading
{
    font-family: Roboto-Medium;
    font-size: 18px;
    color: #FFFFFF;
}
.login-section
{
    background: #FFFFFF;
    box-shadow: 0 0 24px 0 rgba(0,0,0,0.22), 0 24px 24px 0 rgba(0,0,0,0.30);
    border-radius: 4px;
    margin: 0 auto;
    display: inline-block;
    width: 45%;
    position: absolute;
    left: 28%;
    top: 25px;
    padding-bottom: 25px;
}
#divLoginMain
{
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}
#divLogin
{
    width: 100%;
    height: auto;
    float: none;
    background-image: none;
    background-repeat: no-repeat;
    background-position: unset;
    border-left: none;
    background: #fff;
}
#divLoginRight
{
    width: 100%;
    height: auto;
    float: none;
    background: none;
    background-repeat: no-repeat;
}
#divRightImage
{
    width: 100%;
    height: auto;
    background-image: none;
    background-repeat: no-repeat;
    float: left;
    background-position: unset;
    background: #fff;
}
#divLoginInner
{
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-top: 15px;
}
input:focus
{
    outline: none;
}
.divLoginBodyNew .TxtBx, .divLoginBodyNew .TxtBx:focus
{
    float: left;
    margin-top: 0;
    height: auto;
    border: none;
    padding: 5px 0;
    width: 100%;
    border-bottom: 1px solid #A7226C;
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #878787;
    letter-spacing: 0;
    margin-bottom: 20px;
}

.divLoginBodyNew .FPasswordBtn
{
    text-decoration: none;
    padding-top: 4px;
    text-align: center;
    width: 100%;
    color: #fff;
    float: left;
    margin-top: 10px;
    background: #A7226C;
    border-radius: 3px;
}
.divLoginBodyNew .SignInTextBx
{
    text-decoration: none;
    padding: 10px;
    width: 100%;
    float: left;
    margin-top: 15px;
    background: #A7226C;
    border-radius: 3px;
    margin-left: 0;
    height: auto;
    font-family: Roboto-Medium;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    outline:none !important;
}
.divLoginBodyNew .RegisterTextBx
{
    background: #E6E6E6;
    border-radius: 3px;
    font-family: Roboto-Medium;
    font-size: 16px;
    color: #4A4A4A;
    letter-spacing: 0;
    text-align: center;
}
.divLoginBodyNew .ChechBox
{
    font-size: 14px;
    float: left;
    color: #9b9b9b;
    margin-top: 0;
}

.divLoginBodyNew input[type=checkbox]
{
    margin: 5px 0 0;
    margin-top: 1px\9;
    line-height: normal;
    opacity: 0.54;
    background: #010101;
    position: relative;
    top: 3px;
}
.divLoginBodyNew .ChechBox label
{
    font-weight: unset;
    font-family: Roboto-Bold;
    font-size: 12px;
    color: #9B9B9B;
    letter-spacing: 0;
    margin-left: 15px;
}
.divLoginBodyNew .forgotPassword
{
    margin-top: 0;
    text-decoration: none;
    background-color: transparent;
    float: right;
    padding: 5px 0;
    border-radius: unset;
    box-shadow: none;
    font-family: Roboto-Bold;
    font-size: 12px;
    color: #A7226C;
    letter-spacing: 0;
    outline:none !important;
}
.divLoginBodyNew 
{
    padding: 10px 25px;
    font-family: Roboto-Regular;
   font-size: 14px;
}

.PopUpTailDiv {
    height: 60px;
    width: 100%;
    color: #FF0000;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    margin-top: 15px;
    background-color: #FEFDE1;
    border: solid 1px #EAE8C1;
    font-family: Roboto-Regular;
   font-size: 14px;
}
.updateProgress
{
   top:118px !important; 
   text-align:center;
   font-family: Roboto-Regular;
   font-size: 14px;
}
.updateProgressOverlay {
background-color:#eeeeeb;
filter:alpha(opacity=70);
mozopacity:.7;
opacity:.7;
position:absolute;
margin:0;
padding:0;
height: 100% !important;
top:-3px !important; 
text-align:center;
font-family: Roboto-Regular;
font-size: 14px;
}


.errMsg
{
   font-family: Roboto-Regular;
   font-size: 14px;
   margin-left:10px;
   float:left;
}
.mainBody
{
    width:100%;
 }
@media (max-width: 767px)
{
   /* .rightsec
    {
        min-height: min-content !important;
        max-height: max-content !important;
    }*/
    .information
    {
        overflow-y: auto;
    }
    .word
    {
        text-align: center;
        padding-top: 4px;
    }
    .personalinfo
    {
        margin-top: -11px;
    }
    .divFooter, .headerpd, .headlog 
    {
        display:none !important;
    }
    .divSeperator{padding:0 !important;}
    .login-section {
        width: 90%;
        left: 5%;
        top: 25px;
    }
    .rtlogo{ text-align:center; margin-top:0;}
}



