
html 
{
	height: 100%;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
}
body {
	background-color: #CECECE;
	margin-top: 15px;
	margin-bottom: 4px;
	height:100%;
}

a
{
	text-decoration:none;
}
a:hover
{
	text-decoration:underline; 
}

p {
	margin-top: 0px; 
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}


.boldRedHeader {
	color: #993366;
	font-weight:bold;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-decoration: none;
}
.smallText {
	font-size: 1px;
	line-height: 1px;
	text-decoration: none;
}

.borderWhite1R{
	border-right: 1px solid #FFFFFF;
}

.marginLeftMinusThree
{
	margin: 0px 0px 0px -6px;
}

.gridRowFirstAttachHeader
{
	background-color:#A0A0A0;
	height: 23px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	color: #FFFFFF;
	text-decoration: none;
	border-top: 0px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-bottom: 0px solid #FFFFFF;
	border-left: 0px solid #FFFFFF;
	vertical-align:bottom;
	padding-bottom: 8px;
}
.marginAll10
{
	margin:10px 10px 10px 10px;
}
.tblDGRowInside {
	background-color:#EDEDED;
	height: 35px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	color: #555354;
	text-decoration: none;
	padding-left:5px;
	padding-right: 2px;
	padding-top: 8px;
	padding-bottom: 8px;
	vertical-align:top;
	border-top: solid 0px #EDEEE9;
	border-right: solid 1px #FFFFFF;
	border-bottom: solid 1px  #FFFFFF;
	border-left: solid 0px #EDEEE9;	
	margin: 0px;
}
#tblDLRow td{
	background-color:#EDEDED;
	height: 35px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	color: #555354;
	text-decoration: none;
	border-top: 0px solid #EDEEE9;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-left: 0px solid #EDEEE9;
	padding-left:5px;
	padding-right: 2px;
}
.labelText
{
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	text-decoration: none;
	vertical-align:middle;
	text-align:left;
	padding:0px 0px 0px 10px;
}

.redText
{
	color:Red;
}

.tblBorder
{
	border: 1px solid #999999;
}
.gridText
{
	padding : 0px 0px 0px 8px ;
}
.gridRowHighlight
{
	background-color:#EDEDED;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
	text-decoration: none;
}
.ListSearchExtenderPrompt
{
	font-style: italic;
	color: Gray;
	background-color: white;
	border-right: lightgrey 1px solid;
	border-top: lightgrey 1px solid;
	border-left: lightgrey 1px solid;
	border-bottom: lightgrey 1px solid;
}
.gridTextNew
{
	padding : 0px 0px 0px 8px ;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
	
.AddressTxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 15px;
	font-weight: bold;
	color: #CB3E4F;
	text-decoration: none;
	text-align: right;
}

.gridRowLastAttachHeader
{
	background-color:#A0A0A0;
	height: 23px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	color: #FFFFFF;
	text-decoration: none;
	border-top: 0px solid #FFFFFF;
	border-right: 0px solid #FFFFFF;
	border-bottom: 0px solid #FFFFFF;
	border-left: 0px solid #FFFFFF;
	vertical-align:bottom;
	padding-bottom: 8px;
	padding-left: 8px;
}

.gridRowFirstAttach
{
	background-color:#E6E6E6;
	height: 30px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	color: #5F5F5F;
	text-decoration: none;
	border-top: 0px solid #FFFFFF;
	border-right: 0px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-left: 0px solid #FFFFFF;	
	vertical-align:middle;
}

.formFieldGrey {
 	color: #5F5F5F;  	
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	text-decoration: none;	
	vertical-align: middle;
	text-align:left;
	padding-left:3px;		
	border: 1px solid #999999;       	
}


.width210
{
	width:210px;
}
.width65
{
	width:65px;
}
.gridRowAttach
{
	background-color:#E6E6E6;
	height: 30px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	color: #5F5F5F;
	text-decoration: none;
	border-top: 0px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-left: 0px solid #FFFFFF;
	vertical-align:middle;
}
.width310
{
	width:310px;
}
.validationText {
	
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	line-height: 12px;
	font-weight: normal;
	text-decoration: none;
}
.justifiedTxt
{
	text-align:justify;
}
.RowClickable
{
	color:#000000;
	cursor:hand;
	
}

.formLabelGrey
{
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	text-decoration: none;
	text-align:left;	
}

.txtButtonNoArrow {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #A0A0A0;
}


.txtButtonNoArrow:hover {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #D6D6BD;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #A0A0A0;
}

.remarksAreaCollapse {
	background-color: #EDEDED;
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	line-height: 13px;
	text-align: left;
}

.paddingTop42
{
	padding: 42px 0px 0px 0px;
}
	
.bgActivateLink
{
	background-color: #F4F5F0;
	font-size: 15px;
	font-weight: bold;
}
	

.divWorkOrder {
	
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	line-height: 12px;
	font-weight: normal;
	text-decoration: none;
	background-color: #F4F5EF;
	/*width: 100%;
	border-width: 1px;
	border-style: solid; 
	border-color: #DCDDD8;*/
	margin-bottom:20px;
	
}	

.WorkOrderTopCurve { 
	background: #C4D5DC url(../Images/Curves/blue_RightCurve.gif) no-repeat right top; 

}

.WorkOrderBottomCurve
{
/*	background: url(../Images/Curves/Attach-BR.gif) no-repeat right bottom;*/
	background: url(../Images/Curves/BtmRight.gif) no-repeat right bottom;
}

.formHdrText
{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	line-height: 12px;
	font-weight: bold;
	text-decoration: none;		
}	
	
.width635height60 {
	width: 635px;
	height:60px;	
}

.width635height142 {
	width: 635px;
	height:142px;	
}.InvoiceText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.formField40 {
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	padding-left:3px;	
	margin-right:5px;
	width: 40px;
}
.tabButtonTxt
{
	color:#ffffff;
}

.NonActiveLinkOrange
{
	cursor: hand;
	cursor: pointer;
	background-color: #CACACA;
}
/*Styles added for admin copied from styles.css in orderworkuk*/
#divMediumBtnImage
{
	background-image:url(../Images/BgMediumBtn.jpg);
	background-repeat:no-repeat;
	height:29px;
	width:134px;
	padding-top:5px;
	text-align:center;	
	margin-right:20px;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	color:#575B5E;
	text-decoration:none;
	cursor:pointer;
}
.gridHdr
{
	background-color:#993366;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	height:28px;
	vertical-align:middle;
}
.gridHdr a
{
	color: #ffffff;
	text-decoration:none;
}
.gridHdrBuyer
{
	background-color:#F68C1C;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	height:28px;
	vertical-align:middle;
}
.gridHdrBuyer a
{
	color: #ffffff;
	text-decoration:none;
}
.formLabelGrey
{
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	text-decoration: none;
	text-align:left;	
}
.gridRow
{
	background-color:#F7F3F4;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;	
	color: #555354;
	text-decoration: none;
	margin-left:5px;
	cursor:pointer;
}
.gridAlternateRow
{
	background-color:#FDFDFD;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;	
	color: #555354;
	text-decoration: none;
	margin-left:5px;
	cursor:pointer;
}
.gridRolloverRow
{
	background-color:#FFEBC6;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;	
	color: #555354;
	text-decoration: none;
	margin-left:4px;
	cursor:pointer;
}
.txtGrid
{
	padding:5px;
	border:solid 1px #E2E1DD;
	text-align:left;
	vertical-align:top;
	font-size:11px;
}
.gridTextNew
{
	font-size:11px;
}
.bodyTextSmallRed {
color:#993366;
font-family:Arial, Geneva, Helvetica, sans-serif;
font-size:11px;
text-decoration:none;
line-height:13px;
}
/*Styles added for admin copied from styles.css in orderworkuk ends here*/
/* STANDARD TAG STYLES*/
.ajax__calendar_container {padding:4px;position:absolute;cursor:default;width:170px;font-size:11px;text-align:center;font-family:tahoma,verdana,helvetica;}
.ajax__calendar_body {height:139px;width:170px;position:relative;overflow:hidden;margin:auto;}
.ajax__calendar_days, .ajax__calendar_months, .ajax__calendar_years {top:0px;left:0px;height:139px;width:170px;position:absolute;text-align:center;margin:auto;}
.ajax__calendar_container TABLE {font-size:11px;}
.ajax__calendar_header {height:20px;width:100%;}
.ajax__calendar_prev {cursor:pointer;width:15px;height:15px;float:left;background-repeat:no-repeat;background-position:50% 50%;background-image:url(<%=WebResource("AjaxControlToolkit.Calendar.arrow-left.gif")%>);}
.ajax__calendar_next {cursor:pointer;width:15px;height:15px;float:right;background-repeat:no-repeat;background-position:50% 50%;background-image:url(<%=WebResource("AjaxControlToolkit.Calendar.arrow-right.gif")%>);}
.ajax__calendar_title {cursor:pointer;font-weight:bold;}
.ajax__calendar_footer {height:15px;}
.ajax__calendar_today {cursor:pointer;padding-top:3px;}
.ajax__calendar_dayname {height:17px;width:17px;text-align:right;padding:0 2px;}
.ajax__calendar_day {height:17px;width:18px;text-align:right;padding:0 2px;cursor:pointer;}
.ajax__calendar_month {height:44px;width:40px;text-align:center;cursor:pointer;overflow:hidden;}
.ajax__calendar_year {height:44px;width:40px;text-align:center;cursor:pointer;overflow:hidden;}

.ajax__calendar_container {border:1px solid #646464;background-color:#ffffff;color:#000000;}
.ajax__calendar_footer {border-top:1px solid #f5f5f5;}
.ajax__calendar_dayname {border-bottom:1px solid #f5f5f5;}
.ajax__calendar_day {border:1px solid #ffffff;}
.ajax__calendar_month {border:1px solid #ffffff;}
.ajax__calendar_year {border:1px solid #ffffff;}

.ajax__calendar_active .ajax__calendar_day {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}
.ajax__calendar_active .ajax__calendar_month {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}
.ajax__calendar_active .ajax__calendar_year {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}

.ajax__calendar_other .ajax__calendar_day {background-color:#ffffff;border-color:#ffffff;color:#646464;}
.ajax__calendar_other .ajax__calendar_year {background-color:#ffffff;border-color:#ffffff;color:#646464;}
.ajax__calendar_hover .ajax__calendar_day {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}
.ajax__calendar_hover .ajax__calendar_month {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}
.ajax__calendar_hover .ajax__calendar_year {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}
.ajax__calendar_hover .ajax__calendar_title {color:#0066cc;}
.ajax__calendar_hover .ajax__calendar_today {color:#0066cc;}
.ajax__calendar_disabled .ajax__calendar_day {background-color:#cccccc;border-color:#ffffff;color:#a6a6a6;width:20px;}
.ajax__calendar_disabled .ajax__calendar_year {background-color:#cccccc;border-color:#ffffff;color:#a6a6a6;width:20px;}
