﻿body
{
	font-family:Verdana;font-size:12px;background-color:#FFF;text-decoration:none;color:#000;margin:0px;padding:0px;
}
h1,h2,h4,h3,h5,h6,img,li,ul,p
{
	margin:0px;padding:0px;text-decoration:none;border:0px;font-weight:normal;
}
.clstopprojecttitle { margin:5px 0px 5px -2px; padding:0px; font-size:18px;}

.clearBoth
{
	clear:both;
}
.floatRight
{
	float:right;
}
.WhitePaper
{	
	width:195px;
	color:#5C5C5C;	
	float:left;
	line-height:18px;
	text-decoration:none;
	cursor:pointer;
	/*background-image:url(../Images/Frame_Small.jpg);
   background-position :right top;
   background-repeat:no-repeat;*/
}
.floatLeft
{
	float:left;
}
.fontSize18
{
	font-size:18px;
}
.fontSize16
{
	font-size:16px;
}
.fontSize14
{
	font-size:14px;
}
.fontSize15
{
	font-size:15px;
}
.fontSize13
{
	font-size:13px;
}
.fontSize12
{
	font-size:12px;
}
.fontSize11
{
	font-size:11px;
}
.mainBody
{
	margin:0px auto;
}
.clsRounded20
{
	-moz-border-radius:20px;-webkit-border-radius:20px;
}
.clsRounded15
{
	-moz-border-radius:20px;-webkit-border-radius:20px;
}
.clsRounded10
{
	-moz-border-radius:10px;-webkit-border-radius:10px;
}
.clsRounded6
{
	-moz-border-radius:6px;-webkit-border-radius:6px;
}
.clsRounded4
{
	-moz-border-radius:4px;-webkit-border-radius:4px;
}
.width930
{
	width:930px;
}
.width915
{
	width:915px;
}
.width900
{
	width:900px;
}
.width210
{
	width:210px;
}
.width220
{
	width:220px;
}
.width240
{
	width:240px;
}
.width670
{
	width:670px;
}
.width176
{
	width:176px;
}
.height95
{
	height:95px;
}
.marginTop5
{
	margin-top:5px;
}
.marginTop10
{
	margin-top:10px;
}
.marginTop15
{
	margin-top:15px;
}
.paddingtop5
{
	padding-top:5px;
}
.paddingtop5New
{
	padding-top:5px;
}
*+html .paddingtop5New
{
	padding-top:1px;
}			
.marginTop20
{
	margin-top:20px;
}
.marginTop2
{
	margin-top:2px;
}
.marginTopBOD3
{
	margin-top:3px;
}
.marginTop18
{
	margin-top:18px;
}
.marginTop17
{
	margin-top:17px;
}
.marginTop30
{
	margin-top:30px;
}
.marginBottom20
{
	margin-bottom:20px;
}
.marginBottom10
{
	margin-bottom:10px;
}
.marginTop42
{
	margin-top:42px;
}
.marginRight20
{
	margin-right:20px;
}
.marginRight15
{
	margin-right:15px;
}
.marginLeft15
{
	margin-Left:15px;
}
.marginTop22
{
	margin-top:22px;
}
.marginLR5
{
	margin:0px 5px;
}
.marginLeft85
{
	margin-left:90px;
}
.marginLogoRetail
{
	margin-left:135px;
}
.marginLogoIT
{
	margin-left:200px;
}
.ancFooter
{
	color:#FFF;
	text-decoration:none;
}
.marginTop16
{
	margin-top:16px;
}
.ancFooter:hover
{
	color:#FFB05C;
		text-decoration:none;
}
.ancFooterblack
{
	color:#000;
	text-decoration:none;
}
.ancFooterblack:hover
{
	color:#FFB05C;
		text-decoration:none;
}
.changeOpacity 
{
  opacity: 0.5;
  filter: alpha(opacity = 50);
}
.ulOpacity1 {
float:right;
line-height:20px;
padding:10px;
width:220px;
}
.ulOpacity2 {
float:right;
line-height:20px;
padding:10px;
width:220px;
}



.subheading {
font-family:verdana;
font-size:12px;
color:#d33838;
}
.subheadingNew {
font-family:verdana;
font-size:12px;
color:Black;
}
.mainsubheading {
font-family:verdana;
font-size:12px;
color:#000000;
}
.content
{
	font-family:Verdana;
	font-size:12px;
	color:#383838;
	line-height:18px;
}

.list
{

	margin-left:15px;
	line-height:18px;
	margin-bottom:20px;
	float:left;
}

.spanList
{
	width:180px;
	margin-left:8px;
	float:left;
}
.innerspan
{
	width:450px;
	float:left;
}
.footerMain
{
	padding:12px;background-image:url(../Images/OrderWorkSite/footer-bg.jpg);background-repeat:repeat-x;color:#FFF;
}
.noMarginPadding
{
	margin:0px;padding:0px;
}

/***************************MENU Service Provider***********************************/


#menu ul {
display: none;
/*width:130px;*/
text-align:left;
z-index:1000000;

/*border: 1px solid gray;*/
}
#menu li {
/*background: #D1383D;*/
vertical-align:text-top;
font-size:12px;
width:100%;
border-bottom: 1px solid #ca1c1d;
background-color:#d82e2e; 
float:left;
padding:8px 5px 0px 5px;
}
#menu li a {
text-decoration: none;
display: block;
height: 100%;
border: 0 none;
color:#FFFFFF;
height:24px;
width:100%;
background-color:#d82e2e; 
float:left;
}

#menu li a:hover, #menu li a:focus, #menu ul a:hover ,#menu ul a:focus{

color:#ffa341;

}

.DDStyle
{
list-style-type: none;
cursor:pointer;
}
*html .DDStyle
{
	width:151px;
	list-style-type: none;
}
.clsMenuList
{
	z-index:999;margin-top:33px;float:left;clear:both;
}
*+html .clsMenuList
{
	z-index:999;margin-top:-12px;float:left;clear:both;
}
/***************************Menu Clients***********************/
/***************************MENU Service Provider***********************************/


#menuClients ul {
display: none;
/*width:130px;*/
text-align:left;
z-index:1000000;

/*border: 1px solid gray;*/
}
#menuClients li {
/*background: #D1383D;*/
vertical-align:text-top;
font-size:12px;
width:100%;
border-bottom: 1px solid #e57007;
background-color:#ee8c35; 
float:left;
padding:8px 5px 0px 5px;
font-weight:bold;
}
#menuClients li a {
text-decoration: none;
display: block;
height: 100%;
border: 0 none;
color:#FFFFFF;
height:24px;
width:100%;
background-color:#ee8c35; 
float:left;
}

#menuClients li a:hover, #menuClients li a:focus, #menuClients ul a:hover ,#menuClients ul a:focus{

color:#d22924;

}
.DDMidClients
{
	background-color:#ee8c35; 
	/*font-weight:bold;*/
	height:21px;
	/*width:100%; */
	float:left;
	cursor:pointer;
	padding-left:22px;
	min-width:100px;
}
.DDMid
{
	background-color:#d82e2e; 
	/*font-weight:bold;*/
	height:21px;
	/*width:100%; */
	float:left;
	cursor:pointer;
	padding-left:22px;
	min-width:100px;
}
.DDStyleClients
{
list-style-type: none;
cursor:pointer;
}
*html .DDStyleClients
{
	width:151px;
	list-style-type: none;
}

/******************Welcome Page****************************/
.bgSignIn
{
	background-image:url(../Images/OrderWorkSite/welcome/sign-register-bg.gif);background-repeat:no-repeat;width:346px;height:59px;
}
.clsOWLogo
{
	text-align:center;width:930px;float:left;margin-top:13px;
}
.footerWelcome
{
	width:814px;  padding:16px 25px;background-image:url(../Images/OrderWorkSite/welcome/landing-footer-bg.gif);background-repeat:repeat-x;color:#FFF;text-align:center;
}
#divFooter{display:block;}
#divFooterPrint{display:none;}
.lineHeight20
{
	line-height:20px;
}
.clsRedDot
{
	list-style-image:url(../Images/OrderWorkSite/red-dot.png);
}
.rightRedBox
{
	width:240px;background-color:#993366;padding:10px;font-size:13px;color:#FFF;
}
.rightWhiteBoxHome
{
	padding:0px 4px 0px 15px;color:#FFFFFF;font-size:12px;line-height:18px; margin-top:-2px;
}
.rightServicePartner
{
	background-image:url(../Images/OrderWorkSite/sp-register-btn.jpg);background-repeat:no-repeat;width:260px;height:108px;margin-top:8px;font-size:15px;float:right;
}
.servicePartnerText
{
	color:#FFF;float:right;margin:35px 28px 0px 0px;width:130px;
}
.clsOrangeArrow
{
	list-style:none;list-style-image:url(../Images/OrderWorkSite/orange-arrow.png);
}
.rightYellowBox
{
	width:240px;background-color:#f68c1c;padding:10px;font-size:13px;color:#FFF;border:2px solid #EB7013;
}


*+html .clsheight170
{
	height:170PX;
}

*+html .clsheight250
{
	height:250PX;
}

*+html .clsheight220
{
	height:220PX;
}

.clsMargin
{
margin:-4px 0px 0px 50px; 	
}

*+html .clsMargin
{
	margin:-4px 0px 0px 50px;

}
.clshidden
{
	display:none;
}
.clsRounded20aboutus
{-moz-border-radius-topright: 18px; -moz-border-radius-topleft: 18px;
-webkit-border-radius:18px 18px 0px 0px;}
.clsRounded20SP {-moz-border-radius-topleft: 18px; -webkit-border-radius: 18px 0px 0px 0px;}
.clsRounded20SP2 {-moz-border-radius-bottomleft: 18px; -webkit-border-radius: 0px 0px 0px 18px ;}
.clsRounded20SP3 {-moz-border-radius-topright: 18px; -webkit-border-radius: 0px 18px 0px 0px;}
.clsRounded20SP4 {-moz-border-radius-bottomright: 18px; -webkit-border-radius:0px 0px 18px 0px;}
.clsRounded18Staticstop {-moz-border-radius-topleft: 18px; -moz-border-radius-topright: 18px; -webkit-border-radius:18px 18px 0px 0px;}
.clsRounded18Staticsbottom {-moz-border-radius-bottomleft: 18px; -moz-border-radius-bottomright: 18px; -webkit-border-radius:0px 0px 18px 18px;}
.retailHomemiddle
{
	width:259px;background-image:url(../Images/OrderWorkSite/transperant-img.png);background-repeat:no-repeat;margin:40px 15px 0px 0px;
	height:224px; 
}
.retailHomemiddle1
{
	width:259px;background-image:url(../Images/OrderWorkSite/transperant-img-140.png);background-repeat:no-repeat;margin:40px 15px 0px 0px;
	height:224px; 
}
.retailHomemiddle2
{
	width:259px;background-image:url(../Images/OrderWorkSite/transperant-img-120.png);background-repeat:no-repeat;margin:40px 15px 0px 0px;
	height:120px; 
}
.widthinnerfooter
{
	width:876px;
}
.clsmargin3015
{
margin:22px 0px 0px 40px;
}
.ClickLink
{
	color:Black;
	cursor:pointer;
	text-decoration:Uderline;
}	
.ClickLink:hover
{
	color:#D33838;
	cursor:pointer;
	text-decoration:none;
}

.ClickLinkNew
{
	color:#D33838;
	cursor:pointer;
	text-decoration:Uderline;
}	
.ClickLinkNew:hover
{
	color:Black;
	cursor:pointer;
	text-decoration:none;
}		
.ClickLinkReadMore
{
	color: white;
	cursor: pointer;
	text-decoration: Uderline;
}	
.ClickLinkReadMore:hover
{
	color: #330033;
	cursor: pointer;
	text-decoration: none;
}		
.clsmarginlineheight
{
	margin-left:15px;line-height:19px;
}
.InnerBorderBottom1px              {border-bottom:1px solid #CDCDCD;}
.InnerBorderBottom3px              {border-bottom:3px solid #CDCDCD;}
.InnerBorderBottom1pxNew              {border-bottom:2px dotted #CDCDCD;}
.parapadding                       { padding:16px 0px 15px 15px;}
.parapadding1                       { padding:0px 0px 15px 15px;}
.clsinnerleft                      { width:718px;}
.clsmarginlefttable                { margin-left:13px;}
.heading						   {font-family:Verdana ;font-size:18px;color:#184B78;margin-top:13px; padding-left:15px;}
 .headingWhite                     {font-family:Verdana ;font-size:18px;color:#184B78;margin-top:5px; padding-left:15px;}
.headingpolicy						{font-family:Verdana ;font-size:18px;color:#184B78;margin-bottom:15px;}
.clswidth210					   { width:210px;}
.clsborderCDCDCB				   { border:1px solid #CDCDCB}
.clsborderbottomCDCDCB		       { border-bottom:1px solid #CDCDCB}
.clsSideTabCell			     	   { clear:both; width:200px;font-size:12px; font-weight:bold; color:White; padding:6px 0px 6px 10px;background-image:url(../Images/OrderWorkSite/Retail/side-tab_hover.jpg);background-repeat:repeat-x;}
.clsSideTabCell2				   { clear:both; width:200px;font-size:12px; font-weight:bold; color:black; padding:7px 0px 6px 10px;background-image:url(../Images/OrderWorkSite/Retail/side-tab_bg.jpg);background-repeat:repeat-x;}
.clsSideTabCell2:hover			   { clear:both; width:200px;font-size:12px; font-weight:bold; color:White; padding:7px 0px 6px 10px;background-image:url(../Images/OrderWorkSite/Retail/side-tab_hover.jpg);background-repeat:repeat;}
.clsSideTabCellRed                 { clear:both; width:200px;font-size:12px; font-weight:bold; color:black; padding:7px 0px 6px 10px;background-image:url(../Images/OrderWorkSite/Retail/side-tab_bg.jpg);background-repeat:repeat-x; cursor:pointer;}  
.clsSideTabCellRed:hover		   { clear:both; width:200px;font-size:12px; font-weight:bold; color:White; padding:7px 0px 6px 10px;background-image:url(../Images/OrderWorkSite/Retail/tile_Deploy.jpg);background-repeat:repeat;}
.clsSideTabCellRedFull              { clear:both; width:200px;font-size:12px; font-weight:bold; color:White; padding:7px 0px 6px 10px;background-image:url(../Images/OrderWorkSite/Retail/tile_Deploy.jpg);background-repeat:repeat;}
.clsSideTabCellRed2                { clear:both; width:200px;font-size:12px; font-weight:bold; color:White; padding:7px 0px 6px 10px;background-image:url(../Images/OrderWorkSite/Retail/IT-side-tab_hover.jpg);background-repeat:repeat;}  
.clsvisiblenone                    { display:none}
.clsvisibleblock                    { display:block}
.clswidth703						{ width:703px;}
.clstxtdecnone                      { text-decoration:none; cursor:pointer;}
/*===================================================*/
.clsSideTabCellRedNew 
{
	clear:both; width:200px;font-size:12px; font-weight:bold; color:black; padding:7px 0px 6px 10px;background-image:url(../Images/OrderWorkSite/Retail/side-tab_bg.jpg);background-repeat:repeat-x; cursor:pointer;
}	
.clsSideTabCellRedNew:hover
{
	clear:both; width:200px;font-size:12px; font-weight:bold; color:White; padding:7px 0px 6px 10px;background-image:url(../Images/OrderWorkSite/Retail/tile_Deploy.jpg);background-repeat:repeat-x; cursor:pointer;
}	
.clsSideTabCellRed2New
{
 clear:both; width:200px;font-size:12px; font-weight:bold; color:White; padding:7px 0px 6px 10px;background-image:url(../Images/OrderWorkSite/Retail/tile_Deploy.jpg);background-repeat:repeat;	
}	

.MatrixRow
{
	width:100px;
	float:left;
}
.MatrixFirstRow
{
 	width:660px; 
 	height:30px; 
 	padding-top:10px; 
 	float:left;
 	
 	border:1px solid #F4F4F4;
 	border-bottom:0px solid #F4F4F4;
 }
 .headingNew
 {
	font-size:24px;
	
 }	

 .ColorMatrix
 {
 	background-color:#F4F4F4;
 }
  .MatrixLeftRow
 {
 	width:215px; 
 	float:left; 
 	padding-left:35px; 
 	font-weight:bold;
 }
 .PopUpTailValidationDiv
{
min-height:30px; 
height:100%;
/*width:247px; */
width:320px;
padding-top:15px; 
padding-left:15px; 
padding-right:15px;
padding-bottom:15px; 
font-size:11px;
float:left; 
margin-top:10px; 
margin-left:280px;
background-color:#FEFDE1; 
border:solid 1px #EAE8C1;
}
 .displaynone
{
	line-height:0px;
	height:0px;
	width:0px;
	font-size:0px;
	margin:0px;
	padding:0px;	
}
.WhitePaperRow{
width:275px;
margin-top:10px;
height:34px;
font-size:11px;
}
*html .WhitePaperRow
{
	margin-top:0px;
}
.WhitePaperBottomRow{
width:350px;
margin-top:20px;
/*height:34px;*/
font-size:11px;
}

.MatrixRow
{
	width:100px;
	float:left;
}
#divEnquiryForm{
 width:315px;   
 float:left;
 margin-left:30px; 
}
#divAddress { 
    width:192px;
    height:142px;     
	font-size:14px;
	float:left;
	line-height:18px;
}

#divSitePath{
  width: 340px;  
  float:right;
  margin-right: 15px;  
}

.RowForContact{
   width:315px;
   padding-top:5px;
}
.ClickLinkReadMore1
{
	color: #F78E18;
	cursor: pointer;
	text-decoration: Uderline;
}
.TxtBxContact{
width:315px;
margin-top:5px;
height:15px;
font-size:12px;
border:solid 1px #999999;
}
.PopUpTailContactUsDiv
{
min-height:30px; 
width:287px; 
padding-top:15px; 
padding-left:15px; 
padding-right:15px;
padding-bottom:15px; 
font-size:11px;
margin-top:10px; 
background-color:#FEFDE1; 
border:solid 1px #EAE8C1;
}

/*Styles for Login and password comes here*/
.passwordField {
	color:#7B7B7B;
	font-family:Arial;
	font-size:11px;
	text-decoration:none;
	vertical-align:middle;
	padding-left:3px;
	position:relative;
	border-color:#999;
	width:160px;
	height:15px;
	border-style:solid;
	border-width:1px 1px 1px 1px;
	margin:0;	
	margin-top:15px;
}
*html .passwordField {
	width:160px;
	margin-right:10px;	
}
.passwordFieldHidden {
	font-size:0;
	width:0;
	height:0;
	visibility:hidden;
	position:absolute;
	border-width:0;
	margin:0;
	margin-top:15px;
}

.SignInTextBx
{
	margin-left:10px;
	margin-top:15px;
}
*html .SignInTextBx
{
	margin-left:0px;
}

.clsSideTabCellBOD		     	   { clear:both; width:200px;font-size:12px; font-weight:bold; color:White; padding:7px 0px 6px 10px;background-image:url(../Images/OrderWorkSite/Retail/BOD_bg.gif);background-repeat:repeat-x;}
.clsSideTabCellBOD2				   { clear:both; width:200px;font-size:12px; font-weight:bold; color:black; padding:7px 0px 6px 10px;background-image:url(../Images/OrderWorkSite/Retail/side-tab_bg.jpg);background-repeat:repeat-x;}
.clsSideTabCellBOD2:hover		   { clear:both; width:200px;font-size:12px; font-weight:bold; color:White; padding:7px 0px 6px 10px;background-image:url(../Images/OrderWorkSite/Retail/BOD_bg.gif);background-repeat:repeat;}
.clsbodtest                        { font-size:15px; font-weight:bold; color:White;}
.subheadingBOD {
font-family:verdana;
font-size:13px;
color:#d33838;
font-weight:bold;
}
.clsbodnames{ min-height:16px; width:195px; padding:7px 0px 10px 15px;}
.clsbodnamesNew{ min-height:16px; width:195px; padding:7px 0px 10px 16px;}

.BorderBottom79A0BB { border-bottom:solid 1px #79A0BB}
.clsbodnamesbgcolor { background-color:Transparent;border-right:0px;}
.clsbodnamesbgcolor:hover { background-color:#EDE0BD; cursor:pointer;border-right:0px;}
.clsbodnamesbgcolorSel { background-color:#EDE0BD;border-right:0px;}
.bckImage{ background-image:url(../Images/OrderWorkSite/Retail/BOD_btn.gif);background-repeat:no-repeat;width:197px;border-right:0px;}
.bckImage:hover{ background-image:url(../Images/OrderWorkSite/Retail/BOD-hover.gif);background-repeat:no-repeat;width:197px;border-right:0px;}
.bckImageSelected{ background-image:url(../Images/OrderWorkSite/Retail/BOD-hover.gif);background-repeat:no-repeat;width:197px;border-right:0px;}

/*.clsbodnamesbgcolor { background-color:Transparent;}
.clsbodnamesbgcolor:hover { background-image:url(../Images/OrderWorkSite/Retail/side-tab_hover.jpg);background-repeat:repeat; cursor:pointer;}
.clsbodnamesbgcolorSel { background-image:url(../Images/OrderWorkSite/Retail/side-tab_hover.jpg);background-repeat:repeat;}*/
.clsspecial { background-color:Transparent;}
.clsspecial:hover { background-color:#EDE0BD;}
.clswelcomeretail {background-image:url(../Images/OrderWorkSite/welcome/consumer_electronics.jpg); background-repeat:no-repeat;width:461px; height:313px; float:left}
.clswelcomeIT {background-image:url(../Images/OrderWorkSite/welcome/onsite-tech-service.jpg); background-repeat:no-repeat;width:461px; height:313px; float:right}
.clswelcomeretail:hover {background-image:url(../Images/OrderWorkSite/welcome/h-consumer_electronics.jpg); background-repeat:no-repeat;width:461px; height:313px; float:left}
.clswelcomeIT:hover {background-image:url(../Images/OrderWorkSite/welcome/onsite-tech-service-hover.jpg); background-repeat:no-repeat;width:461px; height:313px; float:right}
.clslearnmore {background-image:url(../Images/OrderWorkSite/learn-more-btn.png); background-repeat:no-repeat;width:92px; height:21px; clear:both; margin-left:24px; }
.clslearnmore:hover {background-image:url(../Images/OrderWorkSite/learn-more-hover.png); background-repeat:no-repeat;width:92px; height:21px; }
.clstextbold{font-weight:bold; color:#111111;}
.clstextboldRetail{ font-weight:bold;}
.font13
{
	font-size:13px;
}	
#OWdivPrivacyPolicy
{
   /* list-style-image:url(../Images/ArrowTransparent.gif);  */
	padding:20px 0px 25px 0px; 
	float:left;
	/*width:650px;*/
	line-height:18px;
	font-size:12px;
	font-family:Verdana;
}
#OWDivQualityProcedure
{
   /* list-style-image:url(../Images/ArrowTransparent.gif);  */
	padding:20px 0px 25px 0px; 
	float:left;
	/*width:650px;*/
	line-height:18px;
	font-size:12px;
	font-family:Verdana;
}
.OWFullText
{
	padding:10px 15px 0px 15px;
	text-align:justify;
  font-size:12px;
	font-family:Verdana;
	line-height:20px;
}
.clsquoteback
{
	background-image:url(../Images/OrderWorkSite/Retail/quote-mid-bg.jpg); background-repeat:repeat-x; width:238px;border:1px solid #DADADA;  padding:10px 10px 10px 10px;  line-height:18px;
}
.clsquotesname
{
	color:#F58C1C;
}
.clsinnerquotesback
{
	width:189px; background-image:url(../Images/OrderWorkSite/Retail/quote-mid-bg.jpg); background-repeat:repeat-x;padding:10px;font-size:13px;color:#383838;margin-top:20px;border:1px solid #cdcdcd;
}
.clspolicesselected
{
	width:136px; height:40px; float:left;background-image:url(../Images/OrderWorkSite/privacy-police_hover.gif); background-repeat:repeat-x;margin-top:-1px;
}
.clsqualityselected
{
  width:136px; height:40px; float:left;background-image:url(../Images/OrderWorkSite/quality-police_hover.gif); background-repeat:repeat-x; margin-left:2px; margin-top:-1px;
}
.clspolices
{
	cursor:pointer;	background-color:Gray; width:136px; height:40px; float:left;background-image:url(../Images/OrderWorkSite/privacy-police_btn.gif); background-repeat:repeat-x;
}
.clspolices:hover
{
 background-color:Gray; width:136px; height:40px; float:left;background-image:url(../Images/OrderWorkSite/privacy-police_hover.gif); background-repeat:repeat-x;
}

.clsquality
{
	cursor:pointer;	background-color:black; width:136px; height:40px; float:left;background-image:url(../Images/OrderWorkSite/quality-police_btn.gif); background-repeat:repeat-x; margin-left:2px;
}
.clsquality:hover
{
	background-color:black; width:136px; height:40px; float:left;background-image:url(../Images/OrderWorkSite/quality-police_hover.gif); background-repeat:repeat-x; margin-left:2px;
}
.innersubheading {
font-family:verdana;
font-size:12px;
color:#d33838;
}
.innersubheading:hover {
font-family:verdana;
font-size:12px;
color:Black;
}


/*Login Starts*/
#divLoginMain{
   width:808px;
	height:220px; 
  margin-top:58px;
 /* background-image:url(../Images/Login/LeftImage.jpg);
  background-repeat:no-repeat;*/
  margin-left :auto;
  margin-right:auto;
}

#divForgotPassMain{
   width:808px;
   height:350px; 
   margin-top:58px;
   /*background-image:url(../Images/Login/LeftImage.jpg);
   background-repeat:no-repeat;*/
   margin-left :auto;
   margin-right:auto;
}
 

#divLogin {
   width:473px;
   height:233px;
  float:right;
   background-image:url(../Images/LoginTopband.jpg);
  background-repeat:no-repeat;
  background-position:right top;
  border-left:solid 1px #EAB4B4;

}

#divLoginLogo
{
	width:300px;
	height:220px;
	float:left;
	background-image:url(../Images/LoginLeftTile.jpg);
	background-repeat:repeat-x;
}

#divLoginRight
{
	width:443px;
	height:233px;
	float:right;
	background-image:url(../Images/LoginTileRight.jpg);
	background-repeat:repeat-x;
}


#divRightImage
{
	width:443px;
	height:220px;
	float:right;
	background-image:url(../Images/LoginRghtImg.jpg);
	background-repeat:no-repeat; 
	float:right; 
	background-position:right top;
}


#divForgotPassword {
   width:473px;
   height:220px;
  float:right;
  /* background-image:url(../Images/Login/RightImage.jpg);
  background-repeat:no-repeat;*/
  background-position:right top;
  border-left:solid 1px #EAB4B4;

}

#divForgotRight
{
	width:443px;
	height:215px;
	float:right;
	background-image:url(../Images/LoginTileRight.jpg);
	background-repeat:repeat-x;
}


#divRightImageFP
{
	width:443px;
	height:350px;
	float:right;
	background-image:url(../Images/Key.jpg);
	background-repeat:no-repeat; 
	float:right; 
	background-position:right top;
}
*html #divRightImageFP
{
   margin-top:-3px;
}
*+html #divRightImageFP
{
   margin-top:-3px;
}

.FPasswordRedBtn{
background-image:url(../Images/RedBtnSmall.gif);
text-decoration:none;
 padding-top:4px;
 text-align:center; 
 width:59px; 
 color:#FFFFFF;
 background-repeat:no-repeat; 
 height:22px; 
 float:left; 
 margin-top:10px;
 margin-left:10px;
}

.FPasswordRedBtn:hover{
color:#DCFF51;
}

.FPasswordYellowBtn{
background-image:url(../Images/YellowBtn.gif);
text-decoration:none; 
padding-top:4px; 
text-align:center; 
width:62px; 
color:#000000;
background-repeat:no-repeat; 
margin-left:10px;
 height:22px; 
 float:left; 
 margin-top:10px;
}

.FPasswordBtn{

text-decoration:none; 
padding-top:4px; 
text-align:center; 
width:62px; 
color:#fff;
background-color: #a7226c;
margin-left:10px;
 height:22px; 
 float:left; 
 border-radius:4px;
 margin-top:10px;
}
.FPasswordYellowBtn:hover{
color:#ED3F1C;
}
.forgotPassword{
	color: #ffffff;
	margin-top: 10px;
	text-decoration: none;
	background-color: #a7226c;
	font-size: 14px;
	float: left;
	/* line-height: 24px; */
	padding: 5px;
	border-radius: 6px;
	box-shadow: 2px 1px 8px 1px #ccc;
    }
.FPasswordYellowWideBtn{
background-image:url(../Images/YellowBtnWide.gif);
text-decoration:none; 
padding-top:4px; 
text-align:center; 
width:125px; 
color:#000000;
background-repeat:no-repeat; 
margin-right:10px;
 height:22px; 
 float:left; 
 margin-top:10px;
}

.FPasswordYellowWideBtn:hover{
color:#ED3F1C;
}

.PopTail{
position:absolute;
 margin-top:-24px; 
  margin-left:-50px;
}
 
 /*\*/ 
 html* .PopTail{
 margin-left:0px;
 }
 
 *+html .PopTail{
 margin-left:-50px;
 }
 

#divLoginInner{
  width:270px;
   height:140px;
   margin-left:35px;
   margin-top:30px;
}

*+html #divLoginInner
{
	margin-top:10px;
}

*html #divLoginInner
{
	margin-top:10px;
	/*width:300px;*/
}

.TxtBx{
  float:left;
 margin-top:5px;
 height:15px;
border:1px solid  #999999;
color:#7B7B7B;
font-family:Arial;
font-size:11px;
padding-left:3px;
 }

#divSignInLogin{
   width:65px;
   height:23px;
   text-align:center;
   /*padding-top:4px;*/
   margin:7px 0px 0px 10px;
   float:left;
  /* background-image:url(../Images/Login/YellowBtn.gif);
   background-repeat:no-repeat;*/
   }
   
 .SignInBtn
 {
	width:65px;
    height:23px;
	background-image:url(../Images/Login/YellowBtn.gif);
   background-repeat:no-repeat;
 }

.ForgotLink{
color:#84A9F7; 
margin-top:10px;
text-decoration:underline;
 font-size:11px;
 float:left;
}

.ForgotLink:hover
{
	color:#5F5F5F;
}

.ChechBox
{
  font-size:11px;
  float:right;
  color:#666666;
  margin-top:7px;
  }
  .PopUpTailDiv
{
	height:51px; 
	width:212px; 
	color:#FF0000;
	padding-top:15px; 
	padding-left:15px; 
	padding-right:15px; 
	float:left; 
	margin-top:10px; 
	background-color:#FEFDE1; 
	border:solid 1px #EAE8C1;
}
/*Login Ends*/

.LIBulletStyle{
margin:0px 0px 10px 0px;
padding:0px 0px 0px 15px;
background-image: url(../Images/ArrowTransparent.gif);
background-repeat:no-repeat;
background-position: 0px 7px;
	list-style-type: none;
}
.LIBulletStyleITFirms{
	margin:0px 0px 20px 0px;
	padding:0px 0px 0px 15px;
	background-image: url(../Images/ArrowTransparent.gif);
	background-repeat:no-repeat;
	background-position: 0px 7px;
	list-style-type: none;
}
.ULStyle{
margin:5px 0px 5px 5px;
padding:5px 0px 5px 5px;
}
.DownloadButton
{
	background-image:url(../Images/buttonDownload.jpg);
	background-repeat:no-repeat;
	float:right;
	width:293px;
	height:47px;
	color:#000000;
	margin-top:-10px;
	text-decoration:none;
}
 h3
 {
 	margin-top:10px;
 	margin-bottom:3px;
 	font-size:12px; 
 }
 .Row{
width:625px;
float:right;
margin-top:10px;
}
.LoginInfo{
  width:680px;
  /*height:260px;*/
  float:left;
  margin:20px 0px 20px 20px;
  }
.Row{
width:625px;
float:right;
margin-top:10px;
}

.rowForContractPostcode
{
  width:625px;
float:right;
margin-top:10px;	
}
*+html .rowForContractPostcode
{
  width:625px;
float:right;
margin-top:0px;	
}

.TxtName{
width:158px;
  
 float:left;
 font-size:11px;

}

#divServicePartner{
	width: 204px;
	float:right;
	margin-top:20px;
	padding:20px 0px 10px 25px;
	border-left:solid 1px #EFC7C7;
	border-right:solid 1px #EFC7C7;
	color:#EC5858;
	font-size:14px;
	list-style-image:url(../Images/ArrowTransparent.gif);
}


.TxtLogin{
width:350px;
height:14px;
border-color:#999999;
border-style:solid;
border-width:1px;
font-size:11px;
}

.RegisterSupplier{
   float:right;
   background-image:url(../Images/ServicePatner/RedButton.gif);
   background-repeat:no-repeat;
   width:133px;
   font-size:14px;
   color:#FFFFFF;
 }
  
.RegisterSupplier:hover {
color:#DCFF51;
}
.DDWhite{
width:350px;
height:14px;
border-color:#999999;
border-style:solid;
border-width:1px;
font-size:11px;
margin-top:5px;
}
#divTitle
{
	width:100%;
	height:84px;
	background-image:url(../Images/MdlCurve.jpg);
	background-repeat:repeat-x;
}
#divDownloadPaper
{
	width: 375px;
	height: 315px;
	float:left;
	margin-left:280px;
	margin-top:10px;
	padding-bottom:50px;
}
.divRegAOE
{
margin-left:158px; 
width:400px; 
margin-top:0px; 
float:left;
/*margin-bottom:10px;*/
}
*+html .divRegAOE
{
margin-top:-72px; 
}
#divBodyInner
{
	/*width:1005px;*/
	width:930px;
	float:left;
	background-image:url(../Images/Bg.jpg);
	background-position:bottom  right;
	background-repeat:no-repeat;
	padding-top:23px;
	position:relative;

}
.divBodyInnerNew
{
		/*width:1005px;*/
	width:930px;
	float:left;
	background-image:url(../Images/Bg.jpg);
	background-position:bottom  right;
	background-repeat:no-repeat;
	position:relative;

}	
 #divLoginBuyer{
   width: 655px;
    float:left;
	padding:0px 0px 10px 0px;
	min-height:500px;
} 
.PinkCurveTop{
position:absolute; 
margin-top:-25px; 
height:7px; 
width:231px; 
margin-left:-26px; 
background-image:url(../Images/ServicePatner/RightColoum_TopBand.gif);	
background-position:top; 
background-repeat:no-repeat; 
}

.PinkCurveBtm{
 position:absolute; 
 margin-top:10px;
  height:7px; 
  width:231px; 
  margin-left:-26px; 
  background-image:url(../Images/ServicePatner/LeftColoum_BtnBand.gif);
  background-position:top; 
  background-repeat:no-repeat;
}
.Title
{
	/*width:200px;*/
	font-size:24px;
	margin-top:25px;
	padding-right:10px;
	float:right;
	vertical-align:middle;
}
.LeftSideTitle
{
	float:left;
	padding-left:20px;
}
.clscolorFFF
{
	color:White;
	text-decoration:none;
	cursor:pointer;
}
.clscolorFFF:hover
{
	color:black;
	text-decoration:none;
		cursor:pointer;
	
}

.RegisterBuyer {
   float:right;
   background-image:url(../Images/OrangeBtn_Small.jpg);
   background-repeat:no-repeat;
   width:133px;
   font-size:14px;
   color:#000000;
 }
 
 .RegisterBuyer:hover{
  color:#ED3F1C;
  }
  .Button
{
	
	height:30px;
	cursor:pointer;
	font-size:13px;
	padding-top:10px;
	text-align:center;
	background-repeat:no-repeat;
	margin-left:10px;
	text-decoration:none;	
}
.RegisterBuyerIT {
   float:right;
   background-image:url(../Images/OrderWorkSite/btnMiddleTile.gif);
   background-repeat:repeat-x;
   width:133px;
   font-size:14px;
   color:#FFFFFF;
 }
 
 .RegisterBuyerIT:hover{
  color:#FFB05C;
  }
  #HmMain
{
	float:left;
	width:965px; 
	position:relative;
	
}
.PopUpTailRegisterDiv
{
min-height:51px; 
height:100%;
width:495px; 
padding-top:15px; 
padding-left:15px; 
padding-right:15px;
padding-bottom:15px; 
font-size:11px;
float:left; 
margin-top:10px; 
background-color:#FEFDE1; 
border:solid 1px #EAE8C1;
}
.clsquotesITred
{
	 width:221px;background-color:#D63439;
}
.clsmarginquoteIT
{
	margin-left:25px; margin-top:-2px;
}
.rightWhiteBoxHomeIT
{
	padding:10px 4px 5px 15px;color:#FFFFFF;font-size:12px;line-height:18px; margin-top:5px;
}
.rightWhiteBoxInnerIT
{
padding:10px 4px 10px 10px;background-color:#D63439;width:172px;color:#FFFFFF;margin-top:10px;font-size:12px;line-height:18px;border:1px solid #cdcdcd;
}
.rightWhiteBoxInner
{
padding:10px 4px 10px 10px;background-color:#F58C1C;width:172px;color:#FFFFFF;margin-top:10px;font-size:12px;line-height:18px;border:1px solid #cdcdcd;
}
.clsRounded15
{
	-moz-border-radius:15px;-webkit-border-radius:15px;
}
.clsregesterservicepartner
{
	width:260px; height:107px;  background-image:url(../../Images/OrderWorkSite/Retail/pdf01.gif); background-repeat:no-repeat;margin-top:9px
}
.clsDownloadSmall
{
	width:212px; height:36px;  background-image:url(../Images/OrderWorkSite/Retail/02.gif); background-repeat:no-repeat;margin-top:16px
}	
.clsDownloadSmall:hover
{
	width:212px; height:36px;  background-image:url(../Images/OrderWorkSite/Retail/03.gif); background-repeat:no-repeat;margin-top:16px
}	
.clsDownloadNewSmall
{
		width:212px; height:36px;  background-image:url(../Images/OrderWorkSite/Retail/01.gif); background-repeat:no-repeat;margin-top:16px
}	
.clsDownloadNewSmall:hover
{
			width:212px; height:36px;  background-image:url(../Images/OrderWorkSite/Retail/04.gif); background-repeat:no-repeat;margin-top:16px
}	
.clsDownload
{
 width:260px; height:36px;  background-image:url(../Images/OrderWorkSite/Retail/pdf01.gif); background-repeat:no-repeat;margin-top:16px
}	
.clsDownloadNew
{
	width:260px; height:36px;  background-image:url(../Images/OrderWorkSite/Retail/pdf03.gif); background-repeat:no-repeat;margin-top:16px; 
}	
.clsDownloadNew:hover
{
	width:260px; height:36px;  background-image:url(../Images/OrderWorkSite/Retail/pdf04.gif); background-repeat:no-repeat;margin-top:16px; position:absolute;
}	
.clsDownload:hover
{
 width:260px; height:36px;  background-image:url(../Images/OrderWorkSite/Retail/pdf02.gif); background-repeat:no-repeat;margin-top:16px
}	
.clsregesterservicepartner:hover
{
	width:260px; height:107px;  background-image:url(../Images/OrderWorkSite/Retail/pdf02.gif); background-repeat:no-repeat;margin-top:9px
}
.GetAddSupplier{
   background-image:url(../Images/GetAddRed.gif);
   color:#FFFFFF;   
   background-repeat:no-repeat;
   background-position:left top;
   font-size:11px;      
   text-decoration:none;
   height:20px;
   width:80px;
   margin-left:10px;
   padding:4px 5px 4px 5px;
 }
  
.GetAddSupplier:hover {
color:#DCFF51;
}
.txtLinkSmlBody {
	font-size: 11px;
	color:#8C8C8C;
	text-decoration:underline;
}
.txtLinkSmlBody:hover {
	font-size: 11px;
	color:#84A8F6;
	text-decoration:underline;
}
.bodyTxtBlue {
color:#5F5F5F;
font-family:Arial,Helvetica,sans-serif;
cursor:pointer;
font-size:12px;
font-weight:400;
line-height:15px;
text-decoration:underline;
}
.bodyTxtBlue:hover
{	
	color:#3995D8;
	text-decoration:underline;
}

.clsDownloadRetail
{
 width:260px; height:36px;  background-image:url(../Images/OrderWorkSite/Retail/dwn_01_01.jpg); background-repeat:no-repeat;margin-top:16px
}	
.clsDownloadNewRetail
{
	width:260px; height:36px;  background-image:url(../Images/OrderWorkSite/Retail/dwn_02_01.jpg); background-repeat:no-repeat;margin-top:16px;
}	
.clsDownloadNewRetail:hover
{
	width:260px; height:36px;  background-image:url(../Images/OrderWorkSite/Retail/dwn_02_02.jpg); background-repeat:no-repeat;margin-top:16px; position:absolute;
}	
.clsDownloadRetail:hover
{
 width:260px; height:36px;  background-image:url(../Images/OrderWorkSite/Retail/dwn_01_02.jpg); background-repeat:no-repeat;margin-top:16px
}	
.paddingLR15
{
	padding:0px 15px 0px 15px;
}
.paddingR15
{
	padding-right:15px;
}

.clssafeguardingstatement
{cursor:pointer;background-color:Gray; width:263px; height:40px; float:left;background-image:url(../Images/OrderWorkSite/Safegaurd-CS_btn.gif); background-repeat:repeat-x;
}
.clssafeguardingstatement:hover
{
 background-color:Gray; width:263px; height:40px; float:left;background-image:url(../Images/OrderWorkSite/Safegaurd-CS_hover.gif); background-repeat:repeat-x;
}


.clssafeguardingstatementselected
{
	cursor:pointer;	background-color:Gray; width:263px; height:40px; float:left;background-image:url(../Images/OrderWorkSite/Safegaurd-CS_hover.gif); background-repeat:repeat-x;
}




.clsOWenvpolicy
{cursor:pointer; width:173px; height:40px; float:left;background-image:url(../Images/OrderWorkSite/EnvPolicy.gif); background-repeat:repeat-x;
}
.clsOWenvpolicy:hover
{
 width:173px; height:40px; float:left;background-image:url(../Images/OrderWorkSite/EnvPolicyhover.gif); background-repeat:repeat-x;
}


.clsOWenvpolicyselected
{
	cursor:pointer;	 width:173px; height:40px; float:left;background-image:url(../Images/OrderWorkSite/EnvPolicyhover.gif); background-repeat:repeat-x;
}

.clsbgIThelps
{
  background-image:url(../Images/OrderWorkSite/Bullet-bg.jpg);  width:681px; height:59px; background-repeat:no-repeat; 
}
.clsitsidegrad 
{
     background-image:url(../Images/OrderWorkSite/Gradiant-bg.jpg); background-repeat:repeat-x; min-height:400px; padding-bottom:5px;
}
.clsitsidewhite 
{
     background-image:url(../Images/OrderWorkSite/rounded-white.png);  min-height:266px; background-repeat:no-repeat;
}
.clssiteitred
{
    width:170px; min-height:15px; background-color:#D6D7D6;border-bottom:1px solid white; text-align:center; padding:5px 0px 5px 0px; font-size:12px; color:#CE2029; font-weight:bold
}
.clssiteitheading						   {font-family:Verdana ;font-size:14px;color:#184B78; font-weight:bold;}
.clssiteitinner
{
    width:170px; min-height:15px; background-color:#D6D7D6;border-bottom:1px solid white; text-align:center; padding:5px 5px 5px 5px; color:#CE2029; 
}
#ulEnginner p{

color:#D33838;

}
#ulEnginner {

color:red;

}
.clsCoreInfraPoint{font-family:verdana;font-size:12px;color:#d33838;float:left;margin-left:10px;width:186px;}
.clsCoreInfraDot{font-family:verdana;font-size:27px;color:#d33838;float:left;margin-top:7px;}

.footerTxtSelected {
color:#1E83B7;
font-family:Geneva, Arial, Helvetica, sans-serif;
font-size:11px;
text-decoration:none;
line-height:15px;
}
.footerTxtSelected:hover {
color:#8C8C8C;
font-family:Geneva,Arial,Helvetica,sans-serif;
font-size:11px;
text-decoration:none;
}
.txtListing {
font-family:Geneva, Arial, Helvetica, sans-serif;
font-size:11px;
line-height:12px;
color:#565455;
text-decoration:none;
vertical-align:middle;
}

.txtListing:hover {
font-family:Geneva, Arial, Helvetica, sans-serif;
font-size:11px;
line-height:12px;
color:#C54043;
text-decoration:none;
}
.divCVInner
{
	margin-left: 161px;
	
    
}
.clsDivRefresh
{
	margin-left:244px;margin-top:-19px;
}
.clsDivCaptchaImage
{
	margin-top:10px;
	margin-left:157px;
}
.iframestyle
{
	width:310px;height:45px;border-width:0;
}

*+html .iframestyle
{
	width:310px;height:37px;border-width:0;
}
.RowForAreaOfExp
{
	width:625px;
float:right;
font-size:11px; margin-bottom:20px;margin-top:0px;
}
.margintop10ForContract
{
	margin-top:-15px;
}
.marginLogoITWelcome
{
	margin-left:200px;
}

/*Styles For registration page added on 16th march 2012*/

.TxtLoginForRegistration
{
	border-color: #999999;
    border-style: solid;
    border-width: 1px;
    font-size: 11px;
    height: 14px;
    width: 349px;
}
.LoginInfoForRegistration{
  
  float:left;
  margin-left:15px;
  }
  .RowForRegistration{
width:530px;
float:left;
margin-top:12px;
}
.TxtNameForRegistration{
width:150px;
 padding-right:25px; 
 float:left;
 font-size:11px;

}
.hiddenButton {
    border: 0 none;
    font-size: 0;
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    width: 0;
}
.divContractorText 
{
	float: left;
    font-size: 11px;
    width:670px;
    margin-top:10px;
    line-height:20px;
}




.clsStep1Images{background-image:url(../Images/OrderWorkSite/Step01_img.gif);background-repeat:no-repeat;width:466px;height:66px;margin-left:115px;margin-bottom:15px;}
.clsStep2Images{background-image:url(../Images/OrderWorkSite/Step02_img.gif);background-repeat:no-repeat;width:466px;height:66px;margin-left:115px;margin-bottom:25px;}
.clsStep3Images{background-image:url(../Images/OrderWorkSite/Step03_img.gif);background-repeat:no-repeat;width:466px;height:66px;margin-left:115px;margin-bottom:15px;}
.RedButtonSmall{
   float:right;
   background-image:url(../Images/OrderWorkSite/RedButtonSmall.gif);
   background-repeat:no-repeat;
   width:85px;
   font-size:14px;
   color:#FFFFFF;
   height:38px;
   cursor:pointer;
   border:0 none;
 }
 /*Styles For registration page ends */
 
/***************************Function For Tabular AOE selection Starts Here ***************************************/

.clsSkillSetLeft
{
	float:left;width:133px;height:30px;padding-left:10px;padding-top:7px;
}
.divSkillSetRight
{
  float:left;width:650px;border-left:1px solid #d4d4d4;
}
.clsNotSelectedSkillDiv
{
 float:left;height:22px;width:120px;cursor:pointer;line-height:14px;margin:1px;font-size:11px;line-height:14px;background-image:url(../Images/OrderworkSite/gery_btn_It.gif);padding-left:8px;padding-top:6px;
}

.clsSelectedSkillDiv
{
float:left;height:22px;width:120px;cursor:pointer;line-height:14px;color: #FFFFFF;margin:1px;font-size:11px;line-height:14px;background-image:url(../Images/OrderworkSite/Hover_red.gif);padding-left:8px;font-weight:bold;padding-top:6px;
 }
 .clsNotSelectedSkillLeftDiv
{
 float:left;height:32px;width:144px;cursor:pointer;padding-top:6px;line-height:14px;text-align: center;font-size:12px;margin-right:1px;
}
.clsSelectedSkillLeftDiv
{
 float:left;height:32px;width:137px;cursor:pointer;line-height:14px; background-color: #EC5858;color: #FFFFFF;text-align: center;font-size:12px;margin-right:1px;margin-top:1px;border-right:1px solid #d4d4d4;background-image:url(../Images/OrderworkSite/Tablets_hover.gif);padding-left:6px;padding-top:6px;font-weight:bold;
 }
.divSkillSetRight div input
{
	float:left;margin-right:5px;
}

.clsNotSelectedSkillDivRetail
{
 float:left;height:32px;width:121px;cursor:pointer;line-height:14px;margin:1px;font-size:10px;line-height:14px;background-image:url(../Images/OrderworkSite/gery_btn.gif);padding-left:8px;padding-top:6px;
}
.divStyle
{
	float:left;background-color:#f4f4f4;width:810px;border:1px solid #d4d4d4;margin-bottom:4px;margin-top:1px;
}
.divStyleAlternate
{
   float:left;background-color:#f8f8f8;width:810px;border:1px solid #d4d4d4;margin-bottom:4px;margin-top:1px;	
}
.clsLeftCheckBox
{
	float:left;margin-right:5px;
}
.clsLeftDivTextSkillSet
{
	vertical-align:top;line-height:14px;font-size:10px;
}
.clsITMain
{ width:810px;height:100%;float:left;margin-top:6px;border-bottom:1px solid #d4d4d4;border-top:1px solid #d4d4d4;
 }
.clsITkillSet
{
 float:left;height:20px;background-color:#d4d4d4;width:800px;padding-left:10px;padding-top:5px;color:#000000;border-left:1px solid #d4d4d4;border-right:1px solid #d4d4d4;font-size:12px;
}
.clsRetailMain
{ width:810px;height:100%;float:left;border-top:1px solid #d4d4d4;
 }
.clsRetailskillSet
{
 float:left;height:20px;background-color:#d4d4d4;width:800px;padding-left:10px;padding-top:5px;color:#000000;border-left:1px solid #d4d4d4;border-right:1px solid #d4d4d4;font-size:12px;
}

/***************************Function For Tabular AOE selection Ends Here ***************************************/
#divThankYou p{margin-top:10px;}