﻿body {
	font-family:Arial;
	color:#000000;
	margin:0px;
	font-size:12px;
	text-decoration:none; 
	padding:10px 0px 0px 0px;
	
}
.ClearBoth {
	clear:both;
}
.floatLeft {
	float:left;
}

.floatRight {
	float:right;
}
.txtMega {
	font-size:20px;
	font-weight:bold;
	vertical-align:top;		
}
.txtBodyGrey {
	color:#8C8C8C;
	font-size:11px;
}
.txtBodyDarkGrey {
	color:#5F5F5F;
	font-size:11px;
}
.txtLinkSml {
	font-size: 11px;
	color:#84A8F6;
	text-decoration:none;
}
.txtLinkSml:hover {
	font-size: 11px;
	color:#8C8C8C;
	text-decoration:none;
}
.txtLinkSmlBody {
	font-size: 11px;
	color:#8C8C8C;
	text-decoration:underline;
}
.txtLinkSmlBody:hover {
	font-size: 11px;
	color:#84A8F6;
	text-decoration:underline;
}
#Main {
	margin-left:auto;
	margin-right:auto;	
	width:980px;
	padding-left:11px;
}

#MidBody
{
	/*width:1005px;*/
	width:985px;
	float:left;
	/*padding:23px 15px 20px 0px;*/
	/*height:465px;*/
	background-image:url(../Images/BtmLeft_Line.jpg);
	background-position:left bottom;
	background-repeat:no-repeat;
}
#divBodyInner
{
	/*width:1005px;*/
	width:985px;
	float:left;
	background-image:url(../Images/Bg.jpg);
	background-position:bottom  right;
	background-repeat:no-repeat;
	padding-top:23px;
	position:relative;

}
#divLoginBodyInner
{
	/*width:1005px;*/
	width:985px;
	float:left;
	background-image:url(../Images/Bg.jpg);
	background-position:bottom  right;
	background-repeat:no-repeat;
	padding-top:0px;

}
#Header {
	/*width:933px;*/
	width:913px;
	height:57px;		
	padding-left:25px;
	padding-top:25px;
	padding-right:25px;
}

*html #Header 
{
	padding-top:15px;
	height:55px;
}
*+html #Header 
{
	padding-top:15px;
	height:55px;
}		

#menu{
	 background-image:url(../Images/Menu-Band-Tile.gif);
	 background-repeat:repeat-x;
	 float:left;
	 /*width:721px;*/
	 width:701px;
	 height:28px;
	 font-family:Arial;
	font-size:13px;
	color:#FFFFFF;
	padding-top:10px;
	padding-left:20px;
 }

#divContent  {
/*background-color:#FFFFFF;*/
}


dl, dt, dd, ul, li {
margin: 0;
padding: 0;
/*list-style-type: none;*/
}

#menu dl {
float: left;
width:80px;

}
#menu dt {
cursor: pointer;
font-weight: bold;
color: #FFFFFF;
border: 0px solid gray;
margin: 1px;
}
#menu dd {
display: none;
/*width:130px;*/
text-align:left;
z-index:1000000;
/*border: 1px solid gray;*/
}
#menu li {
/*background: #D1383D;*/
vertical-align:text-top;
font-size:12px;
}
#menu dt a {
text-decoration: none;
display: block;
height: 100%;
border: 0 none;
color:#FFFFFF;
padding-left:5px;
}

#menu li a {
text-decoration: none;
display: block;
height: 100%;
border: 0 none;
color:#FFFFFF;
height:26px;
padding-top:0px;

/*padding:5px;*/
border-bottom: 1px solid #FFF;
}

#menu li a:hover, #menu li a:focus, #menu ul a:hover ,#menu ul a:focus{

color:#DCFE50;

}
#menu dt a:hover, #menu dt a:focus{
 color: #DCFE50;
}

.DDLeft
{
	float:left;  
	background-image:url(../Images/LeftCornerDD.gif); 
	background-repeat:no-repeat; 
	height:26px; 
	width:3px;
}

.DDRight
{
	float:left; 
	background-image:url(../Images/RightCornerDD.gif); 
	background-position:right; 
	background-repeat:no-repeat; 
	height:26px; 
	width:3px;
}

.DDMid
{
	background-color:#D1383D; 
	padding-left:5px;  
	padding-top:5px; 
	/*font-weight:bold;*/
	height:21px;
	width:140px; 
	float:left;
	cursor:pointer;
}


.DDStyle
{
list-style-type: none;
cursor:pointer;

}


*html .DDStyle
{
	width:151px;
	list-style-type: none;
}

#Footer 
{
	background-image:url(../Images/Footer-Tile.gif);
	background-repeat:repeat-x;
	height:14px;
	float:left;
	/*width:935px;*/
	width:915px;
	padding:12px 25px 20px 25px;
}
#divMenu 
{	
	width:935px;
	height:38px;
	background-image:url(../Images/Menu-Band-Tile.gif);
	background-repeat:repeat-x;
}

.Button
{
	width:111px;
	height:30px;
	cursor:pointer;
	font-size:13px;
	padding-top:10px;
	text-align:center;
	background-repeat:no-repeat;
	margin-left:10px;
	text-decoration:none;	
}

#Register
{
	background-image:url(../Images/Btn_Yellow.jpg);
	color:#000000;
	float:left;
}
#Register:hover
{
	color:#ED3F1C;
}

#SignIn
{
	background-image:url(../Images/Btn_Red.jpg);
	color:#FFFFFF;
	float:left;
}
#SignIn:hover
{
	color:#DCFF51;
}

#SignInUK
{
	background-image:url(../Images/SignIn_Fadeout_Btn.gif);
	color:#FFFFFF;
	float:left;
}


.marginRight19 {
	margin-right:19px;
}
.marginRight7 
{
	margin-right:7px;
}
.midImages {
	height:212px;
	/*width:334px;*/
	background-position:left;
	background-repeat:no-repeat;
	cursor:pointer;
	float:left;
}

*html .midImages
{
	/*width:324px;*/
}
#HmMain
{
	float:left;
	width:965px; 
	position:relative;
	/*background-image:url(../Images/BtmLeft_Line.jpg); 
	background-position:bottom right; 
	background-repeat:no-repeat; */
	/*min-height:480px;
	margin-bottom:20px;*/
}
#HomeOuter
{
	float:left;
	width:965px; 
	background-image:url(../Images/BtmLeft_Line.jpg); 
	background-position:bottom right; 
	background-repeat:no-repeat; 
	/*min-height:500px;*/
}
#divRetailerOuter
{
	/*width:330px;*/
	width:320px;
	float:left;
	margin-top:23px;
}

#divRetailer {
	background-image:url(../Images/ServicesForRetailer_Btn.jpg);
	margin-left:-4px;
	z-index:100;
	width:330px;
	/*width:330px;*/
	/*background-color:Black;*/
}

*html #divRetailer 
{
	position:absolute;
	z-index:100;
}
#divITFirmsOuter
{
	float:left;
	width:322px;
	margin-top:23px;
}


#divITFirms {
	background-image:url(../Images/ServicesForITFirm_Btn.jpg);
	/*width:327px;*/
	width:100%;
}
#divConsultingOuter
{
	float:right;
	width:322px;
	margin-top:23px;
}

#divConsulting {	
	background-image:url(../Images/ApplicationsConsulting_Btn.jpg);
	width:322px;
}
#ClientSay 
{
	
	float:left;
	width:611px;
	margin-top:20px;
	height:220px;
	background-image:url(../Images/Grey-Back-Tile.gif);
	background-repeat:repeat-x;
	padding-bottom:20px;
	padding:20px 25px 20px 25px;
	margin-left:1px;
	
	
}


*html #ClientSay 
{
	width:603px;
	padding-top:20px;
	padding-bottom:20px;
}
*+html #ClientSay 
{
	padding-top:20px;
	padding-bottom:20px;
}
#divBlogButton
{
float:left;
width:302px;
margin-top:20px;
height:250px;
background-image:url(../Images/Grey-Back-Tile.gif);
background-repeat:repeat-x;
padding-bottom:20px;
	
}
#divblog
{
	float:left;
	
	width:286px;
	margin-top:20px;
	height:148px;
	background-image:url(../../Images/blogbutton.jpg);
	background-repeat:no-repeat;
	padding-bottom:20px;
	
	padding-left:15px;
}
.blogLink
{
	color:#0895ED;
	font-family:Arial;
	font-size:12px;
}
.blogLink:hover
{
	color:#8C8C8C;
}
.LearnMoreLink
{
	color:#D23838;
	font-weight:bold;
}
.LearnMoreLink:hover
{
	color:#0895ED;
	
}
#divblogText
{
	float:left;
	font-size:12px;
	
}
#divQuotes
{
	
	width:611px;
	margin-top:17px;
	border-top:solid 1px #E2E2E2;
	padding-bottom:10px;
	float:left;
	
}

.QuoteOpen
{
	margin-right:0px;
	margin-top:5px;
}

.CompanyLogo
{
	margin-top:30px;
	float:left;
}
.CompanyLogoInner
{
	margin-top:10px;
	float:left;
}

#divBtmTxt
{
	width:466px;
	float:left;
	margin-top:5px;
	padding-bottom:20px;
	padding-left:25px; 
}
.bigPhone {
	margin-right:9px;
}

.divList
{
	width:170px;
	margin-top:60px;
	font-family:Arial;
	float:right;
	padding:0px 5px 0px 5px;
	font-size:13px;
	color:#000000;
	/*vertical-align:top;*/
	margin-right:10px;
	/*list-style-image: url(../Images/ArrowTransparent.gif);
	list-style-position: outside;*/

}

*html .divList
{

	padding-left:17px;
}

*+html .divList
{

	padding-left:17px;
}



/*Styles for Login and password comes here*/
.passwordField {
	color:#7B7B7B;
	font-family:Arial;
	font-size:11px;
	text-decoration:none;
	vertical-align:middle;
	padding-left:3px;
	position:relative;
	border-color:#999;
	width:160px;
	height:15px;
	border-style:solid;
	border-width:1px 1px 1px 1px;
	margin:0;	
	margin-top:15px;
}
*html .passwordField {
	width:160px;
	margin-right:10px;	
}
.passwordFieldHidden {
	font-size:0;
	width:0;
	height:0;
	visibility:hidden;
	position:absolute;
	border-width:0;
	margin:0;
	margin-top:15px;
}

.SignInTextBx
{
	margin-left:10px;
	margin-top:15px;
}
*html .SignInTextBx
{
	margin-left:0px;
}



/*Styles for Inner pages in OWSite*/

.MarginTop10
{
	margin-top:10px;
}

.ULStyle{
margin:5px 0px 15px 5px;
padding:5px 0px 15px 5px;
}

.LIStyle{
margin:0px 0px 0px 10px;
padding:0px 0px 0px 5px;
}
.LIBulletStyle{
margin:0px 0px 10px 0px;
padding:0px 0px 0px 15px;
background-image: url(../Images/ArrowTransparent.gif);
background-repeat:no-repeat;
background-position: 0px 7px;
	list-style-type: none;
}
.LIBulletStyleITFirms{
	margin:0px 0px 20px 0px;
	padding:0px 0px 0px 15px;
	background-image: url(../Images/ArrowTransparent.gif);
	background-repeat:no-repeat;
	background-position: 0px 7px;
	list-style-type: none;
}
.RetailerVan
{
	position:absolute;
	float:left; 
	margin-left:-10px; 
	z-index:auto; 
}

.AppsconMen
{
	position:absolute; 
	float:left; 
	margin-top:-14px;
}

.ITWoman
{
	position:absolute; 
	margin-top:-11px;
}

.ServcPrtnr
{
	position:absolute; 
	margin-top:-8px; 
}

#divLeftOuter
{
	/*width:730px;*/
	width:720px;
	float:left;
	padding-bottom:20px;

}

#divRightOuter
{
	float:right;
	width:232px;
padding-bottom:135px;
	/*margin-left:20px;*/
	background-image:url(../Images/Frame_Big.jpg);
	background-position:right top;
	background-repeat:no-repeat;
	border-top:solid 1px #F4F4F4; 
}

#divTitle
{
	width:100%;
	height:84px;
	background-image:url(../Images/MdlCurve.jpg);
	background-repeat:repeat-x;
}

#divInfo
{
	
	/*width:680px;*/
	width:660px;
	padding-right:25px;
	float:right;
	/*height:500px;*/
	margin-top:30px;
	padding-bottom:30px;
	line-height:18px;
	text-align:justify;
	/*list-style-image: url(../Images/ArrowTransparent.gif);*/
}

#divTabs
{
	/*width:685px;*/
	width:665px;
	height:34px;
	border-bottom:solid 1px #E3E3E3;
	float:left;
}


.TabText
{
	float:left;
	padding-top:10px; 
	text-align:center; 
	font-size:13px; 
	font-weight:bold; 
	padding-left:10px; 
}


.Tab
{
	/*background-image:url(../Images/Grey_MdlCurve_Btn.jpg);
	background-repeat:repeat-x;*/
	height:38px;
	cursor:pointer;
	
}

*html .Tab
{ 
    height:33px;
}

#WhatWeDO
{
	width:125px;
	float:left;
	color:#5C5C5C;
	background-image:url(../Images/Grey_MdlCurve_Btn.jpg);
	background-repeat:repeat-x;
	
}
#Benefits
{
	width:100px;
	float:left;
	color:#c3c3c3;
	margin-left:10px;
	background-image:url(../Images/Grey_MdlCurve_Rlover.jpg);
	background-repeat:repeat-x;
}
#CaseStudy
{
	width:120px;
	float:left;
	color:#c3c3c3;
	margin-left:10px;
	background-image:url(../Images/Grey_MdlCurve_Rlover.jpg);
	background-repeat:repeat-x;
}

#SecurityVetting
{
	width:135px;
	float:left;
	color:#c3c3c3;
	margin-left:10px;
	background-image:url(../Images/Grey_MdlCurve_Rlover.jpg);
	background-repeat:repeat-x;
}
 
#divWhatWeDO
{
	/*list-style-image: url(../Images/ArrowTransparent.gif);	*/
	float:left;
	text-align:justify;
	line-height:18px;
	/*width:680px;*/	
} 

#divWhatWeDOITFirms
{
	float:left;
	text-align:justify;
	line-height:18px;
	margin-right:-40px;	
} 
*+html #divWhatWeDOITFirms
{
	margin-right: 0px;	
} 
*html #divWhatWeDOITFirms
{
	margin-right: 0px;	
} 

#divBenefits
{
	/*list-style-image: url(../Images/ArrowTransparent.gif);*/
	/*padding-top:10px; */
	float:left;
	display:none;
	padding-left:5px;
	text-align:justify;
	line-height:18px;
	/*width:680px;*/
} 
*html #divBenefits
{
	padding-top:25px;
	padding-left:10px;
}
*+html #divBenefits
{
	/*padding-top:20px;*/
	padding-left:10px;
}
#divCaseStudy
{
	/*list-style-image: url(../Images/ArrowTransparent.gif);*/
	padding-top:10px;
	display:none; 
	padding-left:5px; 
	float:left;
	text-align:justify;
	line-height:18px;
	/*width:680px;*/
} 

#divSecurityVetting
{
	/*list-style-image: url(../Images/ArrowTransparent.gif);*/
	padding-top:20px; 
	display:none; 
	padding-left:5px; 
	float:left;
	text-align:justify;
	line-height:18px;
	width:660px;
}
   
.Title
{
	/*width:200px;*/
	font-size:24px;
	margin-top:25px;
	padding-right:10px;
	float:right;
	vertical-align:middle;
}

.SubTab
{
	height:25px; 
	width:660px;
	border-bottom:1px solid #E3E3E3; 
	float:left;
}

.SubTabAnch
{
	/*width:170px; */
	height:18px; 
	padding-left:10px;
	/*border-bottom:1px solid #EC5856; */
	font-size:12px;
	float:left;
	font-weight:bold;
	background-image:url(../Images/ArrowTransparent.gif);
	background-position:left center;
	background-repeat:no-repeat;

}

#CaseStudyOneOuter
{
	margin-right:10px;
	padding-right:15px;
	border-right:solid 1px #E3E3E3;
}

.LeftSideTitle
{
	float:left;
	padding-left:20px;
}

#divImages
{
	width:680px;
	height:38px;
	padding-top:10px;
	margin-bottom:40px;
}

*html #divImages
{
	margin-bottom:10px;
}

#divRightSectionInfo{
  width:181px;
  float:right;
  color:#5C5C5C;
  background-image:url(../Images/Frame_Big.jpg);
  background-position:top left;
  background-repeat:no-repeat;
  padding-left:25px;
  padding-right:25px;
  padding-bottom:20px;
}

*html #divRightSectionInfo
{
	padding-top:15px;
}


#divDownLoadOuter{
  width:232px;
  float:right;
  background-image:url(../Images/Frame_Small.jpg);
  background-position:right top;
  background-repeat:no-repeat;  
 
}

/*\*/ html*
#divDownLoadOuter{
  width:100%;
  float:left;
}

*+html #divDownLoadOuter
{
	width:100%;
  float:left;
}

#divDownLoadInfo{
  width:206px;
  float:right;
  border-top:1px solid #F4F4F4;   
  padding: 12px 0px 18px 25px;  
  background-image:url(../Images/Frame_Small.jpg);
  background-position:left top;
  background-repeat:no-repeat; 
}

#divDownLoadInfo:hover
{
	width:202px;
	padding-top:9px;
	padding-left:25px;
	padding-bottom:14px;
	border:solid 4px #E0E0E0;
}
html* #divDownLoadInfo:hover
{
	padding-left:21px;
}
*+html #divDownLoadInfo:hover
{
	padding-left: 21px;
	padding-bottom:14px;
	padding-top:9px;
}
.WhitePaper
{	
	width:195px;
	color:#5C5C5C;	
	float:left;
	line-height:18px;
	text-decoration:none;
	cursor:pointer;
	/*background-image:url(../Images/Frame_Small.jpg);
   background-position :right top;
   background-repeat:no-repeat;*/
}

/*\*/
html* .SmallFrame
{
	position:absolute; 
	margin-left:25px;
}

.SmallFrame
{
	position:absolute; 
	margin-left:205px;
	margin-top:-10px;
}


.MarqueStyle
{
	float:left;
	width:680px;
	height:75px;
	margin-top:10px;
	/*border-left:solid 1px #CCC; */
	/*padding-left:10px;*/
	/*padding-right:25px;*/
}

*html .MarqueStyle
{
	height:40px;
}


#divRegister{
   width: 837px;
   height:304px;
   /*background-color:#999999;*/
   margin-left:auto;
   margin-right:auto;
} 

#divBuyer
{
   width:366px;
   /*height:229px;*/
   float:left;
   background-image:url(../Images/LeftBg.jpg);
   background-repeat:no-repeat;
}

#divSupplier
{
   width:406px;
   /*height:228px;*/
   float:right;
   background-image:url(../Images/RightBg.jpg);
   background-repeat:no-repeat;
}

#RegList{
width:365px;
height: 190px;
padding-left:15px;
padding-top:12px;
}

.BulletListRPage{
margin: 40px 0px 0px 95px ;
padding:10px 0px 5px 5px;
/*list-style-image:url(../Images/ArrowTransparent.gif);*/
list-style-type:none;
}


*+html .BulletListRPage
{
	margin: 50px 0px 0px 95px ;
}

*html .BulletListRPage
{
	margin: 50px 0px 0px 95px ;
}

#RegisterBtn{
  width:223px;
  height:38px;
  color:#000000;
  margin-left:auto;
  margin-right:auto;  
 background-image:url(../Images/OrangeBtn_Big.jpg);
  background-repeat:no-repeat;
 }
 
 #RegisterBtn:hover{
 
 color:#ED3F1C;
 }
 
 #RegisterSerBtn{
  width:223px;
  height:38px;
  color:#FFFFFF;
  margin-left:auto;
  margin-right:auto;  
   background-image:url(../Images/RedBtn.gif);
   background-repeat:no-repeat;
/*  background-image:url(../Images/YellowBtn.gif);
  background-repeat:no-repeat;*/
 }
 
  #RegisterSerBtn:hover{
 color: #DCFF51;
 }
 
#divLoginMain{
   width:808px;
	height:220px; 
  margin-top:58px;
 /* background-image:url(../Images/Login/LeftImage.jpg);
  background-repeat:no-repeat;*/
  margin-left :auto;
  margin-right:auto;
}



#divForgotPassMain{
   width:808px;
   height:350px; 
   margin-top:58px;
   /*background-image:url(../Images/Login/LeftImage.jpg);
   background-repeat:no-repeat;*/
   margin-left :auto;
   margin-right:auto;
}
 

#divLogin {
   width:473px;
   height:220px;
  float:right;
   background-image:url(../Images/LoginTopband.jpg);
  background-repeat:no-repeat;
  background-position:right top;
  border-left:solid 1px #EAB4B4;

}

#divLoginLogo
{
	width:300px;
	height:220px;
	float:left;
	background-image:url(../Images/LoginLeftTile.jpg);
	background-repeat:repeat-x;
}

#divLoginRight
{
	width:443px;
	height:220px;
	float:right;
	background-image:url(../Images/LoginTileRight.jpg);
	background-repeat:repeat-x;
}


#divRightImage
{
	width:443px;
	height:220px;
	float:right;
	background-image:url(../Images/LoginRghtImg.jpg);
	background-repeat:no-repeat; 
	float:right; 
	background-position:right top;
}


#divForgotPassword {
   width:473px;
   height:350px;
  float:right;
  /* background-image:url(../Images/Login/RightImage.jpg);
  background-repeat:no-repeat;*/
  background-position:right top;
  border-left:solid 1px #EAB4B4;

}

#divForgotRight
{
	width:443px;
	height:215px;
	float:right;
	background-image:url(../Images/LoginTileRight.jpg);
	background-repeat:repeat-x;
}


#divRightImageFP
{
	width:443px;
	height:350px;
	float:right;
	background-image:url(../Images/Key.jpg);
	background-repeat:no-repeat; 
	float:right; 
	background-position:right top;
}
*html #divRightImageFP
{
   margin-top:-3px;
}
*+html #divRightImageFP
{
   margin-top:-3px;
}

.FPasswordRedBtn{
background-image:url(../Images/RedBtnSmall.gif);
text-decoration:none;
 padding-top:4px;
 text-align:center; 
 width:59px; 
 color:#FFFFFF;
 background-repeat:no-repeat; 
 height:22px; 
 float:left; 
 margin-top:10px;
 margin-left:10px;
}

.FPasswordRedBtn:hover{
color:#DCFF51;
}

.FPasswordYellowBtn{
background-image:url(../Images/YellowBtn.gif);
text-decoration:none; 
padding-top:4px; 
text-align:center; 
width:62px; 
color:#000000;
background-repeat:no-repeat; 
margin-left:10px;
 height:22px; 
 float:left; 
 margin-top:10px;
}

.FPasswordYellowBtn:hover{
color:#ED3F1C;
}

.FPasswordYellowWideBtn{
background-image:url(../Images/YellowBtnWide.gif);
text-decoration:none; 
padding-top:4px; 
text-align:center; 
width:125px; 
color:#000000;
background-repeat:no-repeat; 
margin-right:10px;
 height:22px; 
 float:left; 
 margin-top:10px;
}

.FPasswordYellowWideBtn:hover{
color:#ED3F1C;
}

.PopTail{
position:absolute;
 margin-top:-24px; 
  margin-left:-50px;
}
 
 /*\*/ 
 html* .PopTail{
 margin-left:0px;
 }
 
 *+html .PopTail{
 margin-left:-50px;
 }
 



#divLoginInner{
  width:270px;
   height:140px;
   margin-left:35px;
   margin-top:30px;
}

*+html #divLoginInner
{
	margin-top:10px;
}

*html #divLoginInner
{
	margin-top:10px;
	/*width:300px;*/
}

.TxtBx{
  float:left;
 margin-top:5px;
 height:15px;
border:1px solid  #999999;
color:#7B7B7B;
font-family:Arial;
font-size:11px;
padding-left:3px;
 }

#divSignInLogin{
   width:65px;
   height:23px;
   text-align:center;
   /*padding-top:4px;*/
   margin:7px 0px 0px 10px;
   float:left;
  /* background-image:url(../Images/Login/YellowBtn.gif);
   background-repeat:no-repeat;*/
   }
   
 .SignInBtn
 {
	width:65px;
    height:23px;
	background-image:url(../Images/Login/YellowBtn.gif);
   background-repeat:no-repeat;
 }

.ForgotLink{
color:#84A9F7; 
margin-top:10px;
text-decoration:underline;
 font-size:11px;
 float:left;
}

.ForgotLink:hover
{
	color:#5F5F5F;
}

.ChechBox
{
  font-size:11px;
  float:right;
  color:#666666;
  margin-top:7px;
  }
  
  
 #divLoginBuyer{
   width: 705px;
    float:left;
	padding:0px 0px 10px 0px;
	min-height:500px;
} 

.LoginInfo{
  width:680px;
  /*height:260px;*/
  float:left;
  margin:20px 0px 20px 20px;
  }
.Row{
width:625px;
float:right;
margin-top:10px;
}

.TxtName{
width:150px;
 padding-top:5px; 
 float:left;
 font-size:11px;

}

#divServicePartner{
	width: 204px;
	float:right;
	margin-top:20px;
	padding:20px 0px 10px 25px;
	border-left:solid 1px #EFC7C7;
	border-right:solid 1px #EFC7C7;
	color:#EC5858;
	font-size:14px;
	list-style-image:url(../Images/ArrowTransparent.gif);
}


.TxtLogin{
width:350px;
height:14px;
border-color:#999999;
border-style:solid;
border-width:1px;
font-size:11px;
}

.DDWhite{
width:350px;
height:14px;
border-color:#999999;
border-style:solid;
border-width:1px;
font-size:11px;
margin-top:5px;
}

#divOR{
  float:left;
  height:40px;
  padding-left:10px;
  margin-top:84px;
  text-align:center;
  color:#E1E1E1;
  font-size:16px;
  }
  
  *html #divOR{
  padding-left:0px;
  }


.RegisterSupplier{
   float:right;
   background-image:url(../Images/ServicePatner/RedButton.gif);
   background-repeat:no-repeat;
   width:133px;
   font-size:14px;
   color:#FFFFFF;
 }
  
.RegisterSupplier:hover {
color:#DCFF51;
}

.RegisterBuyer {
   float:right;
   background-image:url(../Images/OrangeBtn_Small.jpg);
   background-repeat:no-repeat;
   width:133px;
   font-size:14px;
   color:#000000;
 }
 
 .RegisterBuyer:hover{
  color:#ED3F1C;
  }
  
  
.GetAddSupplier{
   background-image:url(../Images/GetAddRed.gif);
   color:#FFFFFF;   
   background-repeat:no-repeat;
   background-position:left top;
   font-size:11px;      
   text-decoration:none;
   height:20px;
   width:80px;
   margin-left:10px;
   padding:4px 12px 4px 10px;
 }
  
.GetAddSupplier:hover {
color:#DCFF51;
}

.GetAddBuyer {
   background-image:url(../Images/GetAddYellow.gif);
   background-repeat:no-repeat;
   background-position:left top;
   font-size:11px;
   color:#000000;   
   text-decoration:none;
   height:20px;
   width:80px;
   margin-left:10px;
   padding:4px 12px 5px 10px;
 }
 
 .GetAddBuyer:hover{
  color:#ED3F1C;
  }




.PinkCurveTop{
position:absolute; 
margin-top:-25px; 
height:7px; 
width:231px; 
margin-left:-26px; 
background-image:url(../Images/ServicePatner/RightColoum_TopBand.gif);	
background-position:top; 
background-repeat:no-repeat; 
}

.PinkCurveBtm{
 position:absolute; 
 margin-top:10px;
  height:7px; 
  width:231px; 
  margin-left:-26px; 
  background-image:url(../Images/ServicePatner/LeftColoum_BtnBand.gif);
  background-position:top; 
  background-repeat:no-repeat;
}



#divAddress { 
    width:160px;
    height:142px;
    margin-left:16px;
    margin-top:22px;
	font-size:14px;
	float:left;
	line-height:18px;
}


#divEnquiryForm{
   width:315px;
   height: 385px;
 float:left;
 margin-left:50px;
 margin-top:22px;
}

#divSitePath{
  width: 340px;
  height: 484px;
  float:right;
  margin-right: 27px;
 /* background-image:url(../Images/Map.jpg);
  background-position:top;
  background-repeat:no-repeat;*/
   margin-top:22px;
}

*html #divSitePath{
margin-right:10px;
height:490px;
}

.RowForContact{
   width:315px;
   padding-top:5px;
}

.TxtBxContact{
width:315px;
margin-top:5px;
height:15px;
font-size:12px;
border:solid 1px #999999;
}


#divPolicy{
padding-left:25px;
padding-top:25px;
float:left;
width:935px;
line-height:18px;
padding-bottom:20px;
text-align:justify;
list-style-image:url(../Images/ArrowTransparent.gif);
}

.FullText
{
	padding:25px 40px 25px 40px;
	text-align:justify;
}

#PrivacyPolicy
{
	width:135px;
	float:left;
	text-align:justify;
	background-image:url(../Images/Grey_MdlCurve_Btn.jpg);
	background-repeat:repeat-x;
	
}

#QProcedure
{
	width:150px;
	float:left;
	margin-left:10px;
	background-image:url(../Images/Grey_MdlCurve_Rlover.jpg);
	background-repeat:repeat-x;
	color:#C3C3C3;
}




.Arial12{
font-family:Arial;
font-size:12px;
}


.LinkWhite
{
	color:#ffffff;
	text-decoration:none;
}
.LinkWhite:hover
{
	color:#000000;
}

.LinkServices{
color:#8C8C8C;
text-decoration:underline;
}
.LinkServices:hover{
color:#84A8F6; 
text-decoration:underline;
}
.MgmtTeam{
  /*width:905px;*/
  width:885px;
 float:left;
  text-align:justify;
  padding-bottom:25px;
  margin-top:25px;
  border-bottom:solid 1px #DBDBDB;
  line-height:18px;
  }
*html .MgmtTeam
{
  margin-top:10px;	
}
*+html .MgmtTeam
{
  margin-top:10px;	
}
  
  .MgmrPhoto
  {
	width:140px;
	height:135px;
	float:left;
  }
  
.MgmrDescription
{
	float:right;
	/*width:760px;*/
	width:740px;
	/*height:135px;*/
}

.MgmnrName
{
	width:118px; 
	text-align:center; 
	color:#D23838; 
	padding-top:10px;
	line-height:14px;
}
  
  
  #divInnerLeft
{
	/*float:left;*/
	margin-top:20px;
	width:482px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
}
#divInnerLeftTopBand
{
	height:10px;
	width:482px;
	background-image:url(../Images/InnerTAble_TopBand.gif);
	background-repeat:no-repeat;
	background-position:bottom;
	margin-top:0px;
	margin-bottom:0px;
	line-height:0px;
	font-size:0px;	
}
#divInnerLeftMiddleBand
{
	height:100%;
	width:482px;
	background-image:url(../Images/InnerTAble_MdlBand.gif);
	background-repeat:repeat-y;
	background-position:top ;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:-1px;
	padding-left:2px;
}
#divInnerLeftBottomBand
{
	height:10px;
	width:482px;
	background-image:url(../Images/InnerTAble_BtmBand.gif);
	background-repeat:no-repeat;
}


#divSummaryHeading
{
	font-family:Arial;
	font-size:14px;
	font-weight:bold ;
	color:#000000;
	margin-left:20px;
	padding-top:5px;
}
#divSummaryContent
{
	font-family:Arial;
	font-size:12px;
	color:#000000;
	margin-top:23px;
}


#divSummaryHeaderRow
{
	background-color:#FCF9D6;
	width:480px;
	height:16px;
	padding-top:2px;
	font-weight:bold ;
	vertical-align:middle;
}
.SummaryRow
{
	width:478px;
	height:16px;
	padding-top:2px;
	vertical-align:middle;
	margin:0px;
}


.Left
{
	float:left;
	text-align:left ;
	width:120px;
	font-weight:bold ;
	margin-left:20px;
}
.Center
{
	float:left;
	text-align:center ;
	width:120px;
}
.Right
{
	float:left;
	text-align:right;
	font-weight:bold ;
	width:98px;
}


#divInnerLeftBottomBand
{
	height:10px;
	width:482px;
	background-image:url(../Images/InnerTAble_BtmBand.gif);
	background-repeat:no-repeat;
}
 

#divPressRelease
{
  width: 905px; 
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
  border:solid 1px #F4F4F4;
}

.PressTopRow
{
	width:905px;
	min-height:30px;
}

.PressLeftRow
{
	width:120px;
	float:left;
	padding-top:9px;
	padding-left:25px;
}
.PressMidRow
{
	width:20px;
	float:left;
	padding-top:9px;
}
.PressRightRow
{
	width:720px;
	padding-top:9px;
	padding-bottom:10px;
	float:left;
	color:#3995D8;
}

.AlternateRowColor
{
	background-color:#F8F8F8;
}
.PressTopHeading
{
	color:#FFFFFF;
	background-color:#C9C9C9;
}

#divArticles{
   width:905px;
   /*height:435px;*/
   margin-top:20px;
   margin-left:auto;
   margin-right:auto;
   border-bottom:solid 1px #F4F4F4;
   border-top:solid 1px #F4F4F4;
   margin-bottom:46px;
}

.ArticleRowOuter
{
	width:903px;
	border-left:solid 1px #F4F4F4;
    border-right:solid 1px #F4F4F4;	
}
.ArticlesRow
{
	width:854px;
	margin-left:auto;
	margin-right:auto;
	padding:20px 0px 20px 0px;
	border-bottom:solid 1px #F4F4F4;
   /*border-right:solid 1px #F4F4F4;*/
}

.bodyTxtBlue {
color:#5F5F5F;
font-family:Arial,Helvetica,sans-serif;
cursor:pointer;
font-size:12px;
font-weight:400;
line-height:15px;
text-decoration:underline;
}
.bodyTxtBlue:hover
{	
	color:#3995D8;
	text-decoration:underline;
}

.LinkOrange {
color:#FEBF00;
font-family:Geneva,Arial,Helvetica,sans-serif;
line-height:13px;
text-decoration:none;
}

.LinkOrange:hover 
{
	color:#000000;
}

.bodyTxtRed {
color:#D52929;
font-family:Arial,Helvetica,sans-serif;
cursor:pointer;
font-size:12px;
line-height:15px;
}

.bodyTxtRed:hover 
{
	color:#5F5F5F;
}
	
#divQProcedure
{
	display:none; 
    padding:20px 0px 25px 0px; 
    float:left;
    width:100%;
    line-height:18px;
    /*list-style-image:url(../Images/ArrowTransparent.gif);*/
}

#divPrivacyPolicy
{
   /* list-style-image:url(../Images/ArrowTransparent.gif);  */
	padding:20px 0px 25px 0px; 
	float:left;
	width:100%;
	line-height:18px;
}
			



.PopUpTailDiv
{
	height:51px; 
	width:212px; 
	color:#FF0000;
	padding-top:15px; 
	padding-left:15px; 
	padding-right:15px; 
	float:left; 
	margin-top:10px; 
	background-color:#FEFDE1; 
	border:solid 1px #EAE8C1;
}

.BlogRow
{
	width:706px;
	height:121px;
	float:right;
	padding-top:10px;
	margin-top:10px;
	border-bottom:dashed 1px #DCD8D9;
}

.BlogLeftRow
{
	width:96px;
	height:101px;
	float:left;
	background-image:url(../Images/Blog.gif);
	background-repeat:no-repeat;
	color:#9C9C9C;
	text-align:center;
}

.BlogRightRow
{
	width:584px;
	height:101px;
	float:right;
	color:Gray;
}

.PaddingTpBtm
{
	padding-top:5px; 
	padding-bottom:10px;
	text-align:justify;
}

.BlogAnchor
{
	text-decoration:underline; 
	color:#BAB8B9;
	cursor:pointer;
}

.BlogAnchor:hover 
{
	color:#000000;
}


.BlogHeadingRow
{
	width:706px;
	height:35px;
	float:right;
	padding-top:10px;
	margin-top:10px;
	border-bottom:solid 1px #DCD8D9;
}

#TopSearch
{
	float:right; 
	margin-top:24px; 
	margin-right:20px; 
	width:375px; 
	height:24px;
}

.BlogLeftTxt
{
	font-size:24px; 
	padding-top:10px;
}

.Font11
{
	font-size:11px;
}

.BlogRightSectionInfo
{
	list-style-image:url(../Images/ArrowTransparent.gif); 
	height:500px; 
}

*html .BlogRightSectionInfo
{
	padding-top:10px;
}

*+html .BlogRightSectionInfo
{
	padding-top:20px;
}

.BlogLinkBtn
{
	float:right; 
	background-image:url(../Images/Login/RedBtn.gif); 
	text-decoration:none; 
	padding-top:3px; 
	color:White; 
	text-align:center; 
	background-repeat:no-repeat; 
	width:59px; 
	height:22px;
}

.BlogLinkBtn:hover
{
	color:#DCFF51;
}

#divDownloadPaper
{
	width: 375px;
	height: 315px;
	float:left;
	margin-left:280px;
	margin-top:20px;
	padding-bottom:50px;
}

*html #divDownloadPaper
{
	margin-left:140px;
}

.WhitePaperRow{
width:275px;
margin-top:10px;
height:34px;
font-size:11px;
}
*html .WhitePaperRow
{
	margin-top:0px;
}
.TxtBxDownload{
width:275px;
margin-top:5px;
height:13px;
border:1px solid #999999;
}

.WhitePaperBottomRow{
width:350px;
margin-top:20px;
/*height:34px;*/
font-size:11px;
}


.DownloadButton
{
	background-image:url(../Images/buttonDownload.jpg);
	background-repeat:no-repeat;
	float:right;
	width:293px;
	height:47px;
	color:#000000;
	margin-top:-10px;
	text-decoration:none;
}

.DownloadButton:hover
{
	color:#ED3F1C;
}

.InnerPagesLogo
{
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}

/*Added Differences*/
.LIMarginTop{
margin:10px 0px 0px 10px;
padding:0px 0px 0px 5px;
}

*html .RemoveMargin
{
	margin-top:0px;
	line-height:12px;
}
*html .RemoveMargin
{
	margin-top:0px;
	line-height:12px;
}

.MarqueImage
{
height:52px; 
width:145px; 
float:left; 
margin-left:15px;  
border-right:solid 1px Gray;
}
.BulletListLeft
{
float:left; 
width:85px; 
padding-left:5px;
}
.BulletListRight
{
float:left; 
width:60px;
padding-left:10px;
}
 .BalanceRow
{
height:20px;
background-color:#FEFDF5;
width:480px;
padding-top:2px;
font-weight:bold ;
vertical-align:middle;
line-height:18px;
}
.PopUpTailValidationDiv
{
min-height:30px; 
height:100%;
/*width:247px; */
width:320px;
padding-top:15px; 
padding-left:15px; 
padding-right:15px;
padding-bottom:15px; 
font-size:11px;
float:left; 
margin-top:10px; 
margin-left:280px;
background-color:#FEFDE1; 
border:solid 1px #EAE8C1;
}
.PopUpTailContactUsDiv
{
min-height:30px; 
width:287px; 
padding-top:15px; 
padding-left:15px; 
padding-right:15px;
padding-bottom:15px; 
font-size:11px;
margin-top:10px; 
background-color:#FEFDE1; 
border:solid 1px #EAE8C1;
}

/*Change the style */ 
*html .PopUpTailValidationDiv
{
	margin-left:280px;
	height:30px;
	float:none;
}

.PopUpTailActivationDiv
{
min-height:30px; 
height:100%;
width:247px; 
padding-top:15px; 
padding-left:15px; 
padding-right:15px;
padding-bottom:15px; 
color:#FF0000;
font-size:11px;
margin-top:10px; 
background-color:#FEFDE1; 
border:solid 1px #EAE8C1;
}
.PopUpTailRegisterDiv 
{
min-height:51px; 
height:100%;
width:542px; 
padding-top:15px; 
padding-left:15px; 
padding-right:15px;
padding-bottom:15px; 
font-size:11px !important;
float:left; 
margin-top:10px; 
background-color:#FEFDE1; 
border:solid 1px #EAE8C1;
}

.MatrixRow
{
	width:100px;
	float:left;
}
.MatrixFirstRow
{
 	width:660px; 
 	height:30px; 
 	padding-top:10px; 
 	float:left;
 	border-left:solid 1px #F4F4F4;
 	border-right:solid 1px #F4F4F4;
 }
 .ColorMatrix
 {
 	background-color:#F4F4F4;
 }
 .MatrixLeftRow
 {
 	width:215px; 
 	float:left; 
 	padding-left:35px; 
 	font-weight:bold;
 }
 *html .IE6PositionAbsolute
 {
	position:absolute;
 }
 .MatrixBorder
 {
 	border:solid 1px #F4F4F4;
 }
 
 h3
 {
 	margin-top:10px;
 	margin-bottom:3px;
 	font-size:12px; 
 }
 h4
 {
 	margin-top:10px;
 	margin-bottom:3px;
 	font-size:12px;
 }
 h5
 {
 	margin-top:5px;
 	margin-bottom:10px;
 	font-size:12px;
 }
  h6
 {
 	margin-top:15px;
 	margin-bottom:5px;
 	font-size:12px;
 }
 
 *html h6
 {
	margin-bottom:3px;
 }
  h7
 {
 	margin-top:5px;
 	
 	font-size:12px;
 }
 .floatLeft {
 	float:left;
 }
 .MarginTop10
 {
 	margin-top:10px;
 }
 .floatRight {
 	float:right;
 }
 .BgTileForMasterPage
{
float:left;  
width:965px;
background-image:url(../Images/PageMdlTile.jpg); 
background-repeat:repeat-x;
}

.updateProgress,.updateProgressLeft {
background-color:#eeeeeb;
filter:alpha(opacity=70);
mozopacity:.7;
opacity:.7;
position:absolute;
margin:0;
padding:0;
}
.updateProgress div,.updateProgressLeft div {
 background-color:#eeeeeb;
 color:#000;
 font-family:Geneva, Arial, Helvetica, sans-serif;
 font-size:12px;
 font-weight:700;
 left:40%;
 position:absolute;
 top:15%;
 padding:4px;
}

.TextJustified
{
	text-align:justify;
}
.LIPaddingLeft
{
	padding-left:10px;
}

.ValidationForContact
{
	
	width:295px; 
	float:left; 
	margin-top:10px; 
	padding:10px;
	list-style:none;
	background-color:#FEFDE1; 
	border:solid 1px #EAE8C1;
}
#Box
{
	width:225px;
	float:left;
}
.LIBulletRetailer 
{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 10px;
	background-image: url(../Images/Bullet_RetailerBrands.gif);
	/*background-image: url(../Images/ArrowTransparent.gif);*/
	background-repeat: no-repeat;
	background-position: 0px 7px;
	list-style-image:none;
	list-style-type: none;
}

.ImagePosition
{
	margin:25px auto 25px auto; 
	width:294px; 
	height:217px;
}

.RetailerRowOuter
{
	width:100%; 
	background-color:#FAFAFA; 
	border:solid 1px #EEEEEE;
}
.RetailerRowLeft
{
	width:200px;
	float:left;
	height:36px;
	vertical-align:middle;
	padding:10px;
	border-right:solid 1px #EEEEEE;
}
.RetailerRowRight
{
	float:right;
	width:410px;
	padding:10px;
}

.LineSeparated
{
	float:left; 
	width:100%; 
	height:1px; 
	border-bottom:1px solid #F4F4F4; 
	margin:25px 0px 25px 0px;
}
*html .LineSeparated
{
	float:left; 
	width:100%; 
	height:1px; 
	border-bottom:1px solid #F4F4F4; 
	margin:10px 0px 25px 0px;
}

.VisitedLinks
{
	color:#000000;
}
.VisitedLinks:visited 
{
	color:#000000;
}
.width251
{
	width:255px;
	height:17px;
}
*+html .width251
{
	width:255px;
	height:20px;
}

.width140
{
	width:140px;
}

.btnOuter
{
	width:130px;
	float:left;
	height:20px;
}

.buttonRedBg
{
	background-color:#D43839;
	padding:5px 0px 5px 10px;
}

.MarginTop5
{
	margin-top:5px;
}

.ActAccountOuter
{
	padding-top:25px; 
	padding-left:25px;
}

*+html .ActAccountOuter
{
	padding-top:10px; 
}
.displaynone
{
	line-height:0px;
	height:0px;
	width:0px;
	font-size:0px;
	margin:0px;
	padding:0px;	
}
.ISOImg 
{
	float:right;
	position:absolute;
	margin-right:114px;
	bottom:30px;
	right:0px;
}
.ISOImgContactUs
{
	float:right;
	padding: 0px 46px 30px 0px;
	margin-top:-76px;
	vertical-align:baseline;	
}
.ISOImgMgmt
{
	float:right;
	padding: 0px 61px 30px 0px;
	margin-top:-20px;
	vertical-align:baseline;	
}
.ISOImgRetailer
{
	
	float:right;
	position:absolute;
	margin-right:95px;
	bottom:30px;
	right:0px;
}
.imgFreesat
{
	
	float:right;
	position:absolute;
	margin-right:95px;
	bottom:120px;
	right:0px;
}
.retailsWhtwedo
{
	margin-top:14px;
	float:left;
	width:660px;
}
*+html .paddingBtm18
{
	padding-bottom:18px;
}
.ITProjectsBenifits
{
	margin-top:10px;
	float:left;
	width:660px;
}
#tblITFirms
{	
	color:#000000;	
}
.tblITFirmsTRHead
{
	padding:0px 35px 0px 35px;
	background-color:#ECECEC;
	height:40px;
}
.tblITFirmsTRHeadLeft
{
	padding:0px 35px 0px 35px;
	background-color:#ECECEC;
	height:40px;
	border-right:solid 1px #FFFFFF;
}
.tblITFirmsTR
{	
	vertical-align:top;
}
.tblITFirmsTDLeft
{
	padding:10px 35px 10px 35px;	
	border-left:solid 1px #ECECEC;	
	border-right:solid 1px #ECECEC;	
	border-bottom:solid 1px #ECECEC;	
}
.tblITFirmsTDRight
{	
	padding:10px 35px 10px 35px;	
	border-right:solid 1px #ECECEC;	
	border-bottom:solid 1px #ECECEC;	
}
.marginRight26
{
	margin:0px 26px 0px 0px;
}
.marginRight9
{
	margin:0 9px 0px 0px;
}

.rdbtn
{
	margin-left:-6px;
}
#pnlHrdAbtUs
{
	float:left;
	padding-top:5px; 
	display:none;
	
}
*html #pnlHrdAbtUs
{
	padding-left:2px;
	padding-top:0px; 
	position:relative;
	margin-top:-9px;
}
*+html #pnlHrdAbtUs
{
	padding-left:2px;
	padding-top :0px;
	position:relative;
	margin-top:-9px;
}

#divHrdtxt
{
	display:none;
}
/********** Rounded Corners *************/

.b1, .b2, .b3, .b4{font-size:1px; overflow:hidden; display:block;}

.b1 {height:1px; background:#D43839; margin:0 5px;}

.b2 {height:1px; background:#D43839;  margin:0 3px;}

.b3 {height:1px; background:#D43839; margin:0 2px;}

.b4 {height:2px; background:#D43839;  margin:0 1px;}

/****************************************/
.padleftIT
{
	padding-left:39px;
}
.divCoreNonCore{
    float:left;
    width:500px;
    height:318px;
    padding-top:13px;
    padding-left:82px;
    
    text-align:left;
    }
    .coreRow{
    width:500px;
    height:52px;
    float:left;
    color:#FEFFFF;
    font-family:arial;
    font-size:12px;
    font-weight:bold;
    display:none;    
    }
    .coreCol1{
    width:107px;
    height:32px;
    float:left;
    background-color:#D1383D;
    border-right:solid 2px #FEFFFF;
    padding:13px;
    padding-top:7px;
    
    }
    .coreCol2{
    width:339px;
    height:32px;
    float:left;
     background-color:#F99C32;
     padding:13px;
     padding-top:7px;
    }
    .borderbottom{
    border-bottom:solid 1px #FEFFFF;
    }
    .Arial14
    {
		font-family:Arial;
		font-size:14px; 
    }
     .Arial16
    {
		font-family:Arial;
		font-size:16px; 
    }
    .redHdg
    {
		color:#D23836;
		font-weight:bold;
		font-size:14px;
    }
     #divClearBoth
    {
        clear:both;
    }
    .marginRight10
    {
    margin-right:10px;
    margin-top:3px;
    }
    #Quality
    {
        width:105px;
	    float:left;
	    color:#C3C3C3;
	    margin-left:10px;
	    background-image:url(../Images/Grey_MdlCurve_Rlover.jpg);
	    background-repeat:repeat-x;
    }
    #divQuality
    {
		float:left; 
    }
    .divsidetable{

float:left;

width:230px;

height:240px;

border:solid 1px #F4F4F4;

}

.TableCell{

border-bottom:1px solid #fff;

background-color:#F3F3F3;

color:#D33840;

}

.hrdMarginLft
{
	margin-left:150px;
}
*html .hrdMarginLft
{
	margin-left:0px;
	margin-top:-10px;
	position:relative;
}
*+html .hrdMarginLft
{
	position:relative;
	margin-left:0px;
	margin-top:-10px;
}
#divCaseStudyOne
{
	width:660px; float:left;
}

.clsLeftTd
{
	background-color:#D1383D; border-right:1px solid #fff; border-bottom:1px solid #fff; padding:10px 0px 10px 10px; color:#fff; font-size:14px; font-family:Arial; vertical-align:text-top;
}
.clsRightTd
{
	background-color:#F99D30;  border-bottom:1px solid #fff; padding:10px 10px 10px 10px; color:#fff; font-family:Arial; font-size:12px; font-weight:bold;
}

.clsFontColorRed
{
	color:#D1383D;
	text-decoration:none;
}


.clsSidetable {border:1px solid #F4F4F4;float:left;width:200px; padding:0px 10px 0px 20px; margin:30px 0px 0px 0px;}

.paddingTopBtm10
{
	padding-top:10px;
	padding-bottom:10px;
}
.divRegAOE
{
margin-left:150px; 
width:400px; 
margin-top:0px; 
float:left;
/*margin-bottom:10px;*/
}
*+html .divRegAOE
{
margin-top:-72px; 


}
