* { margin: 0; padding: 0; outline:0; }
.jcarousel-clip,
.slider-carousel { width:650px; float:left; background:url('images/slide-bg.gif') no-repeat 0 0; position:relative;}
.slider-navigation { float:left; width:945px; position:absolute; bottom:-38px; left:0; }
.slider-navigation ul { list-style:none; }
.slider-navigation ul li { float:left; display:inline; width:217px; padding-left:0px; } 
.slider-navigation ul li.first { padding-left:0; }
/* not on mouse over */ /* TOp*/
.slider-navigation ul li a { float:left; display:inline; width:216px;   color:#fff; font-size:10px; padding-top:0px; padding-left:0px; z-index:9999; }
.slider-navigation ul li a:hover { text-decoration:none; }
.slider-navigation ul li a em { font-family:"Trebuchet MS", Arial, Helvetica, Sans-Serif; font-size:13px; font-style:normal; display:block; }
/*.slider-navigation ul li a:hover,*/
.slider-navigation ul li a.active {width:217px; height:38px;background:url('../Images/OrderWorkSite/Retail/HomePc-hover.gif') no-repeat; }
.slider-navigation ul li a.active11 {width:216px; height:38px;background:url('../Images/OrderWorkSite/Retail/CE&TV-hover.gif') no-repeat;}
.slider-navigation ul li a.active22 {width:216px; height:38px;background:url('../Images/OrderWorkSite/Retail/Freesat&Digital-hover.gif') no-repeat; }
.slider-navigation .hidden-id { display:none; }
.first1 { background:url('../Images/OrderWorkSite/Retail/HomePc-btn.gif') no-repeat; width:217px; height:38px;z-index:999;}
.first1:hover { background:url('../Images/OrderWorkSite/Retail/HomePc-hover.gif') no-repeat; width:217px; height:38px;z-index:999;}
.second2 { background:url('../Images/OrderWorkSite/Retail/CE&TV-btn.gif') no-repeat; width:217px; height:38px;}
.second2:hover { background:url('../Images/OrderWorkSite/Retail/CE&TV-hover.gif') no-repeat; width:216px; height:38px;}
.third3 { background:url('../Images/OrderWorkSite/Retail/Freesat&Digital-btn.gif') no-repeat; width:216px; height:38px;}
.third3:hover { background:url('../Images/OrderWorkSite/Retail/Freesat&Digital-hover.gif') no-repeat; width:216px; height:38px;}
