<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="UCMSSwitchAdminUK.ascx.vb" Inherits="Admin.UCMSSwitchAdmin" %>
<%--&nbsp;<asp:LinkButton ID="lnkSwitch" CssClass='logOutTxt paddingRight9'   runat="server">LinkButton</asp:LinkButton>--%>
