<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="UCTopMSgLabelDE.ascx.vb" Inherits="Admin.UCTopMSgLabel" %>

<asp:Label ID="lblUserName" CssClass="welcomeText" runat="server"></asp:Label>
