<div style="background-color:white; font-weight: 300; font-size: 15.5px; font-family:Arial !important; text-align: center">
    <table width="100%" cellspacing="0" cellpadding="20" style="background: #ffffff" align="center">
        <tbody>
            <tr>
                <td align="left" style="color: #000000; background-color: #ffffff; clear: both;">
					<img border="0" alt='<companyName>' title='<companyName>' src='<companyLogo>' style="border: none;height:50px;">							
                </td>
                <td style="background-color:#fff">&nbsp;</td>
                <td style="background-color:#fff">&nbsp;</td>
                <td style="color:#000000;background-color:#ffffff;text-align:right;">
                    <a href="http://www.orderwork.co.uk" style="font-size:15.5px;">www&#46;orderwork&#46;co&#46;uk<br>0203 053 0343</a>
                </td>
            </tr>
            <tr>
                <td colspan="4" align="center" valign="middle" style="color: #ffffff;line-height:28px; background-color: #B22A6A; margin: 0 auto;font-weight:700; font-size:25px;" colspan="4">
                </td>
            </tr>
            <tr>
                <td colspan="4" align="center" valign="middle" style="color:#b11f5f;background-color:#ffffff;margin:0 auto;font-size: 24px; font-weight: 700;line-height:35px;clear:both;">
                    Thank you for booking your service with us
                </td>
            </tr>
            <tr>
                <td colspan="4" align="center" valign="middle" style="color: #ffffff; background-color: #B22A6A; margin: 0 auto;width: 100%"></td>
            </tr>            
             <tr>
                <td colspan="4" style="text-align:left;font-size:15.5px;font-weight:normal;font-style:normal;line-height:18px;">
                    <p>Dear <username>&#44;</p>
					<p>Thank you for booking your service with us&#46; Please read this order confirmation carefully as it contains all the details you need to manage your installation service&#46; </p>                  
                </td>
            </tr>       
            <tr style="background-color:#f8f8f8">
             <td colspan="4" style="text-align:left;font-size:15.5px;font-weight:normal;font-style:normal;line-height:18px;">
                   <p style="font-weight:700;">Summary of your Booking</p>
                   <pre style="font-size:15.5px;line-height:25px;"><servicesselection></pre>
                   <p></p>
             </td>
            </tr>
             <tr>
                 <td colspan="4" style="text-align:left;font-size:15.5px;font-weight:normal;font-style:normal;line-height:18px;">
                        <p style="font-weight:700">Summary of information</p>
					    <ul style="line-height:25px;">
						    <li>A summary of the answers to any pre-installation questions you have given us</li>
						    <li>Booking details</li>
						    <li>Preferred installation date and time</li>
						    <li>How to change your installation date</li>
						    <li>What you should expect on the day</li>
						    <li>The activities that will be completed on the day </li>
					    </ul>
                 </td>
            </tr>
            <tr style="background-color:#efefef">
                <td colspan="4" style="text-align:left;font-size:15.5px;font-weight:normal;font-style:normal;line-height:15px;color:#525252">
                    <p><b>Importance of Pre-installation Questions&#58;</b></p>
                    <p style="line-height:25px;">It is important that you review the service delivery questions that were asked at service booking to ensure that they accurately reflect what the engineer is going to find when they attend your site&#46; This is to ensure that we have correctly scoped the works that you need to be completed and that the engineer is properly prepared to offer you the very best &#034;right first time&#034; service&#46;</p>
                    <pre style="font-size:15.5px;line-height:25px;"><questionAnswers></pre>
                    <p></p>
                    <p><em style="line-height:25px">If any of these answers do not correctly reflect the installation you require please <postConfirmationURL> to update your answers upto 12h before install&#46;</em></p>
                </td>
            </tr>
			     <tr style="background-color:#f8f8f8">
                <td colspan="4" style="text-align:left;font-size:15.5px;font-weight:normal;font-style:normal;line-height:15px;color:#525252">
                    <p><b>Booking details&#58;</b></p>
					<ul style="line-height:25px;">
					<li>You have indicated that your preferred installation date is <startDateDayName> the <startDateDay> of <startDateMonth> <startDateYear></li>
					<li>With a preferred appointment time between <preferredTime></li>
					<li>We will be carrying out the work at <adddress></li>
					</ul>			
                </td>
            </tr>
			<tr>
				<td colspan="4" style="text-align:left;font-size:15.5px;font-weight:normal;font-style:normal;line-height:20px">
					<p>We will prioritise your preferred date and time&#44;  however if necessary we may need to change this&#44;  you will be offered a number of suitable alternative and will be in contact at least 24 hours prior to the installation time if your preferred slot is unavailable&#46; 
					<br><br>Your installation date and time will be confirmed by text or email 24 hours before the work will be carried out&#44;  up to this point we reserve the right to make amendments and will also allow you to make changes to your booking&#46;</p>
				</td>
			</tr>
			<tr>
				<td colspan="4" style="text-align:left;font-size:15.5px;font-weight:normal;font-style:normal;line-height:20px">
					<p><b>How to change you booking</b></p>
					<p>We understand that sometimes schedules can change&#46; If you are not going to be available on the confirmed date and time please contact our service desk as early as possible&#46;</p>
				</td>
			</tr>
			<tr>
				<td colspan="4" style="text-align:left;font-size:15.5px;font-weight:normal;font-style:normal;line-height:20px">
					<p><b>Service Desk Operational hours</b></p>
					<p>8 am &#045; 6pm Monday to Friday<br>9am &#045; 3pm Saturdays</p>
					<p>Tel &#058; 0203 053 0343<br>
					Email &#058; <span style="color:#ac195d"><a href="mailto:info@orderwork.co.uk" target="_blank">info@orderwork&#46;co&#46;uk</a></span></p>
					</p>
					<p>There will be a £10 cancellation and rebooking charge if the installation is cancelled within a 24 hour window of the expected site attendance&#44; and a £20 rebooking charge if there is nobody on site at the date and time agreed&#46;</p>
				</td>
			</tr>
			<tr>
				<td colspan="4" style="text-align:left;font-size:15.5px;font-weight:normal;font-style:normal;line-height:20px">
					<p><b>What to expect on the day</b></p>
					<p>On the day of the site visit&#44; if you have agreed to receive text alerts&#44; you will be notified of the expected time of arrival of your engineer&#46; Please ensure that a responsible adult is on site at all times during our visit and that there is suitable access for the engineer to work&#46;</p>					
					  <specialInstructions>
					<p>For guidance purposes we estimate that this job will take approximately <totalTime>&#44; however this can vary from site to site&#46;</p>
					<p>If you have any concerns with regards to the installation at any time please pick up the phone and speak to our team who will be happy to assist&#46;</p>                    
                    <accountManagerName>					 
				</td>
			</tr>
			<tr>
				<td colspan="4" style="text-align:left;font-size:15.5px;font-weight:normal;font-style:normal;line-height:20px">
					<p><b>What you can expect from your engineer</b></p>
					<p>Within the installation services we are responsible completing the following works.&#46;</p>
				<scopeOfWork>
				<p>We look forward to fulfilling this service for you&#44; if you have any questions please do not hesitate to contact us on 0203 053 0343 or email us on <span style="color:#ac195d"><a href="mailto:info@orderwork.co.uk" target="_blank">info@orderwork&#46;co&#46;uk&#46;</a></span>
					At the end of the installation&#44; if you have opted in we would really appreciate your feedback so that we can continue to enhance our services and your experience&#46; </p>
				</td>
			</tr>
            <tr>
                <td colspan="4" style="text-align:left;font-size:15.5px;font-weight:normal;font-style:normal;line-height:20px">
                    <p>Kind regards<br><br>The OrderWork Team<br>0203 053 0343<br><span style="color:#ac195d"><a href="mailto:info@orderwork.co.uk" target="_blank">info@orderwork&#46;co&#46;uk</a></span></p>
                </td>
            </tr>
            <tr>
                <td style="width:50%;color: #ffffff; background-color: #2e3235;font-size: 15.5px;" align="left">
                    Copyright &copy; OrderWork&#46;co&#46;uk&#46; All rights reserved&#46;
                </td>
                <td style="width:20%;background-color:#2e3235">
                    &nbsp;<a href="https://www.orderwork.co.uk/privacy-policy/" target="_blank" style="cursor: pointer; text-decoration: none; color: #ffffff; background-color: #2e3235;font-size: 15.5px;" target="_blank">Privacy Policy</a>
                </td>
                <td style="width:1%;background-color:#2e3235">&nbsp;</td>
                <td style="width:40%;color: #ffffff; background-color: #2e3235;font-size: 15.5px;" align="right">
                    <div style="width:100%">
                       <img src="http://devmy.orderwork.co.uk/owrearchapi/shared/images/Capture1.png" alt="contact">
				</td>
            </tr>
        </tbody>
    </table>
</div>