<%@ Page Language="vb" AutoEventWireup="false" MasterPageFile="~/MasterPage/OWAdmin.Master" CodeBehind="AcceptWorkRequest.aspx.vb" Inherits="Admin.AcceptWorkRequest" title="OrderWork : Accept Work Request" %>




 
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
 <asp:ScriptManager ID="ScriptManager1" runat="server" ></asp:ScriptManager>

			
	        <div id="divContent">
         
		
        <div class="roundtopWhite"><img src="Images/Curves/Main-LTC.gif" alt="" width="5" height="5" class="corner" style="display: none" /></div>
        
		 <table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0" class="marginT11B35">
         
         <tr>
            <td valign="top"><!-- InstanceBeginEditable name="EdtContent" -->
			    <%@ Register TagPrefix="uc1" TagName="UCAcceptWR" Src="~/UserControls/UK/UCMSAcceptWorkRequest.ascx" %>
              <uc1:UCAcceptWR id="UCAcceptWR1" runat="server"></uc1:UCAcceptWR>
              <!-- InstanceEndEditable --></td>
			   
		 
         </tr>
         </table>
      </div>
      
      
      </asp:Content>