<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="AdminProductList.aspx.vb" Inherits="Admin.AdminProductList" MasterPageFile="~/MasterPage/OWAdmin.Master" title="OrderWork : Admin Product List"%>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<asp:ScriptManager ID="ScriptManager1" runat="server" ></asp:ScriptManager>





    
			
	        <div id="divContent">
         
		
        <div class="roundtopWhite"><img src="Images/Curves/Main-LTC.gif" alt="" width="5" height="5" class="corner" style="display: none" /></div>
        
		 <table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0" class="marginT11B35">
         
         <tr>
            <td valign="top"><!-- InstanceBeginEditable name="EdtContent" -->
              <table width="100%">
              <tr>
                <td width="20">&nbsp;</td>
                <td width="100%">
                    <%@ Register TagPrefix="uc1" TagName="UCProductListing" Src="~/UserControls/UK/UCProductList.ascx" %>
                    <uc1:UCProductListing id="UCProductListing1" runat="server"></uc1:UCProductListing>
                </td>
                <td width="20">&nbsp;</td>
            </tr>
            </table>
            <!-- InstanceEndEditable --></td>
			   
		 
         </tr>
         </table>
      </div>

 </asp:Content>
