<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="AdminProduct.aspx.vb" Inherits="Admin.AdminProduct" MasterPageFile="~/MasterPage/OWAdmin.Master" title="OrderWork : Admin Product"%>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<asp:ScriptManager ID="ScriptManager1" runat="server" ></asp:ScriptManager>





    
			
	        <div id="divContent">
         
		
        <div class="roundtopWhite"><img src="Images/Curves/Main-LTC.gif" alt="" width="5" height="5" class="corner" style="display: none" /></div>
        
		 <table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0" class="marginT11B35">
         
         <tr>
            <td valign="top"><!-- InstanceBeginEditable name="EdtContent" -->
              <table class="gridBorderB" width="100%"  border="0" cellpadding="0" cellspacing="0">
                      <tr>
					     <td id="tdBackToListing" runat=server>
							<div id="divButton" class="divButton" style="width: 115px;">
								<div class="bottonTopGrey"><img src="Images/Curves/Bdr-Btn-TL.gif" alt="" hspace="0" vspace="0" border="0" width="4" height="4" class="btnCorner" style="display: none" /></div>
									<a class="buttonText" runat="server" id="lnkBackToListing"><img src="Images/Arrows/Arrow-Back.gif" alt="Back to Listing" width="4" height="8" hspace="0" vspace="0" border="0" class="marginR8"><strong>Back to Listing</strong></a>
								<div class="bottonBottomGrey"><img src="Images/Curves/Bdr-Btn-BL.gif" alt="" hspace="0" vspace="0" border="0" width="4" height="4" class="btnCorner" style="display: none" /></div>
							</div>
						</td>
					 </tr>
             </table>

			 <table width="725"  border="0" cellspacing="0" cellpadding="0" >    			
                <tr>
                  <td> <%@ Register TagPrefix="uc1" TagName="UCAdminProduct" Src="~/UserControls/Admin/UCAdminProduct.ascx" %>
                       <uc1:UCAdminProduct id="UCAdminProduct1" runat="server"></uc1:UCAdminProduct>
				  </td>
                </tr>
              </table>
            <!-- InstanceEndEditable --></td>
			   
		 
         </tr>
         </table>
      </div>

 </asp:Content>

