<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="ChangePassword.aspx.vb" Inherits="Admin.ChangePassword" MasterPageFile="~/MasterPage/OWAdmin.Master" title="OrderWork :"%>


<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<asp:ScriptManager ID="ScriptManager1" runat="server" ></asp:ScriptManager>







			
	        <div id="divContent">
         
		
        <div class="roundtopWhite"><img src="Images/Curves/Main-LTC.gif" alt="" width="5" height="5" class="corner" style="display: none" /></div>
        
		 <table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0" class="marginT11B35">
         
         <tr>
            <td valign="top"><!-- InstanceBeginEditable name="EdtContent" -->  <%@ Register TagPrefix="uc1" TagName="UCChangeCredentials" Src="~/UserControls/UK/UCChangeCredentialsUK.ascx" %>
         <uc1:UCChangeCredentials id="UCChangeCredentials1" runat="server"></uc1:UCChangeCredentials> 
            <!-- InstanceEndEditable --></td>
			   
		 
         </tr>
         </table>
      </div>


</asp:Content>
