<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="ChangeAdminAccount.aspx.vb" Inherits="Admin.ChangeAdminAccount" MasterPageFile="~/MasterPage/OWAdmin.Master" title="OrderWork :"%>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<asp:ScriptManager ID="ScriptManager1" runat="server" ></asp:ScriptManager>







			
	        <div id="divContent">
         
		
        <div class="roundtopWhite"><img src="Images/Curves/Main-LTC.gif" alt="" width="5" height="5" class="corner" style="display: none" /></div>
        
		 <table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0" class="marginT11B35">
         
         <tr>
            <td valign="top"><!-- InstanceBeginEditable name="EdtContent" -->
            <input type="hidden" runat="server" id="adminCID" />
            <input type="hidden" runat="server" id="hdnAdminRoleID" />
            <div id="divvalidationSummary" class="divValidation" runat="server" visible="false" style="width:400px; margin-left:30px;" >
                 <div class="roundtopVal"><img src="Images/Curves/Validation-TLC.gif" alt="" width="5" height="5" class="corner" style="display: none" /></div>
                  <div style="width:370px; margin-left:20px;">
                  <div style="float:left;width:50px;"><img src="Images/Icons/Validation-Alert.gif" width="31" height="31"></div>  
                  <div style="float:left;width:300px; color:#FF2B2B; vertical-align:middle;"><asp:Label ID="lblValidationMsg" runat="server" ></asp:Label></div>
                  </div>
                 <div class="roundbottomVal"><img src="Images/Curves/Validation-BLC.gif" alt="" width="5" height="5" class="corner" style="display: none" /></div>
            </div>
            <div style="line-height:20px; margin-left:30px;">
            <div id="divChangeAdminHeading" style="width:100%;"><strong>
                <asp:Label ID="lblCompanyName" runat="server" ></asp:Label></strong></div>
            <div id="divCurrentAdmin" style="width:100%; margin-top:10px;"><div style="width:150px; float:left;">Current Administrator</div><div style="float:left;">: <asp:Label ID="lblCurrAdmin" runat="server" ></asp:Label></div></div>
            <div id="divNewAdmin" style="width:100%;margin-top:10px;"><div style="width:150px; float:left;">New Administrator</div><div style="float:left;">: <asp:DropDownList ID="drpdwnUsers" runat="server" Width="200" AutoPostBack="True" DataTextField="NameType" DataValueField="ContactID"></asp:DropDownList></div></div>
                         
             <div style="float:left; width:70px; margin-right:19px; margin-top:30px;">
	              <TABLE runat=server id="tblChangeAdmin" border="0" cellPadding="0" cellSpacing="0" bgColor="#a0a0a0" width="70" >
		            <TR>
		              <TD width="5"><IMG height="24" src="Images/Curves/Grey-BtnLeft.gif" width="5"></TD>
		              <TD class="txtButtonNoArrow"><asp:LinkButton ID="lnkbtnSubmit" runat="server" class="txtButtonNoArrow" >Submit</asp:LinkButton></TD>
		              <TD width="5"><IMG height="24" src="Images/Curves/Grey-BtnRight.gif" width="5"></TD>
		            </TR>
	              </TABLE>
	              </div>
	              <div style="float:left; width:70px; margin-top:30px;">
	              <TABLE runat=server id="tblExportToExcel" border="0" cellPadding="0" cellSpacing="0" bgColor="#a0a0a0" width="70">
		            <TR>
		              <TD width="5"><IMG height="24" src="Images/Curves/Grey-BtnLeft.gif" width="5"></TD>
		              <TD class="txtButtonNoArrow"><asp:LinkButton ID="lnkbtnCancel" runat="server" class="txtButtonNoArrow" >Cancel</asp:LinkButton></TD>
		              <TD width="5"><IMG height="24" src="Images/Curves/Grey-BtnRight.gif" width="5"></TD>
		            </TR>
	              </TABLE>
	         </div>
             </div>
    		<!-- InstanceEndEditable --></td>
			   
		 
         </tr>
         </table>
      </div>


 </asp:Content>
