
<%@ Page Language="vb" AutoEventWireup="false" Codebehind="CompanyProfile.aspx.vb" Inherits="Admin.CompanyProfile" MasterPageFile="~/MasterPage/OWAdmin.Master" title="OrderWork :" validateRequest="false" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<asp:ScriptManager ID="ScriptManager1" runat="server" ></asp:ScriptManager>



<script language="javascript" type="text/javascript">
			var arrRange=depRange=[];
</script>

<script language="JavaScript" type="text/JavaScript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>




	
	        
			
	        <div id="divContent">
         
		
		 <table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0" class="marginT11B35">
         
         <tr height="9">
           <td></td>
           <td></td>
         </tr>
         
         <tr>
            <td valign="top"><!-- InstanceBeginEditable name="EdtContent" -->
			
			   
		  <%@ Register TagPrefix="uc1" TagName="UCCompanyProfileAdmin" Src="~/UserControls/Admin/UCCompanyProfileAdmin.ascx" %>
             <uc1:UCCompanyProfileAdmin id="UCCompanyProfile1" runat="server" ShowEmail="true" ShowBackTolisting="True"></uc1:UCCompanyProfileAdmin>
			
            <!-- InstanceEndEditable --></td>
			   
		  
            <td width="220" align="center" valign="top">
			 
				 <%@ Register TagPrefix="uc1" TagName="UCAccountSumm" Src="~/UserControls/UK/UCAccountSummaryUK.ascx" %>
             <uc1:UCAccountSumm id="UCAccountSumm1" runat="server"></uc1:UCAccountSumm> 
			 
              
			
			<a id="lnkAddUsers"  tabindex="120" runat="server" onMouseOver="MM_swapImage('AddUsers','','Images/buttons/Btn-AddUser-Roll.gif',1)" onMouseOut="MM_swapImgRestore()"><img src="Images/buttons/Btn-AddUser.gif" title="Add Users" name="AddUsers" width="197" height="43" border="0" class="marginB20"  ></a><br><br>
				
			<a tabindex="119" id="lnkAddLocationsSupp" runat="server" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Locations1','','Images/buttons/AddLocation-Rolover.gif',1)"><img src="Images/buttons/AddLocation.gif" title="Add Locations" name="Locations1" width="197" height="43" border="0" class="marginB20" id="Locations1" ></a>   <br><br>
			
             <a  id="lnkloc"  runat="server" class="footerTxtSelected ">Locations Listing</a><br>
             <a  id="lnkuser"  runat="server" class="footerTxtSelected ">Users Listing</a> <br> 
			<span runat="server" id="rgnReferences"><a href="References.aspx" id="lnkReferences" runat="server" class="footerTxtSelected ">References</a><br> </span>
			 
			 <a id="lnkComments" runat="server"  class="footerTxtSelected ">Comments</a><br> 
			 <a  class="footerTxtSelected " id="lnkViewFavSuppliers" runat="server">View All Favourite Suppliers</a><br>
			    <a  class="footerTxtSelected " id="lnkAddProduct" runat="server">Service Listing</a><br>
                <a  class="footerTxtSelected " id="lnkAddProductNew" runat="server" target="_blank" >Service Listing New</a><br>
			 <a class="footerTxtSelected " id="lnkAutoMatch" runat="server" title="AutoMatch Settings">AutoMatch Settings</a><br>
			 <a class="footerTxtSelected " id="lnkAccSettings" runat="server" title="Account Settings">Account Settings</a><br>
			  <a  class="footerTxtSelected " id="lnkViewBlackListsupplier" runat="server">View Supplier Blacklist</a><br>
              <%--Poonam - OA-494 - OA - Links missing in Specialist form - Just changed the visibility to True from False--%>
               <a  class="footerTxtSelected " id="lnkViewBlackListClient" runat="server" visible="True">View Client Blacklist</a><br>
                <a  class="footerTxtSelected " id="lnkViewWorkingDays" runat="server" visible="True" >View Working Days</a><br>
                <a  class="footerTxtSelected " id="lnkViewAllInvoices" runat="server">View All Invoices</a><br>
                <a  class="footerTxtSelected " id="lnkViewAccountHistory" runat="server">Account History</a><br>
             </td>
            
	   
         </tr>
         </table>
      </div>
</asp:Content>
