<%@ Page Language="vb" AutoEventWireup="false" MasterPageFile="~/MasterPage/OWAdmin.Master" title="OrderWork : Locations"  CodeBehind="Locations.aspx.vb" Inherits="Admin.Locations" %>

 <asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
 
 <asp:ScriptManager ID="ScriptManager1" runat="server" ></asp:ScriptManager>


	        
			
	        <div id="divContent">
         
		
		 <table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0" class="marginT11B35">
         
         <tr height="9">
           <td></td>
           <td></td>
         </tr>
         
         <tr>
            <td valign="top"><!-- InstanceBeginEditable name="EdtContent" -->
			
			<%@ Register TagPrefix="uc1" TagName="UCLocationListing" Src="~/UserControls/UK/UCLocationListing.ascx" %>
          <uc1:UCLocationListing id="UCLocationListing1" runat="server"></uc1:UCLocationListing>
			
            <!-- InstanceEndEditable --></td>
			   
		 
         </tr>
         </table>
      </div>
         </asp:Content>