<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="SalesInvoiceWOListing.aspx.vb" Inherits="Admin.SalesInvoiceWOListing" MasterPageFile="~/MasterPage/OWAdmin.Master" Title="OrderWork : Sales Invoice"%>
<%@ Register Assembly="Microsoft.Web.UI.WebControls, Version=1.0.2.226, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    Namespace="Microsoft.Web.UI.WebControls" TagPrefix="iewc" %>
    <%@ Register Assembly="Flan.Controls" Namespace="Flan.Controls" TagPrefix="cc2" %>
           <asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
 <asp:ScriptManager ID="ScriptManager1" runat="server" ></asp:ScriptManager>
	        <div id="divContent">
        <div class="roundtopWhite"><img src="Images/Curves/Main-LTC.gif" alt="" width="5" height="5" class="corner" style="display: none" /></div>        
		 <table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0" class="marginT11B35">         
         <tr>
            <td valign="top"><!-- InstanceBeginEditable name="EdtContent" -->
			 <%@ Register TagPrefix="uc1" TagName="UCSalesWO" Src="~/UserControls/UK/UCMSSalesInvoiceWOListingUK.ascx" %>
                 <uc1:UCSalesWO id="UCMSSalesInvoiceWOListingUK1" runat="server"></uc1:UCSalesWO> 
            <!-- InstanceEndEditable --></td>
         </tr>
         </table>
      </div>
      </asp:Content>
