<%@ Page Language="vb" AutoEventWireup="false" MasterPageFile="~/MasterPage/OWAdmin.Master" title="OrderWork : Web Content Form" CodeBehind="SiteContentForm.aspx.vb" Inherits="Admin.SiteContentForm" ValidateRequest="false"%>
<%@ Register Assembly="Flan.Controls" Namespace="Flan.Controls" TagPrefix="cc2" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>


<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

 <asp:ScriptManager ID="ScriptManager1" runat="server" ></asp:ScriptManager>

	        
			
	        <div id="divContent">
         
		
        <div class="roundtopWhite"><img src="Images/Curves/Main-LTC.gif" alt="" width="5" height="5" class="corner" style="display: none" /></div>
        
		 <table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0" class="marginT11B35">
         
         <tr>
            <td valign="top"><!-- InstanceBeginEditable name="EdtContent" -->
      
            	   
            
		        <%@ Register TagPrefix="uc1" TagName="UCWebContent" Src="~/UserControls/Admin/UCWebContentForm.ascx" %>
                <uc1:UCWebContent id="UCWebContent1" runat="server" ShowEmail="true" ShowBackTolisting="True"></uc1:UCWebContent>

  
            <!-- InstanceEndEditable --></td>
			   
		 
         </tr>
         </table>
      </div>
      
      </asp:Content>