<%@ Page Language="vb" AutoEventWireup="false" MasterPageFile="~/MasterPage/OWAdmin.Master" title="OrderWork : Specialists" CodeBehind="Specialists.aspx.vb" Inherits="Admin.Specialists" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
 
 <asp:ScriptManager ID="ScriptManager1" runat="server" ></asp:ScriptManager>



	
	
	        
			
	        <div id="divContent">
         
		
		 <table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0" class="marginT11B35">
         
         <tr height="9">
           <td></td>
           <td></td>
         </tr>
         
         <tr>
            <td valign="top"><!-- InstanceBeginEditable name="EdtContent" -->
			
			<%@ Register TagPrefix="cc1" TagName="UCSpecialistsListingUK" Src="~/UserControls/UK/UCSpecialistsListingUK.ascx" %>
    		<cc1:UCSpecialistsListingUK id="UCSpecialistsListing" runat="server"></cc1:UCSpecialistsListingUK>
			
			
            <!-- InstanceEndEditable --></td>
			   
		 
         </tr>
         </table>
      </div>
          </asp:Content>  