﻿<%@ Page Language="vb" AutoEventWireup="false" MasterPageFile="~/MasterPage/OWAdmin.Master" title="OrderWork : Test Mail Sending" CodeBehind="TestMailSending.aspx.vb" Inherits="Admin.TestMailSending" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<asp:ScriptManager ID="ScriptManager1" runat="server" ></asp:ScriptManager>
	  <div id="divContent">
         
		
        <div class="roundtopWhite"><img src="Images/Curves/Main-LTC.gif" alt="" width="5" height="5" class="corner" style="display: none" /></div>
        
		 <table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0" class="marginT11B35">
         
         <tr>
            <td valign="top"><!-- InstanceBeginEditable name="EdtContent" -->
			<table width="100%"  border="0" cellpadding="0" cellspacing="0">
			  <tr>
				<td width="40">&nbsp;</td>
				<td>			
					<P>Enter Email - <BR>
						<asp:TextBox id="txtEmail" runat="server"></asp:TextBox></P>
					<P>
						<asp:Button id="btnSendEmail" runat="server" Text="Send Email"></asp:Button><BR>
					</P>			
                    <P>
					<asp:Label id="lblMsg" runat="server"></asp:Label></P>		
				</td>
			  </tr>
			</table>
            <!-- InstanceEndEditable --></td>
         </tr>
         </table>
      </div>
         </asp:Content>