﻿<%@ Page Language="vb" AutoEventWireup="false" MasterPageFile="~/MasterPage/OWAdmin.Master" CodeBehind="UploadFileForBulkCancellation.aspx.vb" Inherits="Admin.UploadFileForBulkCancellation" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
	<asp:ScriptManager ID="ScriptManager1" runat="server" ></asp:ScriptManager>

    <div id="divContent">
        <asp:FileUpload ID="FileUpload1" runat="server"  />
        <asp:Button id="btnUpload" runat="server" Text="Upload" />            

        <br />

        <asp:Label ID="lblMessage" runat="server"></asp:Label>

    </div>
  

</asp:Content>