<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="ViewCashReceipt.aspx.vb" Inherits="Admin.ViewCashReceipt" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" style="height:100%;">
<head id="Head1" runat="server">
    <title>Receipt</title>
</head>
<body style="height:100%;">
    <form id="form1" runat="server" style="height:100%;">
 
			     <%@ Register TagPrefix="uc1" TagName="UCViewReceipt" Src="~/UserControls/UK/UCMSViewCashReceiptUK.ascx" %>
                 <uc1:UCViewReceipt id="UCMSViewCashReceipt1" runat="server"></uc1:UCViewReceipt> 
			  
    </form>
</body>
</html>

