<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="ViewCashPayment.aspx.vb" Inherits="Admin.ViewCashPayment" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" style="height:100%;">
<head id="Head1" runat="server" >
    <title>Payment</title>
</head>
<body style="height:100%;">
    <form id="form1" runat="server" style="height:100%;"> 
			     <%@ Register TagPrefix="uc1" TagName="UCViewPayment" Src="~/UserControls/UK/UCMSViewCashPaymentUK.ascx" %>
                 <uc1:UCViewPayment id="UCMSViewCashPayment1" runat="server"></uc1:UCViewPayment> 			
    </form>
</body>
</html>

 