<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="ViewPurchaseInvoice.aspx.vb" Inherits="Admin.ViewPurchaseInvoice" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<style>
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
</style>
<html xmlns="http://www.w3.org/1999/xhtml" style="height:100%;" >
<head id="Head1" runat="server">
    <title>Invoice</title>
</head>
<body style="height:100%;">
    <form id="form1" runat="server" style="height:100%;">
 
			     <%@ Register TagPrefix="uc1" TagName="UCViewInvoice" Src="~/UserControls/UK/UCMSViewPurchaseInvoiceUK.ascx" %>
                 <uc1:UCViewInvoice id="UCMSViewPurchaseInvoiceUK1" runat="server"></uc1:UCViewInvoice> 
			

    </form>
</body>
</html>

