<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="ViewDebitNote.aspx.vb" Inherits="Admin.ViewDebitNote" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Debit Note</title>
</head>
<body>
    <form id="form1" runat="server">
   				 <%@ Register TagPrefix="uc1" TagName="UCMSViewDebitNoteUK" Src="~/UserControls/UK/UCMSViewDebitNoteUK.ascx" %>
                 <uc1:UCMSViewDebitNoteUK id="UCMSViewDebitNoteUK1" runat="server"></uc1:UCMSViewDebitNoteUK> 
    </form>
</body>
</html>