<%@ Page Language="vb" AutoEventWireup="false"  MasterPageFile="~/MasterPage/OWAdmin.Master" title="OrderWork : " Codebehind="WebLeads.aspx.vb" Inherits="Admin.WebLeads" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc2" %>

<%@ Register Assembly="Microsoft.Web.UI.WebControls, Version=1.0.2.226, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    Namespace="Microsoft.Web.UI.WebControls" TagPrefix="iewc" %>

 <asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
 
 <asp:ScriptManager ID="ScriptManager1" runat="server" ></asp:ScriptManager>



			
	        <div id="divContent">
         
		
        <div class="roundtopWhite"><img src="Images/Curves/Main-LTC.gif" alt="" width="5" height="5" class="corner" style="display: none" /></div>
        
		 <table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0" class="marginT11B35">
         
         <tr>
            <td valign="top"><!-- InstanceBeginEditable name="EdtContent" -->
            	
	           <div style="cursor:pointer;-moz-border-radius: 5px; border-radius:5px;background-color:#993366 !important;color:#FFFFFF;text-align:center;width:100px;margin-left:20px;">  
                    <a runat="server" target="_blank" id="btnExport" class="txtButtonRed"> &nbsp;Export to Excel&nbsp;</a>
               </div>
                        <hr style="background-color:#993366;height:5px;clear:both;margin-top:15px;" />
                        <table style="font-family:Tahoma,verdana,Arial; font-size:14px; width:985px;" cellSpacing="0" cellPadding="0">
                        <tr>
                            <td> <%@ Register TagPrefix="uc1" TagName="UCRegistrantListing" Src="~/UserControls/Admin/UCRegistrantListing.ascx" %>
							<uc1:UCRegistrantListing id="UCRegistrantListing1" runat="server"></uc1:UCRegistrantListing></td>
                        </tr>
                        </table>
            <!-- InstanceEndEditable --></td>
			   
		 
         </tr>
         </table>
      </div>
      
      </asp:Content>