<%@ Page Language="vb" AutoEventWireup="false" MasterPageFile="~/MasterPage/OWAdmin.Master" title="OrderWork : Discuss Issue Terms"  CodeBehind="WOComplete.aspx.vb" Inherits="Admin.WOComplete" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
 <asp:ScriptManager ID="ScriptManager1" runat="server" ></asp:ScriptManager>


	        
			
	        <div id="divContent">
         
		
        <div class="roundtopWhite"><img src="Images/Curves/Main-LTC.gif" alt="" width="5" height="5" class="corner" style="display: none" /></div>
        
		 <table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0" class="marginT11B35">
         
         <tr>
            <td valign="top"><!-- InstanceBeginEditable name="EdtContent" -->
			<%@ Register TagPrefix="uc1" TagName="UCWOCloseComplete" Src="~/UserControls/UK/UCMSWOCloseComplete.ascx" %>
          <uc1:UCWOCloseComplete id="UCWOCloseComplete1" runat="server"></uc1:UCWOCloseComplete>
              <!-- InstanceEndEditable --></td>
			   
		 
         </tr>
         </table>
      </div>
     
     
      </asp:Content>