<%@ Page Language="vb" AutoEventWireup="false" MasterPageFile="~/MasterPage/OWAdmin.Master" title="OrderWork : Discuss CA Terms" CodeBehind="WODiscussCA.aspx.vb" Inherits="Admin.WODiscussCA" %>

	        
		<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">	
		<asp:ScriptManager ID="ScriptManager1" runat="server" ></asp:ScriptManager>
	        <div id="divContent">
         
		
        <div class="roundtopWhite"><img src="Images/Curves/Main-LTC.gif" alt="" width="5" height="5" class="corner" style="display: none" /></div>
        
		 <table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0" class="marginT11B35">
         
         <tr>
            <td valign="top"><!-- InstanceBeginEditable name="EdtContent" -->
			<%@ Register TagPrefix="uc1" TagName="UCWOProcess" Src="~/UserControls/UK/UCMSWOProcess.ascx" %>
          <uc1:UCWOProcess id="UCWOProcess1" runat="server"></uc1:UCWOProcess>
              <!-- InstanceEndEditable --></td>
			   
		 
         </tr>
         </table>
      </div>
                 </asp:Content>
