<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="AddFunds.aspx.vb" Title="OrderWork: Payment Methods" Inherits="OrderWorkUK.AddFunds" MasterPageFile ="~/MasterPage/MyOrderWork.Master" ValidateRequest="true"%>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentHolder" runat="server">
	<div id="divTopBand" class="divContainerStyle floatLeft" >
	<div class="clsGreyBandStyleFund" style="width:992px; id="divPaymentMethod"><strong>Payment Methods</strong></div>
	<div id="divMiddleBand"  style="width:972px; padding:25px;">
	<%@ Register TagPrefix="uc1" TagName="UCAddFunds" Src="~/UserControls/UK/UCMSAddFundsUK.ascx" %>
	<uc1:UCAddFunds id="UCAddFunds1" runat="server"></uc1:UCAddFunds></div>
	</div>
</asp:content>
