<%@ Page Language="vb" AutoEventWireup="false" Title="OrderWork: Client Accept Request" MasterPageFile="~/MasterPage/OrderWork.Master" CodeBehind="BuyerAcceptWorkRequest.aspx.vb" Inherits="OrderWorkUK.BuyerAcceptWorkRequest" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentHolder" runat="server">
	<div id="divTopBand" ></div>
	<%@ Register TagPrefix="uc2" TagName="UCBuyerTabs" Src="~/UserControls/UK/UCBuyerTabs.ascx" %>
                 <uc2:UCBuyerTabs id="UCBuyerTabs1" runat="server"></uc2:UCBuyerTabs>


		  			    <%@ Register TagPrefix="uc1" TagName="UCAcceptWR" Src="~/UserControls/UK/UCMSAcceptWorkRequest.ascx" %>
              <uc1:UCAcceptWR id="UCAcceptWR1" runat="server"></uc1:UCAcceptWR>
</asp:Content>
