<%@ Page Language="vb" AutoEventWireup="false" Title="OrderWork: Company Profile" CodeBehind="CompanyProfileBuyer.aspx.vb" Inherits="OrderWorkUK.CompanyProfileBuyer" MasterPageFile ="~/MasterPage/MyOrderWork.Master" ValidateRequest="true" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentHolder" runat="server">

<div id="divLocation">
    <div>	
	<%@ Register TagPrefix="uc1" TagName="UCCompanyProfile" Src="~/UserControls/UK/UCCompanyProfileBuyer.ascx" %>
	<uc1:UCCompanyProfile id="UCCompanyProfile1" runat="server"></uc1:UCCompanyProfile></div>
	<div id="divBtmBand"></div>
</div>

</asp:Content>
