<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="errorpage.aspx.vb" Inherits="OrderWorkLibrary.errorpage" MasterPageFile="~/MasterPage/OWSite.Master" title="OrderWork - Services Reinvented - Error Page"%>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<div id="divBodyInner">
 <div id="HmMain" style="float:left;width:945px; height:500px; padding:20px; ">
     <asp:Label ID="lblText" runat="server"></asp:Label><asp:HiddenField runat="server" id="hdnError" value="" /><asp:Button ID="btnError" runat="server" CssClass="ButtonClass" Text="Show Error"/>
		<br/><asp:Label ID="lblError" runat="server"></asp:Label>
		</div>
  </div>
</asp:Content>