<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="ExportToExcel.aspx.vb" Inherits="OrderWorkUK.ExportToExcel" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>OrderWork: Export To Excel</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <center>
        <label id="lblSessionExpired" runat="server"></label>
    </center>    
    </div>
    </form>
</body>
</html>
