<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="MyProfile.aspx.vb" Inherits="OrderWorkUK.MyProfile" Title="OrderWork: My Profile" MasterPageFile="~/MasterPage/MyOrderWork.Master" ValidateRequest="true" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentHolder" runat="Server">
 <script language="javascript" src="OWLibrary/JS/Scripts.js"  type="text/javascript" ></script>
    <script language="javascript" type="text/javascript" src="OWLibrary/JS/json2.js"></script>
<script language="javascript" type="text/javascript" src="OWLibrary/JS/jquery.js"></script>
<script language="JavaScript" src="OWLibrary/JS/JQuery.jsonSuggestCustom.js" type="text/javascript"></script>
<script language="JavaScript" src="OWLibrary/JS/DD_roundies.js" type="text/javascript"></script>
<script type="text/javascript">    DD_roundies.addRule('.roundifyRefineMainBody1', '5px 5px 0px 0px');
    //    DD_roundies.addRule('.roundifyCircle', '50% 50% 50% 50%');
</script>
<%--<style type="text/css">
    .divDDMenuInner {margin-top /*\**/: -22px} 

</style>--%>
	<div>
	    <%@ Register TagPrefix="uc1" TagName="UCSpecialistsForm" Src="~/UserControls/UK/UCSpecialistsForm.ascx" %>
        <uc1:UCSpecialistsForm id="UCSpecialistsForm1" runat="server"></uc1:UCSpecialistsForm> </div>
	<div id="divBtmBand"></div>
</asp:Content>
