﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="ProfileRedesign.aspx.vb" Title="OrderWork: Company Profile" Inherits="OrderWorkUK.ProfileRedesign" MasterPageFile ="~/MasterPage/OrderWork.Master"  %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentHolder" runat="server">
<div>	
	<%@ Register TagPrefix="uc1" TagName="UCCompanyProfile" Src="~/UserControls/UK/UCMSCompanyProfileUK.ascx" %>
	<uc1:UCCompanyProfile id="UCCompanyProfile1" runat="server"></uc1:UCCompanyProfile>
</div>
</asp:Content>