<%@ Page Language="vb" AutoEventWireup="false" MasterPageFile="~/MasterPage/MyOrderWork.Master" Title="OrderWork: Search" CodeBehind="SearchForm.aspx.vb" Inherits="OrderWorkUK.SearchForm" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentHolder" runat="server">
	<div id="divTopBand" class="divContainerStyle floatLeft paddingBottom10" >
	
	<%@ Register TagPrefix="uc1" TagName="UCSearch" Src="~/UserControls/UK/UCSearch.ascx" %>
	<uc1:UCSearch id="UCSearch1" runat="server"></uc1:UCSearch>
    </div>
	<div class="clearBoth"></div>
</asp:Content>
