﻿<%@ Page Language="vb" AutoEventWireup="false" MasterPageFile="~/MasterPage/OWContentOnly.Master"  CodeBehind="SPRegister.aspx.vb" Inherits="OrderWorkUK.SPRegister" %>


        <asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
            <div class="PageCenter" style="text-align: left;margin-left:auto;margin-right:auto;position:relative;text-align:center;width:810px;">
              <%--<OWControl:SPRegisterControl runat="server" ID="SPRegisterControl1" />--%>
              <%@ Register TagPrefix="uc1" TagName="SPRegistrationForm" Src="~/UserControls/UK/SPRegistrationForm.ascx" %>
<uc1:SPRegistrationForm id="SPRegisterControl1" runat="server"></uc1:SPRegistrationForm>
            </div>

        </asp:Content>
    
