<%@ Page Language="vb" AutoEventWireup="false" MasterPageFile="~/MasterPage/MyOrderWork.Master" Title="OrderWork: Work Order Upload Log" CodeBehind="ViewWebServiceLog.aspx.vb" Inherits="OrderWorkUK.ViewWebServiceLog" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentHolder" runat="server">


      	<div id="divTopBand" class="divContainerStyle floatLeft paddingBottom10" >
	    
        <div style="width:992px;padding-left:30px;"  class="clsGreyBandStyleFund marginBottom10">
                             <strong >Web Service Log </strong>
                             </div>
	    

            <%@ Register TagPrefix="uc1" TagName="UCMSViewWebServiceLogUK" Src="~/UserControls/UK/UCMSViewWebServiceLogUK.ascx" %>
          <uc1:UCMSViewWebServiceLogUK id="UCMSViewWebServiceLogUK1" runat="server"></uc1:UCMSViewWebServiceLogUK>
     
     </div>
      <div id="divBtmBand"></div>

</asp:Content>
