<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="ViewCashPayment.aspx.vb" Title="OrderWork: View Cash Payment" Inherits="OrderWorkUK.ViewCashPayment" MasterPageFile ="~/MasterPage/MyOrderWork.Master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentHolder" runat="Server">
<body style="height:100%;" >
	<div id="divTopBand" ></div>
	<div id="divMiddleBand">
	<%@ Register TagPrefix="uc1" TagName="UCMS_PR_CashPayment" Src="~/UserControls/UK/UCMS_PR_CashPayment.ascx" %>
	<uc1:UCMS_PR_CashPayment id="UCMS_PR_CashPayment1" runat="server"></uc1:UCMS_PR_CashPayment></div>
	<div id="divBtmBand"></div>
</body>	
</asp:content>
