<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="ViewSalesInvoice.aspx.vb" Inherits="OrderWorkUK.ViewSalesInvoice" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" style="height:100%;">
<head id="Head1" runat="server">
    <title>OrderWork: Sales Invoice</title>
</head>
<body style="height:100%;" onload="javascript:this.print()">
    <form id="form1" runat="server" style="height:100%;">

			     <%@ Register TagPrefix="uc1" TagName="UCViewInvoice" Src="~/UserControls/UK/UCMSViewSalesInvoiceUK.ascx" %>
                 <uc1:UCViewInvoice id="UCMSViewSalesInvoice1" runat="server"></uc1:UCViewInvoice> 

    </form>
</body>
</html>

