

#divDDMenu {
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: left;
	width:584px;
	z-index: 10000;
	margin: 0px;
	padding: 0px;
}
.divDDMenuInner {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 10px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #993366;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #664F57;
	border-right-color: #664F57;
	border-bottom-color: #664F57;
	border-left-color: #664F57;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
		
}
*html .divDDMenuInner {
	border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: outset;
	overflow:hidden;

}
.divDDMenuInner a:hover{
	background-color: #F68C1C;
	text-decoration:none;
	cursor:hand;
	
}
.DDMenuLink {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 20px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #993366;
	padding-top: 0px;
	padding-right: 14px;
	padding-bottom: 0px;
	padding-left: 7px;
	display:block;
	border-left:solid 1px #000000;
	border-top:solid 1px #000000;
}
.divDDMenuInner a:hover{
	background-color: #F68C1C;
	text-decoration:none;
	cursor:hand;
	
}

.DDSubMenuLink {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 20px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #993366;
	padding-top: 0px;
	padding-right: 14px;
	padding-bottom: 0px;
	padding-left: 7px;
	display:block;
	border-left:solid 1px #E1E1E1;
	border-top:solid 1px #E1E1E1;
}

.divDDSubMenuInner {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 10px;
	color: #FFFFFF;
	text-decoration: none;
	
	background-color: #993366;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #664F57;
	border-right-color: #664F57;
	border-bottom-color: #664F57;
	border-left-color: #664F57;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
		
}
*html .divDDSubMenuInner {
	border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: outset;
	overflow:hidden;

}
.divDDSubMenuInner a:hover{
	background-color: #F68C1C;
	text-decoration:none;
	cursor:hand;
	
}

.marginTopNeg13
{
	margin-left:3px; margin-top:7px; 
}

*html .marginTopNeg13
{
	margin-top:-13px;
	margin-right:8px;
}
*+html .marginTopNeg13
{
	margin-top:-13px;
	margin-right:8px;
}
