/*******************************************************************************
OrderWork.css
*******************************************************************************/
a
{
	text-decoration:none;
}
a:hover
{
	text-decoration:underline;
}
body {
	background-color: #CECECE;
	margin-top: 15px;
	margin-bottom: 4px;
}

html 
{
	height: 100%;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
}
.width986
{
	width: 985px;
}
.height683
{
	height: 653px; 
}
*html .height33
{
	height: 40px;
}
.height33
{
	height: 108px;
}
.width23
{
	width: 23px;
}
.height35
{
	height: 100px;
}
*html .height35
{
	height: 38px;
}
.height54
{
	height: 54px;
}

.width940
{
	width: 940px;
}
.height10
{
	height: 10px;
}
*html .height10
{
	height: 2px;
}
.height100
{
	height: 100px;
}
.height26
{
	height: 26px;
}
.width115
{
	width: 115px;
}
.width182
{
	width: 182px;
}
.width162
{
	width: 162px;
}

.width236
{
	width: 236px;
}
.width215
{
	width: 215px;
}

.width45
{
	width: 45px;
}
.marginT10B5
{
	margin:10px 0px 5px 0px;
}
*html .marginT11B35
{
	margin:11px 0px 35px 0px;
}
.LinkOrange
{
	color: #FE7701;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	line-height:13px;
	font-weight: bold;
}
*html .LinkOrange
{
	color: #FE7701;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	line-height:13px;
	font-weight: bold;
}
.LinkOrange:hover
{
	color: #000000;	
	text-decoration: none;
}

*html .LinkOrange:hover
{
	color: #000000;	
	text-decoration: none;
}
.redText
{
	color:Red;
}
.topCurveRightRemarks
{
	background: #FAFCF1 url(Images/Curves/Bdr-Box2-TR.gif) no-repeat right top;
}
.botCurveRightRemarks
{
	background: #FAFCF1 url(Images/Curves/Bdr-Box2-BR.gif) no-repeat right top;
}
.formFieldGrey121AlignRight
{
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	text-align:right;
	padding-left:3px;
	width: 127px;
}
.AddressTxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 15px;
	font-weight: bold;
	color: #CB3E4F;
	text-decoration: none;
	text-align: right;
}
.boldRedHeader {
	color: #993366;
	font-weight:bold;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-decoration: none;
}
.tblBorder
{
	border: 1px solid #999999;
}

.labelText
{
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	text-decoration: none;
	vertical-align:middle;
	text-align:left;
	padding:0px 0px 0px 10px;
}
.footerTxt {
	color: #8C8C8C;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	padding-top: 7px;
}

.logOutTxt {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	color:#1E83B7;
	text-decoration: none;
	
}
.logOutTxt:hover {
	color:#8C8C8C;
	text-decoration: none;
}
.roundtopWhite { 
	background: url(../Images/Curves/Main-RTC.gif) no-repeat right top; 
}
.gridText
{
	padding : 0px 0px 0px 8px ;
}
.roundbottomWhite
{
	background: url(../Images/Curves/Main-RBC.gif) no-repeat right bottom;
	position: relative;
}
.iconRightPad {
	margin-right: 5px;
}


img.corner {
   width: 5px;
   height: 5px;
   border: none;
   display: block !important;
}
#divLogo {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	line-height: 12px;
	font-weight: normal;
	text-decoration: none;
	background-color: #f4f5f0;
	width: 100%;
	background-position: right top;
	background-repeat: no-repeat;
	
}
.smallText {
	font-size: 1px;
	line-height: 1px;
	text-decoration: none;
}
.footerTxtSelected {

	color: #1E83B7;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}
.width177{
	width:177px;
}
.formFieldGreyUploadFileCompProf
{
 	color: #5F5F5F;  	
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	text-decoration: none;	
	vertical-align: middle;
	text-align:left;
	padding-left:3px;
	width:200px;		
}
*html .formFieldGreyUploadFile
{
 	color: #5F5F5F;  	
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	text-decoration: none;	
	vertical-align: middle;
	text-align:left;
	padding-left:3px;		
	border: 1px solid #999999;       	
}
.formFieldGreyUploadFile
{
 	color: #5F5F5F;  	
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	text-decoration: none;	
	vertical-align: middle;
	text-align:left;
	padding-left:3px;
		
}

#tblDGRowInsideEdit td{
	background-color:#EDEDED;
	height: 30px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #555354;
	text-decoration: none;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-left: 0px solid #FFFFFF;
	padding-left:5px;
	padding-right: 2px;
	vertical-align:middle;
}

#divMenu {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	line-height: 12px;
	font-weight: normal;
	text-decoration: none;
	width: 100%;
	background-position: right top;
	background-repeat: no-repeat;
	border-top-width: 1px;
	border-top-style: solid; 
	border-top-color: #CECECE;
	background-color: #993366;

}

.roundtopRed {
	background: url(../Images/Curves/Red-RTC.gif) no-repeat right top;
}
.roundbottomRed {
	background: url(../Images/Curves/Red-RBC.gif) no-repeat right bottom;
}
.ActiveLinkRed
{
	cursor: hand;
	cursor: pointer;
	background-color: #993366;
}
.MenuTxtBold {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	margin-left: 19px;
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
}
.MenuTxtBold:hover {
	color: #F6CF1C;
	text-decoration: none;
}
#divFlash {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	line-height: 12px;
	font-weight: normal;
	text-decoration: none;
	background-color: #f4f5f0;
	width: 100%;
	background-position: left top;
	background-repeat: no-repeat;
	background-image: url(../Images/CentreImage.jpg);
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CECECE;
	height: 236px;
}
.BdrTop {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #D7D8D3;
}
#divContent {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	line-height: 12px;
	font-weight: normal;
	text-decoration: none;
	background-color: #f4f5f0;
	width: 100%;
	background-repeat: no-repeat;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CECECE;
    min-height:700px;
}
#loginContent
{
    font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	line-height: 12px;
	font-weight: normal;
	text-decoration: none;
	width: 100%;
    min-height:650px;
}
.bodyTxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 15px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

.roundtopNavRight {
	background: url(../Images/Curves/Login-RTC.gif) no-repeat right top;
}


.roundBtmNavRight {
	background: url(../Images/Curves/Grey-BRC.gif) no-repeat right top;
}

.tblContent {
	margin-top: 11px;
	margin-bottom: 35px;
}
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

.txtHeading {
	padding-bottom: 4px;
	
}

p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.txtNavigation {
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	line-height: 13px;
	
}


.formField150
{
	color: #000000;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	padding-left:3px;
	width: 150px;
}

formField
{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	padding-left:3px;
}

.txtButtonNav {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(../Images/White-Arrow.gif);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 8px;
	padding-left: 4px;
}

.txtTopNavigation {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.remarksArea {
	background-color: #FAFCF1;
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	line-height: 13px;
	text-align: left;
}
#tblYourResponseTxtNew {
	background-color: #FAFCF1;
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	line-height: 13px;
	text-align: left;
}

#tblYourResponseTxtCollapse {
	background-color: #EDEDED;
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	line-height: 13px;
	text-align: left;
}
.btnNavigationSpacing {
	margin-top: 5px;
}

.footerTxt:hover {

	color: #1E83B7;
	padding-top: 7px;
	text-decoration: none;
}
.txtButtonNav:hover {

	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #D6D6BD;
	text-decoration: none;
	background-image: url(../Images/Black-Arrow.gif);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 8px;
	padding-left: 4px;
}

.btnHome {
	margin-bottom: 21px;
}



.roundtabOrange {

	background: url(../Images/Curves/Orange-RTC.gif) no-repeat right top;
}
.roundtabRed {
	background: url(../Images/Curves/TabRed-RC.gif) no-repeat right top;
	
}

.treeControl2
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 15px;
	color: #CB3E4F;
	width:450px; 
	height:170px;
	overflow:auto;
	padding: 0px;
	margin: 0 0 10 0;
	border:1px solid #999999;
	background-color: #FFFFFF;
}
.formTxt {
	color: #000000;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
} 

.formTxt12 {
	color: #000000;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;	
} 

#divorangeBorder {
	background-color: #F68C1C;
}
.divredBorder {
	background-color: #993366;
}
.formField310 {
	color: #000000;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	width: 310px;
	padding-left: 3px;
}
.MenuTxtSelected {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 12px;
	font-weight: bold;
	color: #F6CF1C;
	text-decoration: none;
	margin-left: 19px;
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
}
.txtButtonOrange {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(../Images/White-Arrow.gif);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 8px;
	padding-left: 4px;
	background-color: #F68C1C;
}
.txtButtonOrangeBack {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(../Images/White-Arrow-Bck.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-right: 4px;
	padding-left: 10px;
	background-color: #F68C1C;
}
.txtButtonNext:hover {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #1E83B7;
	text-decoration: none;
	background-image: url(../Images/White-Arrow.gif);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 8px;
	padding-left: 4px;
	background-color: #F68C1C;
}
.txtButtonRed {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(../Images/White-Arrow.gif);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 8px !important;
	padding-left: 4px !important;
	background-color: #993366;
}
.txtButtonRed:hover {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #D6D6BD;
	text-decoration: none;
	background-image: url(../Images/Black-Arrow.gif);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 8px;
	padding-left: 4px;
	background-color: #993366;
}
.txtButtonRedBack {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(../Images/White-Arrow-Bck.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-right: 4px;
	padding-left: 10px;
	background-color: #993366;
}
.txtButtonRedBack:hover {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #D6D6BD;
	text-decoration: none;
	background-image: url(../Images/Orange-Arrow-Bck.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-right: 4px;
	padding-left: 10px;
	background-color: #993366;
}
.bodytxtValidationMsg {

	color: #FF0100;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}
.tabDivOuter{
	background-repeat: repeat-x;
	background-color: #EDEDEB;
	background-image: url(../Images/Tab-BtmTile.gif);
	background-position: bottom;
	text-align: left;
}
.padRight20Left20
{
	padding-left: 20px;
	padding-right: 20px;
}
.paddingR20
{
	padding-right: 20px;
}

*html .padRight20Left20 {
	padding-left: 20px;
	padding-right: 20px;
	width:100%;
}
.marginT11B35
{
	margin:11px 0px 35px 0px;
}
.paddingT10LR20B35L
{
	padding:20px 20px 20px 20px; 
	width:944px;
	margin: 0px 20px 0px 20px; 
}
#divRegestrationCompleted {

	padding-left: 20px;
	padding-right: 20px;
}

*html #divRegestrationCompleted {
	padding-left: 20px;
	padding-right: 20px;
	width:100%;
}
.bodyTxtBlue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 15px;
	font-weight: normal;
	color: #1D85BA;
	text-decoration: none;
}
.paddingB3{
	padding:0px 0px 3px 0px;
	
}
.paddingB7{
	padding:0px 0px 7px 0px;	
}

.paddingB4{
	padding:0px 0px 14px 0px;
	margin:0px 0px 0px 0px;
}
.bodyTxtBlue:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 15px;
	font-weight: normal;
	color: #D6D6BD;
	text-decoration: none;
}

.txtButtonOrange:hover {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #D6D6BD;
	text-decoration: none;
	background-image: url(../Images/Black-Arrow.gif);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 8px;
	padding-left: 4px;
	background-color: #F68C1C;
}
.txtButtonOrangeBack:hover {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #D6D6BD;
	text-decoration: none;
	background-image: url(../Images/Orange-Arrow-Bck.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-right: 4px;
	padding-left: 10px;
	background-color: #F68C1C;
}
.formField202ht100 {

	color: #000000;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	padding-left:3px;
	width: 202px;
	height: 110px;
}
.formField200 {

	color: #000000;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	width: 200px;
	padding-left: 3px;
}
.txtButtonNoArrow {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #A0A0A0;
}


.ActiveLink
{
	cursor: hand;
	cursor: pointer;
	background-color: #993366;
}
.NonActiveLink
{
	cursor: hand;
	cursor: pointer;
	background-color: #A0A0A0;
}
.ActiveLinkOrange
{
	cursor: hand;
	cursor: pointer;
	background-color: #F68C1C;
}
.NonActiveLinkOrange
{
	cursor: hand;
	cursor: pointer;
	background-color: #CACACA;
}

.formField474ht60 {

	color: #000000;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	padding-left:3px;
	width: 474px;
	height: 60px;
}
.formField90 {
	color: #000000;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	padding-left:3px;
	width: 90px;
}

.formField40 {
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	padding-left:3px;	
	margin-right:5px;
	width: 40px;
}
.formField105 {
	color: #000000;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	padding-left:3px;
	width: 105px;
}
.formField
{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	padding-left:3px;
}
.width120
{
	width:120px;
}
.width150
{
	width:150px;
}
*html .width152
{
	width:152px;
	margin:0px 0px 0px 10px;
	padding:0px;
}
.width152
{
	width:150px;
	margin:0px 0px 0px 13px;
	padding:0px;
}
.width155
{
 width: 155px;
}
.width160
{
	width:160px;
}
.width200
{
 width: 200px;
}
.width210
{
 width: 210px;
}
.width240
{
 width: 240px;
}
.width310
{
	width:310px;
}
.width311
{
	width:311px;
}

.width312 
{
	width:312px;
}

.width944
{
	width: 944px;
}

.height20
{
	height:20px;
}
.formFieldGrey
{
 	color: #000000;  	
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	/*	line-height: 11px;*/
	text-decoration: none;	
	vertical-align: middle;
	text-align:left;
	padding-left:3px;		
	border: 1px solid #999999;       	
}
.formFieldGrey430
{
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	/*	line-height: 11px;*/
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	text-align:left;
	padding-left:3px;
	width: 430px;
}
.formFieldGrey
{
 	color: #5F5F5F;  	
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	text-decoration: none;	
	vertical-align: middle;
	text-align:left;
	padding-left:3px;		
	border: 1px solid #999999;       	
}
.formTxtOrange {

	color: #FFB461;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}
.formTxtRed {
	color: #BE483E;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;	
}
.formTxtRedBold {

	color: #BE483E;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold ;
	
}
.formField120 {

	color: #000000;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	padding-left:3px;
	width: 120px;
}
.footerTxtSelected:hover {
	color: #8C8C8C;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}




.tabImgLeft {
	margin: 0px;
	padding: 0px;
	float: left;
	cursor: default;
}
.tabImgRight {

	margin: 0px;
	padding: 0px;
	float: right;
	cursor: default;
}
.tabButtonTxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	vertical-align: middle;
	float: left;
	padding: 3px 10px 3px 3px;
}
.padB21 {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 21px;
	padding-left: 0px;
}
.txtButtonNoArrow:hover {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #D6D6BD;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #A0A0A0;
}




.chkpadR {
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.frameBorder {
	border: 1px solid #CECECE;
	margin: 0px;
	padding: 0px 0px 0px;
	background-color: #FFFFFF;
}
.radformFieldPadT0 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	padding-right: 10px;
}
.hdnClass {
	font-size: 0px;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
	height: 0px;
	width: 0px;
	border: 0px;
}


.LogoImg {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
}

*html .LogoImg {
	margin-top: 16px;
	margin-bottom: 7px;
	margin-right: 20px;
	margin-left: 20px;
}


.datagrid {
	width: 728px;
}


.LogoTopMsg {

	color: #545550;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}

#divSubMenu {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	line-height: 12px;
	font-weight: normal;
	text-decoration: none;
	width: 100%;
	background-position: right top;
	background-repeat: no-repeat;
	background-color: #DAD8D9;
}



.roundtopLightGrey {

	background: url(../Images/Curves/Submenu-RC.gif) no-repeat right top;
}


.SubMenuTxtBold {

	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 12px;
	font-weight: bold;
	color: #565455;
	text-decoration: none;
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-left:15px;
	margin-bottom: 10px;
}
.SubMenuTxtBold:hover {


	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 12px;
	font-weight: bold;
	color: #C54043;
	text-decoration: none;
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-left:15px;
	margin-bottom: 10px;
}
.SubMenuSeparator
{
	margin-left:15px;
}
.divGrayBackGround
{
	background-color:#EDEDEB ;	
}

.txtButtonLocation {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	vertical-align: middle;
	font-weight: normal;
	color: #DC7579;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #E7E7E5;
	border: solid 1px #CBCBC9;
}


#divAccountSummary {
	text-decoration: none;
	background-color: #F9EBDE;
	width: 200px;
	text-align: left;
	margin-bottom: 20px;
}
*html .liNavigation {
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	line-height: 14px;
	list-style-image: url(../Images/Grey-Bullet.gif);
	margin-left: 0px;
	margin-top: 0px;
}
.liNavigation {
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	line-height: 14px;
	list-style-image: url(../Images/Grey-Bullet.gif);
	padding-left:15px;
	margin-top: 0px;
}


.HeadingRed 
{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #993366;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	}


#divListingOuter {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	line-height: 12px;
	font-weight: normal;
	text-decoration: none;
	background-color: #CBC9CA;
	width: 100%;
	background-position: right top;
	background-repeat: no-repeat;
	
}

.roundtopListngOuter {
	background: url(../Images/Curves/Grid-TRC.gif) no-repeat right top;
}


.roundBtmListngOuter {
	background: url(../Images/Curves/Grid-BRC.gif) no-repeat right top;
}
.txtListing {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 12px;
	color: #565455;
	text-decoration: none;
	vertical-align: middle;
}
.headerListing {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 12px;
	color: #CE3538;
	text-decoration: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-top-color: #F4F3EF;
	border-right-color: #F4F3EF;
	background-color: #D7D5D6;
	padding: 10px;
	text-align:left;
	font-weight:normal;	
}
.contentListingBdrTop {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 12px;
	color: #565455;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #F4F3EF;
	background-color: #E6E6E6;
	padding: 8px;
}


.headerListingBdrTop {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 12px;
	color: #CE3538;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #F4F3EF;
	background-color: #D7D5D6;
	padding: 10px;
	text-align:left;
	font-weight:normal;	
}

.contentListing {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 12px;
	color: #565455;
	text-decoration: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-top-color: #F4F3EF;
	border-right-color: #F4F3EF;
	background-color: #E6E6E6;
	padding: 8px;
}



.subHeading{
	margin: 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
}

.CheckBoxNewsLetter {
	text-align: left;
	margin: 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 15px;
}

.txtBtnImage {
	border-top-style: solid;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #DCDDD8;
	border-right-color: #DCDDD8;
	border-bottom-color: #DCDDD8;
	border-left-color: #DCDDD8;
	cursor: hand;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 12px;
	color: #545454;
	text-decoration: none;
}

.bdrBtmListing {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F4F3EF;
}

.marginB30
{
	margin:0px 0px 30px 0px;
}
.SubMenuTxtBoldSelected {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 12px;
	font-weight: bold;
	color: #C54043;
	text-decoration: none;
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-left:15px;
	margin-bottom: 10px;
}





.txtListing:hover {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 12px;
	color: blue;
	text-decoration: none;
}
.formField240 {
	color: #000000;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	padding-left:3px;
	width: 240px;
}
hr {
	color: #D7D8D3;
	margin-bottom: 10px;
	margin-top: 0px;
}
#divAdminHomeContent {
	text-decoration: none;
	background-color: #E4E5E0;
	width: 100%;
	text-align: left;
	margin-bottom: 0px;
}

.txtGreySmall {
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	line-height: 13px;
}

.txtGreySmall:hover {

	color: #1C86B8;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	line-height: 13px;
}
.txtGreySmallSelected {


	color: #1C86B8;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	line-height: 13px;
}


.HeadingSmallBlack {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	padding-top: 12px;
	padding-right: 0px;
	padding-bottom: 18px;
	padding-left: 0px;
}
.MarBtm20 {
	margin-bottom: 20px;
}



.roundtopLightGreyCurve {
	background: url(../Images/Curves/LightGrey-RTC.gif) no-repeat right top;
}
#divLogin {
	text-decoration: none;
	background-repeat: repeat-x;
	background-color: #E4E5E0;
	background-image: url(../Images/Login-BtmTile.gif);
	background-position: bottom;
	width: 200px;
	text-align: left;
	margin-bottom: 15px;
}



.roundtopOrange {
	background: url(../Images/Curves/OrangeMenu-RTC.gif) no-repeat right top;
}
.roundbottomOrange {
	background: url(../Images/Curves/OrangeMenu-RBC.gif) no-repeat right bottom;
}
.formField210 {

	color: #000000;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	width: 210px;
	padding-left: 3px;
}

.bodytxtRed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 15px;
	font-weight: bold;
	color: #C54043;
	text-decoration: none;
}

.txtWelcome {
	color: #000000;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	line-height: 13px;
	text-align: justify;
	padding-left: 1px;	
}
#divSubMenu {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	line-height: 12px;
	font-weight: normal;
	text-decoration: none;
	width: 100%;
	background-position: right top;
	background-repeat: no-repeat;
	background-color: #DAD8D9;
}

.width684
{
	width:684px;
}
.paddingL3 {
	padding-left: 3px;
}
.paddingL10 {
	padding-left: 10px;
}
.paddingL20 {
	padding-left: 20px;
}
.paddingL30 {
	padding-left: 30px;	
}


.marginLeft20
{
	margin-left:20px;
}
.marginLeft40
{
	margin-left:40px;
}
.marginTop10
{
	margin-top:10px;
}

.paddingL10R3 {
	padding-left: 10px;
	padding-right:3px;
}

.marginLeft10
{
	margin-left:10px;
}
 
.gridHdr
{
	background-color:#D7D7D7;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;	
	padding-left:6px;
	padding-top: 8px;
	margin-left:6px;
	margin-top:8px;
}
.gridHdrText
{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;	
	padding-left:6px;
	padding-top: 8px;
	margin-left:6px;
	margin-top:8px;
}
.gridHdrMailed
{
	background-color:#D7D7D7;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #D43839;
	text-decoration: none;	
	padding-left:6px;
	padding-top: 8px;
	margin-left:6px;
	margin-top:8px;
}


.gridHdrNotBold
{
	background-color:#D7D7D7;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;	
	color: #555354;
	text-decoration: none;
}


.gridHdrHighlight
{
	background-color:#D7D7D7;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
	padding-left:6px;
	padding-top: 8px;
	margin-left:6px;
	margin-top:8px;
}

.gridRow
{
	background-color:#EDEDED;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;	
	color: #000000;
	text-decoration: none;
	padding-left:6px;
	padding-right:6px;
	padding-top: 8px;
	margin-left:6px;
	margin-top:8px;

}
.gridRow1
{
	
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;	
	color: #000000;
	text-decoration: none;
	padding-left:6px;
	padding-right:6px;
	padding-top: 8px;
	margin-left:6px;
	margin-top:8px;

}
.gridRowText
{	
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;	
	color: #000000;
	text-decoration: none;
	padding-left:6px;
	padding-right:6px;
	padding-top: 8px;
	margin-left:6px;
	margin-top:8px;

}
.gridRowMailed
{
	background-color:#EDEDED;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;	
	color: #D43839;
	text-decoration: none;
	padding-left:6px;
	padding-right:6px;
	padding-top: 8px;
	margin-left:6px;
	margin-top:8px;
}
.gridRowAlignCenter
{
	text-align:center; 
}

.gridRowRed
{
	background-color:#EDEDED;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;	
	color: #F20000;
	text-decoration: none;
	padding-left:6px;
	padding-right:6px;
	padding-top: 8px;
	margin-left:6px;
	margin-top:8px;
}
.gridRowIcons
{
	background-color:#EDEDED;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #555354;
	text-decoration: none;
	padding-left:1px;
	padding-right:1px;
	padding-top: 8px;
	margin-left:6px;
	margin-top:8px;
}
.gridRowIconsText
{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #555354;
	text-decoration: none;
	padding-left:1px;
	padding-right:1px;
	padding-top: 8px;
	margin-left:6px;
	margin-top:8px;
}
.gridRowAlt
{
	background-color:#F5F5F5;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #555354;
	text-decoration: none;
}
.gridRowHighlight
{
	background-color:#EDEDED;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
	text-decoration: none;
}
.gridTextNew
{
	padding : 0px 0px 0px 8px ;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}

#tblDGHeader td{
	background-color:#D7D7D7;
	height: 38px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	font-weight: bold;
	color: #555354;
	text-decoration: none;
	border-top: 1px solid #F4F5F0;
	border-right: 1px solid #F4F5F0;
	border-bottom: 1px solid #F4F5F0;
	border-left: 0px solid #F4F5F0;
	padding-left:5px;
	padding-right: 2px;
}
#tblDGHeader a{
	color: #555354;
}
#tblDGHeader a:hover{
	color: #FFFFFF;
	text-decoration: none;
}
#tblDGHeader span a{
	color:#FF0000;
}
#tblDGHeader span a:hover{
	color:#FFFFFF;
}
#tblDGYourResponseHdr td{
	background-color:#993366;
	height: 23px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	border-top: 0px solid #EDEEE9;
	border-right: 1px solid #EDEEE9;
	border-bottom: 0px solid #EDEEE9;
	border-left: 0px solid #EDEEE9;
	padding-left:5px;
	padding-right: 2px;
}

#tblDLRow td{
	background-color:#EDEDED;
	height: 35px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	color: #555354;
	text-decoration: none;
	border-top: 0px solid #EDEEE9;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-left: 0px solid #EDEEE9;
	padding-left:5px;
	padding-right: 2px;
}

#tblDGRowInside td{
	background-color:#EDEDED;
	height: 23px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #555354;
	text-decoration: none;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-left: 0px solid #FFFFFF;
	padding-left:5px;
	padding-right: 2px;
	padding-top: 8px;
	padding-bottom: 8px;
	vertical-align:middle;
}


.textRed:hover{
	color:#FFFFFF;
}


.paddingTop10Bot24{
	padding-top: 10px;
	padding-bottom: 24px;
	margin-top: 8px;
}
.bodyTextGreyLeftAligned{
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	line-height: 13px;
	text-align: left;
	padding-left: 1px;	
}
#tdDGDetailedDesc{
	padding-right: 14px;
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	line-height: 13px;
	text-align: left;
	padding-left: 1px;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #D7D7D7;
	border-right-color: #D7D7D7;
	border-bottom-color: #D7D7D7;
	border-left-color: #D7D7D7;
}
#tdDGClientContactInfo{
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	line-height: 13px;
	text-align: left;
	padding-left: 1px;
	padding-bottom: 22px;
	padding-top: 30px;
}
.txtOrange{
	color: #F48C1B;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	line-height: 13px;
	text-align: left;
	padding-left: 1px;	
}
.paddingL23{
	padding-left:23px;
}

.paddingL5R2{
	padding-left:5px;
	padding-right: 2px;
}
.paddingTop1{
	padding-top:1px;
}
.paddingT10{
	padding-top:10px;
}

.paddingT17{
	padding:17px 0px 0px 0px;
}

#tblYourResponseTxt {
	background-color: #FDFDFD;
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	line-height: 13px;
	text-align: left;
}
.bottonTopGrey {
	background: url(../Images/Curves/Bdr-Btn-TR.gif) no-repeat right top;
	height:4px;
}
.bottonBottomGrey
{
	background: url(../Images/Curves/Bdr-Btn-BR.gif) no-repeat right bottom;
	height:4px;
}
#divButton
{
	background-color:#999999;
	width: 56px;
	height:19px;
	margin:10px 0px 0px 0px;
	padding:0px;
}
*+html #divButton
{
	height:26px;
}
.buttonText {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	padding-left: 11px;
	padding-right: 8px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height:11px;
}
.buttonText:hover {
	color: #3F3F3F;
	text-decoration: none;
}

img.btnCorner {
   width: 4px;
   height: 4px;
   border: none;
   display: block !important;
}


.marginTop10{
	margin-top: 10px;
}
.paddingRight9{
	padding-right: 9px;
}
.paddingL10R8{
	margin-left: 0px;
	margin-right: 8px;
}
.formFieldGrey150
{
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	text-align:left;
	padding-left:3px;
	width: 150px;
}
.formFieldGrey700
{
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	text-align:left;
	padding-left:3px;
	width: 700px;
}
.formFieldGrey900
{
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	text-align:left;
	padding-left:3px;
	width: 900px;
}
.formFieldGrey215
{
	color: #000000;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	text-align:left;
	padding-left:3px;
	width: 215px;
}
.formFieldGrey121
{
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	text-align:left;
	padding-left:3px;
	width: 127px;
}
.formFieldGrey311
{
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	text-align:left;
	padding-left:3px;
	width: 311px;
}
.formFieldGreyW470H58
{
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	text-align:left;
	padding-left:3px;
	width: 470px;
	height:58px;
}
.width925height143
{
	width: 925px;
	height:143px;	
}
.width686height60
{
	width: 686px;
	height:60px;	
}
.formFieldGreyW470H143
{
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	text-align:left;
	padding-left:3px;
	width: 470px;
	height:143px;
}
.formFieldGreyW720H58
{
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 13px;
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	text-align:left;
	padding-left:3px;
	width: 720px;
	height:58px;
}
.formFieldGreyW950H58
{
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 13px;
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	text-align:left;
	padding-left:3px;
	width: 950px;
	height:58px;
}
.formLabelGrey
{
	color: #000000;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	text-decoration: none;
	vertical-align:bottom;
	text-align:left;
}


.borderWhite1R{
	border-right: 1px solid #FFFFFF;
}
.paddingLeft8{
	padding-left: 8px;
}

.gridRowFirstAttachHeader
{
	background-color:#A0A0A0;
	height: 23px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	color: #FFFFFF;
	text-decoration: none;
	border-top: 0px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-bottom: 0px solid #FFFFFF;
	border-left: 0px solid #FFFFFF;
	vertical-align:bottom;
	padding-bottom: 8px;
}
.gridRowAttachHeader
{
	background-color:#A0A0A0;
	height: 23px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	color: #FFFFFF;
	text-decoration: none;
	border-top: 0px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-bottom: 0px solid #FFFFFF;
	border-left: 0px solid #FFFFFF;
	vertical-align:bottom;
	padding-bottom: 8px;
	padding-left: 8px;
}
.gridRowLastAttachHeader
{
	background-color:#A0A0A0;
	height: 23px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	color: #FFFFFF;
	text-decoration: none;
	border-top: 0px solid #FFFFFF;
	border-right: 0px solid #FFFFFF;
	border-bottom: 0px solid #FFFFFF;
	border-left: 0px solid #FFFFFF;
	vertical-align:bottom;
	padding-bottom: 8px;
	padding-left: 8px;
}
.formFieldGreyW942H58
{
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 13px;
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	text-align:left;
	padding-left:3px;
	width: 942px;
	height:58px;
}
.formFieldGreyW904H58
{
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 13px;
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	text-align:left;
	padding-left:3px;
	width: 904px;
	height:58px;
}
.gridRowFirstAttach
{
	background-color:#E6E6E6;
	height: 30px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	color: #5F5F5F;
	text-decoration: none;
	border-top: 0px solid #FFFFFF;
	border-right: 0px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-left: 0px solid #FFFFFF;
	vertical-align:middle;
}
.gridRowAttach
{
	background-color:#E6E6E6;
	height: 30px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	color: #5F5F5F;
	text-decoration: none;
	border-top: 0px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-left: 0px solid #FFFFFF;
	vertical-align:middle;
}



.DLDiscussion
{
	margin:5px 0px 5px 0px;
}
.discussionTextClient
{
	color: #F58C1C;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	line-height: 13px;
	text-align: left;
/*	font-weight:bold; */
}
.discussionTextSupplier
{
	color: #993366;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	line-height: 13px;
	text-align: left;
/*	font-weight:bold; */
}
.formFieldGrey140AlignRight
{
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;

	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	text-align:right;
	padding-left:3px;
	width: 140px;
}




.tblBdrBlack {
	border: 1px solid #000000;
}
.updateProgress
{
	position: absolute;
	background-color: #eeeeeb;
	filter: alpha(opacity=70);
	MozOpacity: 0.7;
	opacity: 0.7;
	padding: 0px;
	margin: 0px;
	min-height:100%; 
    min-width:94%;
}
.updateProgress div
{
	background-color: #eeeeeb;
	padding: 4px;
	position: absolute;
	top: 40%;
	left: 40%;
}
.padding0
{
	padding:0px;
	margin:0px;
}

.formFieldWhite
{	
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	text-align:left;
	padding-left:3px;
}	

.width202height110
{
	width: 202px;
	height:110px;	
}

.paddingT4
{
	padding-top:4px ;
}

.passwordField{	
	
	color: #000000;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	padding-left:3px;
	width: 150px;
}
.passwordFieldHidden{
	font-size: 0px;
	border-width:0px;
	width: 0px;
	height:0px;
	/*visibility:hidden;*/
	margin:0px;
	padding:0px;
	
	position:absolute;
}

.formField150
{
	color: #000000;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	padding-left:3px;
	width: 150px;
}
.padTop17 {
	margin: 0px;
	padding-top: 17px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.divValidation {
	
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	line-height: 12px;
	font-weight: normal;
	text-decoration: none;
	background-color: #FFFDB9;
	width: 100%;
	border-width: 1px;
/*	border-style: solid;	*/
	border-color: #EDEDC9;
	margin-bottom:12px;
}

.roundtopVal { 
	background: url(../Images/Curves/Validation-TRC.gif) no-repeat right top; 
}
.roundbottomVal
{
	background: url(../Images/Curves/Validation-BRC.gif) no-repeat right bottom;
	position:relative;
}
.validationText {
	
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	line-height: 12px;
	font-weight: normal;
	text-decoration: none;
}
.divCompProTopCurves { 
	background: url(Images/Curves/Brd-Pink-RT.gif) no-repeat right top; 
}
.divCompProBotCurves
{
	background: url(Images/Curves/Brd-Pink-RB.gif) no-repeat right bottom;
}
.bdrBtmPages {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #B1B1B1;
}
.paddingT10B4{
	padding: 10px 0px 4px 0px;
}

.paddedBox
{
	padding-right: 20px;
	padding-left: 20px;
}
*html .paddedBox {
	padding-left: 20px;
	padding-right: 20px;
	width:100%;
}

*html #divLiabilitCont
{
	
	 background-color:#F7E4D3 ;
	  width:100%; height:30;
	   padding:5px 10px 5px 10px ;
	 
}

#divLiabilitIns
{
	 background-color:#F7E4D3;
	 width:100%;
}

#divLiabilitCont
{
	
	 background-color:#F7E4D3 ;
	  width:650px; height:30;
	   padding:5px 10px 5px 10px ;	 
}

.divAccountTopCurves { 
	background: url(../Images/Curves/MAS-Bdr-TR.gif) no-repeat right top; 
}

.divAccountBotCurves
{
	background: url(../Images/Curves/MAS-Bdr-BR.gif) no-repeat right bottom;
}
.summaryBox{
	padding: 10px 15px 10px 15px;
}
*html .liNavigationBlack
{
	color: #000000;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	line-height: 14px;
	list-style-image: url(../Images/Grey-Bullet.gif);
	margin-left: 10px;
	margin-top: 0px;
	margin-bottom:0PX;
	padding: 0px;
}
.liNavigationBlack {
	color: #000000;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	line-height: 11px;
	list-style-image: url(../Images/Grey-Bullet.gif);
	padding-left:5px;
	margin-top: 0px;
}



.formTxtRedBold2 {

	color: #993366;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold ;	
	
}
.formTxtRedBold2:hover
{
	text-decoration: none;	
}

*html .backGroundRating
{
	background-image:url(../Images/Creamband_dwnarrow.gif );
	height: 24px;
	width: 152px;
	text-align: left;
	vertical-align: bottom;
	cursor: hand;
	padding: 5px 5px 5px 0px;
	margin:0px;
}

.backGroundRating
{
	background-image:url(../Images/Creamband_dwnarrow.gif );
	height: 15px;
	width: 145px;
	text-align: left;
	vertical-align: bottom;
	cursor: hand;
	padding: 5px 5px 5px 0px;
	margin:0px;
}

*html .backGroundRatingOnclick
{
	background-image:url(../Images/Creamband_uparrow.gif); /* Creamband_dwnarrow.gif   Creamband_uparrow.gif */	
	width: 152px;	
	text-align: left;
	vertical-align: bottom;
	cursor: hand;
	padding: 5px 5px 5px 0px;
	margin:0px;
}
.backGroundRatingOnclick
{
	background-image:url(../Images/Creamband_uparrow.gif); /* Creamband_dwnarrow.gif   Creamband_uparrow.gif */	
	width: 145px;	
	text-align: left;
	vertical-align: bottom;
	cursor: hand;
	padding: 5px 5px 5px 0px;
	margin:0px;
	
}
*html .whiteBackground
{
	background-color: #FFFFFF;
	margin:0px 0px 0px 10px;
	padding:0px;
	width:152px; 
	height:65px;
}
.whiteBackground
{
	background-color: #FFFFFF;
	margin:0px 0px 0px 13px;
	padding:0px;
	width:150px; 
	height:65px;
}

.formLabelGreyNote
{
	color: #FF0100;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	text-decoration: none;
	vertical-align: bottom;
	text-align:left;

}
.marginR5 
{
	margin:0px 5px 0px 0px;
}
.marginR8
{
	margin:0px 8px 0px 0px;
}

.gridBorderRB
{
    border-right:solid 1px #F4F5F0;
    border-bottom:solid 1px #F4F5F0;
}
.gridBorderB
{
    border-bottom:solid 1px #F4F5F0;
}

.width655 {
	width: 725px;
}

*html .width655 {
	width: 655px;
}

.width330 {
	width:330px;
}

.width140 {
	width:140px;
}
.width686height143 {
	width: 686px;
	height:143px;	
}

.paddingLeft20
{
	padding-left:0px;
}

.BorderW {
	border-bottom: solid 1px #FFFFFF;
	border-left: solid 1px #FFFFFF;	
	border-top: solid 1px #FFFFFF;
}	

.BorderWhiteR {
	border-right: solid 1px #FFFFFF;
}	

.HdrText {
	background-color:#D7D7D7;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #555354;
	text-decoration: none;
	height:28px;
	vertical-align:middle;
}	

.RowText {
	background-color:#EDEDED;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #555354;
	text-decoration: none;
}

.gridBorderRB
{
    border-right:solid 1px #F4F5F0;
    border-bottom:solid 1px #F4F5F0;
}
.gridBorderB
{
    border-bottom:solid 1px #F4F5F0;
}

.formFieldGreyAlignRight
{
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	text-align:right;
	padding-left:3px;
}

.divAttachment {
	
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	line-height: 12px;
	font-weight: normal;
	text-decoration: none;
	background-color: #F4F5EF;
	width: 100%;
	border-width: 2px;
/*  border-style: solid; */
	border-color: #DCDDD8;
	margin-bottom:12px;
	
}

.removeTxt {
	color: #7D9BB3;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}
.removeTxt hover{
	color: #9C9D98;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}

.paddingT10B24MarginT8{
	padding-top: 10px;
	padding-bottom: 24px;
	margin-top: 8px;
}

.bodytxtRedSmall {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 15px;
	font-weight: normal;
	color: #C54043;
	text-decoration: none;
	text-align:center;
}


.AttachtopVal { 
	background: url(../Images/Curves/Attach-TR.gif) no-repeat right top; 
}

.AttachbottomVal
{
	background: url(../Images/Curves/Attach-BR.gif) no-repeat right bottom;
}

.divRatings
{
	text-decoration: none;
	background-color: #F9EBDE;
	text-align: left;
	margin-top:10px;
}

.remarksAreaCollapse {
	background-color: #EDEDED;
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	line-height: 13px;
	text-align: left;
}

.gridRowAOE
{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	
}



.padTop50 {
	margin: 0px;
	padding-top: 50px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}


.width202
{
	width: 202px;
}

.width730 {
	width: 730px;
}
.ajax__calendar_container {padding:4px;position:absolute;cursor:default;width:170px;font-size:11px;text-align:center;font-family:tahoma,verdana,helvetica;}
.ajax__calendar_body {height:139px;width:170px;position:relative;overflow:hidden;margin:auto;}
.ajax__calendar_days, .ajax__calendar_months, .ajax__calendar_years {top:0px;left:0px;height:139px;width:170px;position:absolute;text-align:center;margin:auto;}
.ajax__calendar_container TABLE {font-size:11px;}
.ajax__calendar_header {height:20px;width:100%;}
.ajax__calendar_prev {cursor:pointer;width:15px;height:15px;float:left;background-repeat:no-repeat;background-position:50% 50%;background-image:url(<%=WebResource("AjaxControlToolkit.Calendar.arrow-left.gif")%>);}
.ajax__calendar_next {cursor:pointer;width:15px;height:15px;float:right;background-repeat:no-repeat;background-position:50% 50%;background-image:url(<%=WebResource("AjaxControlToolkit.Calendar.arrow-right.gif")%>);}
.ajax__calendar_title {cursor:pointer;font-weight:bold;}
.ajax__calendar_footer {height:15px;}
.ajax__calendar_today {cursor:pointer;padding-top:3px;}
.ajax__calendar_dayname {height:17px;width:17px;text-align:right;padding:0 2px;}
.ajax__calendar_day {height:17px;width:18px;text-align:right;padding:0 2px;cursor:pointer;}
.ajax__calendar_month {height:44px;width:40px;text-align:center;cursor:pointer;overflow:hidden;}
.ajax__calendar_year {height:44px;width:40px;text-align:center;cursor:pointer;overflow:hidden;}

.ajax__calendar_container
 {
 border:1px solid #646464;background-color:#ffffff;color:#000000;
 left: auto !important;
 top: auto !important;    
}

.ajax__calendar_footer {border-top:1px solid #f5f5f5;}
.ajax__calendar_dayname {border-bottom:1px solid #f5f5f5;}
.ajax__calendar_day {border:1px solid #ffffff;}
.ajax__calendar_month {border:1px solid #ffffff;}
.ajax__calendar_year {border:1px solid #ffffff;}

.ajax__calendar_active .ajax__calendar_day {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}
.ajax__calendar_active .ajax__calendar_month {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}
.ajax__calendar_active .ajax__calendar_year {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}

.ajax__calendar_other .ajax__calendar_day {background-color:#ffffff;border-color:#ffffff;color:#646464;}
.ajax__calendar_other .ajax__calendar_year {background-color:#ffffff;border-color:#ffffff;color:#646464;}
.ajax__calendar_hover .ajax__calendar_day {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}
.ajax__calendar_hover .ajax__calendar_month {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}
.ajax__calendar_hover .ajax__calendar_year {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}
.ajax__calendar_hover .ajax__calendar_title {color:#0066cc;}
.ajax__calendar_hover .ajax__calendar_today {color:#0066cc;}
.ajax__calendar_disabled .ajax__calendar_day {background-color:#cccccc;border-color:#ffffff;color:#a6a6a6; width:20px;}
.ajax__calendar_disabled .ajax__calendar_year {background-color:#cccccc;border-color:#ffffff;color:#a6a6a6;width:40px;}

*html.treeControl
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 15px;
	color: #CB3E4F;
	padding:0px;
	border-bottom:1px solid #999999;
	border-right:1px solid #999999;
	border-left:1px solid #999999;
	background-color: #F4F5EF;
	overflow: auto;
	margin:0px 0px 0px 0px;
}
.treeControl
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 15px;
	color: #CB3E4F;
	padding:0px;
	border-bottom:1px solid #999999;
	border-right:1px solid #999999;
	border-left:1px solid #999999;
	background-color: #F4F5EF;
	overflow: auto;
	margin:0px 0px 0px 0px;	
}
.borderWhiteR
{
    border-right:solid 1px #FFFFFF;
}
.gridHdrNonSortble
{
	background-color:#D7D7D7;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #A0A0A0;
	text-decoration: none;
	height:28px;	
	text-align:left;
	padding-top:8px;
} 
.tabButton
{
    text-decoration:none;
    background-color:#a0a0a0;
    font-family:verdana;
    font-weight:bold;
    font-size:8pt;
    color:#ffffff;
    text-align:center;
    padding:5px 10px 5px 10px;
    height:20px;
}
.tabButton:hover
{
    text-decoration:none;
    background-color:#777777
}
.tabButtonSelected
{
    text-decoration:none;
    background-color:#993366;
    font-family:verdana;
    font-weight:bold;
    font-size:8pt;
    color:#ffffff;
    text-align:center;
    padding:5px 10px 5px 10px;
    height:20px;
}

.marginL20
{
	margin: 0px 0px 0px 20px;
}

.width934
{
	width: 934px;
}

.marginT2
{
	margin:2px 0px 0px 0px;
}
.roundtopSwitch { 
	background: url(../Images/Curves/Main-RTC.gif) no-repeat right top; 
}
.roundbottomSwitch
{
	background: url(../Images/Curves/Main-RBC.gif) no-repeat right bottom;
	position:relative;
}
/*Styles for Grid Pager*/
#divDoubleBack{
	float:left;
	vertical-align:center; 
	padding-top:2px; 
}
*html #divDoubleBack{
	float:left;
	vertical-align:center; 
	padding-top:2px;
	margin-right:10px; 
}
*+html #divDoubleBack{
	float:left;
	vertical-align:center; 
	padding-top:2px;
	margin-right:2px; 
}
*+html #divBack{
	float:left;
 	vertical-align:center;
  	padding-top:0px;
	background-color:#FFFFCC;
}
*html #divBack{
	float:right;
 	vertical-align:center;
  	padding-top:2px;
	margin-left:5px;
	
}#divBack
{
     float:right; 
	vertical-align:middle;
}
#divNext
{
    float:left; 
vertical-align:middle;
}
#divDoubleNext
{
      float:left; 
      vertical-align:middle;
	  margin-left:25px;
}
.divMessage{
	font-size:11px;
}
/*Styles for Grid Pager ends here*/

/*Styles for Modal PopUp = START*/
#divModalParent {
    margin: auto;
    text-align: left;
}
.modalBackground 
 {
    background-color:Silver;
    filter:alpha(opacity=30) !important;
    opacity:0.3 !important;
    position:absolute !important;
    z-index:1 !important;
 }
 .modalBackgroundConfirm
 {
    background-color:Silver;
    filter:alpha(opacity=30) !important;
    opacity:0.3 !important;
    position:absolute !important;
    z-index:9999 !important;
 }
.pnlConfirm {	
	background-color:#FFEBDE;
	font-family: Tahoma, Arial, Verdana;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	line-height: 18px;
	border: 1px solid #CECBCE;
	padding: 10px;
	position:absolute !important;
	margin-left:650;
	margin-top:350;
}
.pnlConfirmAttach {	
	background-color:#f4f5ef;
	font-family: Tahoma, Arial, Verdana;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	line-height: 18px;
	border: 1px solid #CECBCE;
	padding: 10px;
	position:absolute !important;
	margin-left:650;
	margin-top:350;
}
.pnlConfirmWOListing {	
	background-color:#FFEBDE;
	font-family: Tahoma, Arial, Verdana;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	line-height: 18px;
	border: 1px solid #CECBCE;
	padding: 10px;
	position:fixed;
	margin-left:650;
	margin-top:350;
}
.pnlConfirmWOListingForAction {	
	background-color:#FFEBDE;
	font-family: Tahoma, Arial, Verdana;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	line-height: 18px;
	border: 1px solid #CECBCE;
	padding-top: 10px;
	padding-bottom:10px;
	position:fixed;
	margin-left:650;
	margin-top:350;
}
.divButtonAction
{
	background-color:#999999;
	width: 56px;
	height:19px;
	margin:10px 0px 0px 0px;
	padding:0px;
}
*+html .divButtonAction
{
	height:26px;
}
.divTopActionStyle
{
	border-bottom:1px solid #dbd9dc;
	padding-left:15px;
	padding-right:10px;
	padding-bottom:10px;
	padding-top:5px;
}
.cursorHand
{
	cursor: hand;
}
.lnkbtnHistoryHeader
{
	color:#FFFFFF;
	text-decoration:none;	
}
.lnkbtnHistoryHeader:hover
{
	color:#FFFFFF;
	text-decoration:underline;	
}
/*Styles for Modal PopUp = END*/


#divPrintWOHeader {
height:85px;
width:729px;
background-color:#ffffff;
}

#divPrintWOHeaderMiddleBand {
height:80px;
width:729px;
color:#ffffff;
font-family:Arial;
font-weight:700;
}

#divPrintWOContent {
height:100%;
width:729px;
min-height:400px;
margin-top:1px;
margin-bottom:1px;
}

#divPrintWOContentTopBand {
width:729px;
height:6px;
background-image:url(../Images/WhiteTopBand.gif);
background-repeat:no-repeat;
background-position:bottom;
font-size:0;
line-height:0;
}

#divPrintWOContentMiddleBand {
width:729px;
min-height:400px;
background-color:#FFF;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
padding-top:15px;
}

#divPrintWOContentBtmBand {
width:729px;
height:6px;
background-image:url(../Images/WhiteBtmBand.gif);
background-repeat:no-repeat;
background-position:top;
font-size:0;
line-height:0;
}
.imgLogo {
margin-left:20px;
margin-top:15px;
}
.width60
{
	width:60px;
}
.formFieldRight
{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	padding-left:3px;
	text-align:right;
}

.seperatorBorder
{
    border-right:1px solid #F4F5F0;
}
.lineheight18
{
	line-height:18px; 
}
.moveLeft{
margin-left:-4px;
}
.ddlTime
{
height:16px;
font-size:10px;	
border:solid 1px #999; 
width:40px;
text-align:center; 
}
.watermarked
{
height:16px;
font-size:10px;	
border:solid 1px #999; 
width:40px;
text-align:center;
}

.divDateRange {
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:700;
color:#828282;
background-color:#FBF9FA;
border-bottom:solid 1px #E1E2DC;
width:694px;
padding-top:18px;
}

.clsBgYellow
{
	background-color:#FFFFBC;
	
}
.clsBgGrey
{
	background-color:#EDEDED;
} 


.txtButtonRedCancel {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(../Images/White-Arrow.gif);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 2px;
	padding-left: 4px;
	background-color: #993366;
}
.txtButtonRedCancel:hover {
	color: #D6D6BD;
	background-image: url(../Images/Black-Arrow.gif);
}
/*******************************************************************************
OrderWorkLibrary.css
*******************************************************************************/

html 
{
	height: 100%;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
}
body {
	background-color: #CECECE;
	margin-top: 15px;
	margin-bottom: 4px;
	height:100%;
}

a
{
	text-decoration:none;
}
a:hover
{
	text-decoration:underline; 
}

p {
	margin-top: 0px; 
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}


.boldRedHeader {
	color: #993366;
	font-weight:bold;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-decoration: none;
}
.smallText {
	font-size: 1px;
	line-height: 1px;
	text-decoration: none;
}

.borderWhite1R{
	border-right: 1px solid #FFFFFF;
}
.marginLeftMinusThree
{
	margin: 0px 0px 0px -6px;
}

.gridRowFirstAttachHeader
{
	background-color:#A0A0A0;
	height: 23px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	color: #FFFFFF;
	text-decoration: none;
	border-top: 0px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-bottom: 0px solid #FFFFFF;
	border-left: 0px solid #FFFFFF;
	vertical-align:bottom;
	padding-bottom: 8px;
}
.marginAll10
{
	margin:10px 10px 10px 10px;
}
.tblDGRowInside {
	background-color:#EDEDED;
	height: 35px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	color: #555354;
	text-decoration: none;
	padding-left:5px;
	padding-right: 2px;
	padding-top: 8px;
	padding-bottom: 8px;
	vertical-align:top;
	border-top: solid 0px #EDEEE9;
	border-right: solid 1px #FFFFFF;
	border-bottom: solid 1px  #FFFFFF;
	border-left: solid 0px #EDEEE9;	
	margin: 0px;
}
#tblDLRow td{
	background-color:#EDEDED;
	height: 35px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	color: #555354;
	text-decoration: none;
	border-top: 0px solid #EDEEE9;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-left: 0px solid #EDEEE9;
	padding-left:5px;
	padding-right: 2px;
}
.labelText
{
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	text-decoration: none;
	vertical-align:middle;
	text-align:left;
	padding:0px 0px 0px 10px;
}

.redText
{
	color:Red;
}

.tblBorder
{
	border: 1px solid #999999;
}
.gridText
{
	padding : 0px 0px 0px 8px ;
}
.gridRowHighlight
{
	background-color:#EDEDED;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
	text-decoration: none;
}
.ListSearchExtenderPrompt
{
	font-style: italic;
	color: Gray;
	background-color: white;
	border-right: lightgrey 1px solid;
	border-top: lightgrey 1px solid;
	border-left: lightgrey 1px solid;
	border-bottom: lightgrey 1px solid;
}
.gridTextNew
{
	padding : 0px 0px 0px 8px ;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
	
.AddressTxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 15px;
	font-weight: bold;
	color: #CB3E4F;
	text-decoration: none;
	text-align: right;
}

.gridRowLastAttachHeader
{
	background-color:#A0A0A0;
	height: 23px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	color: #FFFFFF;
	text-decoration: none;
	border-top: 0px solid #FFFFFF;
	border-right: 0px solid #FFFFFF;
	border-bottom: 0px solid #FFFFFF;
	border-left: 0px solid #FFFFFF;
	vertical-align:bottom;
	padding-bottom: 8px;
	padding-left: 8px;
}

.gridRowFirstAttach
{
	background-color:#E6E6E6;
	height: 30px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	color: #5F5F5F;
	text-decoration: none;
	border-top: 0px solid #FFFFFF;
	border-right: 0px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-left: 0px solid #FFFFFF;	
	vertical-align:middle;
}

.formFieldGrey {
 	color: #5F5F5F;  	
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	text-decoration: none;	
	vertical-align: middle;
	text-align:left;
	padding-left:3px;		
	border: 1px solid #999999;       	
}


.width210
{
	width:210px;
}
.width65
{
	width:65px;
}
.gridRowAttach
{
	background-color:#E6E6E6;
	height: 30px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 11px;
	color: #5F5F5F;
	text-decoration: none;
	border-top: 0px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-left: 0px solid #FFFFFF;
	vertical-align:middle;
}
.width310
{
	width:310px;
}

.paddingL8
{
	padding:0px 0px 0px 8px;
}

.validationText {
	
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	line-height: 12px;
	font-weight: normal;
	text-decoration: none;
}
.justifiedTxt
{
	text-align:justify;
}


.formLabelGrey
{
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	text-decoration: none;
	text-align:left;	
}

.txtButtonNoArrow {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #A0A0A0;
}


.txtButtonNoArrow:hover {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #D6D6BD;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #A0A0A0;
}

.remarksAreaCollapse {
	background-color: #EDEDED;
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	line-height: 13px;
	text-align: left;
}

.paddingTop42
{
	padding: 42px 0px 0px 0px;
}
	
.bgActivateLink
{
	background-color: #F4F5F0;
	font-size: 15px;
	font-weight: bold;
}
	

.divWorkOrder {
	
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	line-height: 12px;
	font-weight: normal;
	text-decoration: none;
	background-color: #F4F5EF;
	/*width: 100%;
	border-width: 1px;
	border-style: solid; 
	border-color: #DCDDD8;*/
	margin-bottom:20px;
	
}	

.WorkOrderTopCurve { 
	background: #C4D5DC url(../Images/Curves/blue_RightCurve.gif) no-repeat right top; 

}

.WorkOrderBottomCurve
{
/*	background: url(../Images/Curves/Attach-BR.gif) no-repeat right bottom;*/
	background: url(../Images/Curves/BtmRight.gif) no-repeat right bottom;
}

.formHdrText
{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	line-height: 12px;
	font-weight: bold;
	text-decoration: none;		
}	
	
.width635height60 {
	width: 635px;
	height:60px;	
}

.width635height142 {
	width: 635px;
	height:142px;	
}.InvoiceText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.formField40 {
	color: #5F5F5F;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	border: 1px solid #999999;
	vertical-align: middle;
	padding-left:3px;	
	margin-right:5px;
	width: 40px;
}

.bodyTextSmallRed {
color:#993366;
font-family:Arial, Geneva, Helvetica, sans-serif;
font-size:11px;
text-decoration:none;
line-height:13px;
}
/* STANDARD TAG STYLES*/



#divPrintWOHeader {
height:85px;
width:738px;
background-color:#F4F5F0;
}

#divPrintWOHeaderMiddleBand {
height:80px;
width:738px;
color:#B7B7B5;
font-family:Arial;
font-weight:700;
}

#divPrintWOContent {
height:100%;
width:738px;
min-height:400px;
margin-top:1px;
margin-bottom:1px;
}

#divPrintWOContentTopBand {
width:738px;
height:6px;
background-image:url(../Images/WhiteTopBand.gif);
background-repeat:no-repeat;
background-position:bottom;
font-size:0;
line-height:0;
}

#divPrintWOContentMiddleBand {
width:738px;
min-height:400px;
background-color:#FFF;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
padding-top:15px;
}

#divPrintWOContentBtmBand {
width:738px;
height:6px;
background-image:url(../Images/WhiteBtmBand.gif);
background-repeat:no-repeat;
background-position:top;
font-size:0;
line-height:0;
}
.imgLogo {
margin-left:20px;
margin-top:15px;
}
#leftText {
float:left;
width:89px;
}

#divRightText {
float:left;
width:80px;
}
.clsDepotSheet
{
	cursor:pointer;
}
.clsDepotSheetAlt
{
	cursor:default;
}
.displayNone
{
	display: none;
}

.classSortIconUp
{
	background-image:url(../Images/RedArrow-Up.gif);
	background-repeat:no-repeat;
	background-position:center left;
	margin-left:2px;
	width:10px;
	height:10px;
}
.classSortIconDown
{
	background-image:url(../Images/RedArrow-Down.gif);
	background-repeat:no-repeat;
	background-position:center left;
	margin-left:2px;
	width:10px;
	height:10px;
}

.b1, .b2, .b3, .b4{font-size:1px; overflow:hidden; display:block;}
.b1 {height:1px; background:#CECBCE; margin:0 5px;}
.b2 {height:1px; background:#fff; border-right:2px solid #CECBCE; border-left:2px solid #CECBCE; margin:0 3px;}
.b3 {height:1px; background:#fff; border-right:1px solid #CECBCE; border-left:1px solid #CECBCE; margin:0 2px;}
.b4 {height:2px; background:#fff; border-right:1px solid #CECBCE; border-left:1px solid #CECBCE; margin:0 1px;}

.clsRatingInner
{
	 border-right:1px solid #CECBCE; 
	 border-left:1px solid #CECBCE;
	 padding:5px 10px 5px 10px; 
	 background-color:#fff;
}

/* New modal pop up*/

#divModalPopUpParent {
    margin: auto;
    text-align: left;
    padding:10px;
    background-color:#fff;
    border-left: 1px solid #CECBCE;
    border-right: 1px solid #CECBCE;
}
.modalPopUpBackground 
 {
    background-color:Silver;
    filter:alpha(opacity=30) !important;
    opacity:0.3 !important;
    position:absolute !important;
    z-index:1 !important;
 }
.pnlPopUp{	
	
	font-family: Tahoma, Arial, Verdana;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	line-height: 18px;
	/*border: 1px solid #CECBCE;*/
	/*padding: 10px;*/
	position:absolute !important;
	margin-left:650;
	margin-top:350;
}

.clsColorBlue
{color:#0B95D0;}
.searchResult{
background-color: #CCCCCC;
    border: 1px solid #CCCCCC;
    color: #000000;
    display: none;
    float: left;
    font-family: verdana;
    font-size: 10px;
    margin: 0 2px;
    padding: 2px;
    position: absolute;
    z-index: 1;}

.highlight{
background-color: #dddddd;
color: #000;}
.normalize{
background-color: #cccccc;
color: #050;}
.txthighlight{font-weight: bold; text-decoration: underline;}

/***************************Registration starts here ***************************************/
.PopUpTailRegisterDiv
{
min-height:51px; 
height:100%;
width:542px; 
padding-top:15px; 
padding-left:15px; 
padding-right:15px;
padding-bottom:15px; 
font-size:11px;
float:left; 
margin-top:10px; 
background-color:#FEFDE1; 
border:solid 1px #EAE8C1;
}
.LoginInfo{
  width:680px;
  /*height:260px;*/
  float:left;
  margin:20px 0px 20px 20px;
  }

.Row{
width:625px;
float:right;
margin-top:10px;
}
.TxtName{
width:150px;
 padding-top:5px; 
 float:left;
 font-size:11px;

}
.TxtLogin{
width:350px;
height:20px;
border-color:#999999;
border-style:solid;
border-width:1px;
font-size:11px;
}
/*.GetAddBuyer {
   background-image:url(../Images/GetAddYellow.gif);
   background-repeat:no-repeat;
   background-position:left top;
   font-size:11px;
   color:#000000;   
   text-decoration:none;
   height:20px;
   width:80px;
   margin-left:10px;
   padding:4px 12px 5px 10px;
 }
 
 .GetAddBuyer:hover{
  color:#ED3F1C;
  }*/


.Button
{
	width:111px;
	height:30px;
	cursor:pointer;
	font-size:13px;
	padding-top:10px;
	text-align:center;
	background-repeat:no-repeat;
	margin-left:10px;
	text-decoration:none;	
}
.RegisterBuyer {
   float:right;
   background-image:url(../Images/OrangeBtn_Small.jpg);
   background-repeat:no-repeat;
   width:133px;
   font-size:14px;
   color:#000000;
 }
 
 .RegisterBuyer:hover{
  color:#ED3F1C;
  }
  .txtLinkSmlBody {
	font-size: 11px;
	color:#8C8C8C;
	text-decoration:underline;
}
.txtLinkSmlBody:hover {
	font-size: 11px;
	color:#84A8F6;
	text-decoration:underline;
}
  
.HighlightTab
{text-decoration:none;float:left;background-color:#993366;font-family:verdana;font-weight:bold;font-size:8pt;color:#ffffff;width:150;height:21;text-align:center;}
.NormalTab
{text-decoration:none;float:left;background-color:#a0a0a0;font-family:verdana;font-weight:bold;font-size:8pt;color:#ffffff;width:150;height:21;text-align:center;}

/***************************Registration ends here ***************************************/

#modalContainer {
	background-color:Transparent;
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	/*z-index:10000;*/
	background-image:url(tp.png); /* required by MSIE to prevent actions on lower z-index elements */
}

#alertBox {
	position:relative;
	width:300px;
	min-height:100px;
	margin-top:350px;
	border:1px solid #000;
	background-color:#FBF8F9;
	background-image:url(alert.png);
	background-repeat:no-repeat;
	background-position:20px 30px;
	z-index:99999;
}

#modalContainer > #alertBox {
	position:absolute;
}

#alertBox h1 {
	margin:0;
	font:bold 0.9em verdana,arial;
	background-color:#CE3439;
	color:#FFF;
	border-bottom:1px solid #000;
	padding:4px 0 4px 5px;
}

#alertBox p {
	font:10px verdana,arial;
	min-height:30px;
	padding-left:5px;
	margin-left:25px;
}

#alertBox #yesBtn {
	display:block;
	position:relative;
	margin:5px auto 5px 20%;
	padding:3px;
	border:1px solid #000;
	width:70px;
	font:0.7em verdana,arial;
	text-transform:uppercase;
	text-align:center;
	color:#FFF;
	background-color:#CE3439;
	text-decoration:none;
	font-weight:bold;
	float:left;
}

#alertBox #noBtn {
	display:block;
	position:relative;
	margin:5px auto 5px 10px;
	padding:3px;
	border:1px solid #000;
	width:70px;
	font:0.7em verdana,arial;
	text-transform:uppercase;
	text-align:center;
	color:#FFF;
	background-color:#CE3439;
	text-decoration:none;
	font-weight:bold;
	float:left;
}
.HideButton
{
	width:0px;
	height:0px;
	visibility:hidden;
	font-size:0px;	
}

/***************************Function For Tabular AOE selection Starts Here ***************************************/

.clsSkillSetLeft
{
	float:left;width:133px;height:30px;padding-left:10px;padding-top:7px;
}
.divSkillSetRight
{
  float:left;width:524px;border-left:1px solid #d4d4d4;
}
.clsNotSelectedSkillDiv
{
 float:left;height:22px;width:121px;cursor:pointer;line-height:14px;margin:1px;font-size:12px;line-height:14px;background-image:url(../Images/gery_btn_It.gif);padding-left:8px;padding-top:6px;
}

.clsSelectedSkillDiv
{
float:left;height:22px;width:121px;cursor:pointer;line-height:14px;color: #FFFFFF;margin:1px;font-size:12px;line-height:14px;background-image:url(../Images/Hover_red.gif);padding-left:8px;font-weight:bold;padding-top:6px;
 }
 .clsNotSelectedSkillLeftDiv
{
 float:left;height:32px;width:144px;cursor:pointer;padding-top:6px;line-height:14px;text-align: center;font-size:12px;margin-right:1px;
}
.clsSelectedSkillLeftDiv
{
 float:left;height:32px;width:137px;cursor:pointer;line-height:14px; background-color: #EC5858;color: #FFFFFF;text-align: center;font-size:12px;margin-right:1px;margin-top:1px;border-right:1px solid #d4d4d4;background-image:url(../Images/Tablets_hover.gif);padding-left:6px;padding-top:6px;font-weight:bold;
 }
.divSkillSetRight div input
{
	float:left;margin-right:5px;
}

.clsNotSelectedSkillDivRetail
{
 float:left;height:32px;width:121px;cursor:pointer;line-height:14px;margin:1px;font-size:10px;line-height:14px;background-image:url(../Images/gery_btn.gif);padding-left:8px;padding-top:6px;
}
.divStyle
{
	float:left;background-color:#f4f4f4;width:670px;border:1px solid #d4d4d4;margin-bottom:4px;margin-top:1px;
}
.divStyleAlternate
{
   float:left;background-color:#f8f8f8;width:670px;border:1px solid #d4d4d4;margin-bottom:4px;margin-top:1px;	
}
.clsLeftCheckBox
{
	float:left;margin-right:5px;
}
.clsLeftDivTextSkillSet
{
	vertical-align:top;line-height:14px;font-size:10px;
}
.clsITMain
{ width:670px;height:100%;float:left;margin-top:6px;border-bottom:1px solid #d4d4d4;border-top:1px solid #d4d4d4;
 }
.clsITkillSet
{
 float:left;height:20px;background-color:#d4d4d4;width:660px;padding-left:10px;padding-top:5px;color:#000000;border-left:1px solid #d4d4d4;border-right:1px solid #d4d4d4;font-size:12px;
}
.clsRetailMain
{ width:670px;height:100%;float:left;border-top:1px solid #d4d4d4;
 }
.clsRetailskillSet
{
 float:left;height:20px;background-color:#d4d4d4;width:660px;padding-left:10px;padding-top:5px;color:#000000;border-left:1px solid #d4d4d4;border-right:1px solid #d4d4d4;font-size:12px;
}

/***************************Function For Tabular AOE selection Ends Here ***************************************/


.highlightKeyword{
background-color: #dddddd;
color: #000;
cursor:default;}
.normalizeKeyword{
background-color: #FFFFFF;
color: #050;
cursor:default;}
#tbl1 td
{border-bottom:1px solid #f4f4f4;width:252px;font-family:Arial;font-size:12px;padding:4px;color:#949494}
.txthighlight{color:#000000;}
.txtAddButton {
text-decoration:none;
background-image:url(../Images/Add_btn.gif);
background-repeat:no-repeat;
float:left;
height:28px;
width:54px;
margin-left:10px;
}





.roundedCornersTopManDiv
{
	-moz-border-radius:3px; -webkit-border-radius:3px;float:left;position:absolute;z-index:9999;border: 1px solid #999999;
        margin-top:5px; padding: 0px 0px 10px 10px; background-color: #f4f4f4;
        display: block;width:385px;min-height:145px;        
	
}
*+html .roundedCornersTopManDiv{margin-left:-256px;margin-top:5px;}
.lblOverviewBlue
{
	color:#000000;
	font-size:12px;
	font-family:Arial;
}
.clsTopImage{background-image:url(../Images/Arrows/Top-arrow.gif);
background-repeat:no-repeat;height:10px;
width:18px;margin: -10px 0px 0px 100px; position: absolute;}
.roundedCornersKeyword
{
	-moz-border-radius:3px; -webkit-border-radius:3px;float:left;position:absolute;z-index:9999;border: 1px solid #999999;
        margin-top:30px; padding: 0px 0px 0px 10px; background-color: #f4f4f4;
        width:380px;height:145px;margin-left:-10px;
	
}
.clsTopImageKeyword{background-image:url(../Images/Arrows/Top-arrow.gif);
background-repeat:no-repeat;height:10px;
width:18px;margin: -10px 0px 0px 15px; position: absolute;}
*+html .clsTopImageKeyword{margin-left:-40px;}


 .divStyle1{background-color:#f8f6f7;border: 1px solid #EC5858;border-radius:5px;
 -webkit-border-radius:5px 5px 5px 5px;padding-left:10px;padding-right:5px;padding-top:5px;padding-bottom:8px;color:#000000;float:left;margin-left:10px;margin-bottom:10px;cursor:pointer;font-size:12px;}
   .divStyle2{background-color:#f8f6f7;border: 1px solid #54afe8;border-radius:5px;
 -webkit-border-radius:5px 5px 5px 5px;padding-left:10px;padding-right:5px;padding-top:5px;padding-bottom:8px;color:#000000;float:left;margin-left:10px;margin-bottom:10px;cursor:pointer;font-size:12px;}
 .divStyle3{background-color:#f8f6f7;border: 1px solid #68dd51;border-radius:5px;
 -webkit-border-radius:5px 5px 5px 5px;padding-left:10px;padding-right:5px;padding-top:5px;padding-bottom:8px;color:#000000;float:left;margin-left:10px;margin-bottom:10px;cursor:pointer;font-size:12px;}
   .marginleft8{margin-left:8px;}
   .clsFloatLeft{float:left;}
.roundedCornersForMoreInfo
{
	-moz-border-radius:3px; -webkit-border-radius:3px;float:left;position:absolute;z-index:9999;border: 1px solid #999999;
        padding: 0px 0px 10px 10px; background-color: #f4f4f4;
        display: block;margin-top:25px;min-height:80px;width:240px;margin-left:-10px;z-index:9996;        
	
}
*+html .roundedCornersForMoreInfo{margin-left:-60px;}

.deleteButtonAccredation
{text-decoration:none;color:Black;font-size:16px;margin-top:-1px;float:left;}

.divStyleOthers
{
 border: 1px solid #999999;
     max-width: 550px; min-width: 400px;margin-top:5px;padding-top:10px;padding-bottom:10px;float:left;padding-right:10px;z-index:1000
}
.divStyleEngineer
{
 border: 1px solid #999999;
    max-width: 550px; min-width: 400px;margin-top:5px;padding-top:10px;padding-bottom:10px;float:left;padding-right:10px;z-index:1003;
}
.divStyleCompany
{
border: 1px solid #999999;
    max-width: 550px; min-width: 400px;margin-top:5px;padding-top:10px;padding-bottom:10px;float:left;padding-right:10px;z-index:1005;
}
.searchResultAccredations{
position:absolute;
border:1px solid #CCC;
background-color: #cccccc;
color: #000;
font-family:verdana;
font-size:10px;
padding:2px;
margin:0 2px;
z-index:1;float:left;cursor:hand; display:none;}
.divUserNotesDetail
{
	visibility:hidden;position:absolute;margin-left:-210px;z-index:9999;margin-top:-8px;
}
*+html .divUserNotesDetail
{
	margin-left:-240px;
	margin-top:15px;
}
.divUserNotesDetailForIssueList
{
	visibility:hidden;position:absolute;margin-left:-140px;z-index:9999;
}

.divOuterpnlTimeBuilderQuestions{border:1px solid #E2E2E2;float:left;padding: 15px;} /* width 1000px,1030 */
.clstabImage1{cursor:pointer;vertical-align:middle;background-image:url(../Images/ImgTimeBuilderQuestionsTab1.jpg);height: 27px; width: 70px;}   
.clstabImage2{margin-left: 5px;cursor:pointer;vertical-align:middle;background-image:url(../Images/ImgTimeBuilderQuestionsTab2.jpg);height: 27px; width: 70px;}
.clstabImage3{margin-left: 5px;cursor:pointer;vertical-align:middle;background-image:url(../Images/ImgTimeBuilderQuestionsTab3.jpg);height: 27px; width: 70px;}
.clstabImage4{cursor:pointer;vertical-align:middle;background-image:url(../Images/ImgTimeBuilderQuestionsTab4.jpg);height: 27px; width: 70px;}   
.clstabImage5{margin-left: 5px;cursor:pointer;vertical-align:middle;background-image:url(../Images/ImgTimeBuilderQuestionsTab5.jpg);height: 27px; width: 70px;}
.clstabImage6{margin-left: 5px;cursor:pointer;vertical-align:middle;background-image:url(../Images/ImgTimeBuilderQuestionsTab6.jpg);height: 27px; width: 70px;}

.clstabImage1:hover{background-image:url(../Images/ImgTimeBuilderQuestionsTab1selected.jpg);}
.clstabImage2:hover{background-image:url(../Images/ImgTimeBuilderQuestionsTab2selected.jpg);}
.clstabImage3:hover{background-image:url(../Images/ImgTimeBuilderQuestionsTab3selected.jpg);}
.clstabImage4:hover{background-image:url(../Images/ImgTimeBuilderQuestionsTab4selected.jpg);}
.clstabImage5:hover{background-image:url(../Images/ImgTimeBuilderQuestionsTab5selected.jpg);}
.clstabImage6:hover{background-image:url(../Images/ImgTimeBuilderQuestionsTab6selected.jpg);}


.clstabImage1Selected{cursor:pointer;vertical-align:middle;background-image:url(../Images/ImgTimeBuilderQuestionsTab1selected.jpg);height: 27px; width: 70px;}   
.clstabImage2Selected{margin-left: 5px;cursor:pointer;vertical-align:middle;background-image:url(../Images/ImgTimeBuilderQuestionsTab2selected.jpg);height: 27px; width: 70px;}
.clstabImage3Selected{margin-left: 5px;cursor:pointer;vertical-align:middle;background-image:url(../Images/ImgTimeBuilderQuestionsTab3selected.jpg);height: 27px; width: 70px;}
.clstabImage4Selected{cursor:pointer;vertical-align:middle;background-image:url(../Images/ImgTimeBuilderQuestionsTab4selected.jpg);height: 27px; width: 70px;}   
.clstabImage5Selected{margin-left: 5px;cursor:pointer;vertical-align:middle;background-image:url(../Images/ImgTimeBuilderQuestionsTab5selected.jpg);height: 27px; width: 70px;}
.clstabImage6Selected{margin-left: 5px;cursor:pointer;vertical-align:middle;background-image:url(../Images/ImgTimeBuilderQuestionsTab6selected.jpg);height: 27px; width: 70px;}

.clstabImage1Selected:hover{background-image:url(../Images/ImgTimeBuilderQuestionsTab1.jpg);}
.clstabImage2Selected:hover{background-image:url(../Images/ImgTimeBuilderQuestionsTab2.jpg);}
.clstabImage3Selected:hover{background-image:url(../Images/ImgTimeBuilderQuestionsTab3.jpg);}
.clstabImage4Selected:hover{background-image:url(../Images/ImgTimeBuilderQuestionsTab4.jpg);}
.clstabImage5Selected:hover{background-image:url(../Images/ImgTimeBuilderQuestionsTab5.jpg);}
.clstabImage6Selected:hover{background-image:url(../Images/ImgTimeBuilderQuestionsTab6.jpg);}

.floatleft{float:left;}
.floatLeft{float:left;}
.floatRight{float:right;}
.floatright{float:right;}

.clsGreyBandStyleFund{width:475px;padding-left:30px;font-weight: bold;padding-top:8px;height:24px;color:#BF493F;background-image:url(../OWLibrary/Images/OrderWorkUkRedesign/Title_bg.gif);}
.marginBottom10{margin-bottom:10px;}
.clsButtonGreyDetailsAccept{width:160px;height:15px;padding-top:3px;font-size:11px;cursor:pointer;margin-left:45px;color:Black;text-decoration:none;padding-left:10px;padding-top:5px;padding-bottom:5px;background-image:url(../OWLibrary/Images/OrderWorkUkRedesign/Accept_Btn.png);}
   .clsButtonGreyDetailsAccept:hover{color:#c54043}
   .clsButtonGreyDetailsAlert{width:210px;height:15px;padding-top:3px;font-size:11px;cursor:pointer;margin-left:10px;color:Black;text-decoration:none;padding-left:10px;padding-top:5px;padding-bottom:5px;background-image:url(../OWLibrary/Images/OrderWorkUkRedesign/Alert_Btn.png);}
   .clsButtonGreyDetailsAlert:hover{color:#c54043}
   
#divMediumBtnImage a {
color:#575B5E;
font-family:Verdana;
font-size:11px;

text-decoration:none;
}

#divMediumBtnImage a:hover{
color:#C54043;
font-family:Verdana;
font-size:11px;

text-decoration:none;
}

.txtGrid {
    border: 1px solid #E2E1DD;
    padding: 5px;
    text-align: left;
    vertical-align: top;
}

